@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800;900&display=swap");
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.text-line {
    line-height: 1.3;
}
h1 {
    font-weight: 900;
}
h2 {
    font-weight: 800;
}
h3 {
    font-size: 20px;
}
.color-green {
    color: #40975f;
}
.bg-green {
    background-color: #e4ffee;
}
.color-blue {
    color: #2563ff;
}
.bg-blue {
    background-color: #f4f4ff;
}
.color-red {
    color: #f55767;
}
.bg-red {
    background-color: #ffecef;
}

.navbar {
    background-color: white;
    z-index: 5;
}

.navbar-brand {
    vertical-align: middle;
    font-weight: 900;
    color: #080869 !important;
}
footer .navbar-brand {
    color: white !important;
}
.navbar-brand span {
    color: #ff0033;
}
.navbar-brand .logo-img {
    height: 2em;
    margin-right: 5px;
    margin-top: -6px;
}
.section-banner {
    position: relative;
    min-height: 500px;
}
.section-banner .container {
    z-index: 1;
}
.section-banner:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/dashboard/images/header-bg-top.gif");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    z-index: 0;
}

.section-banner:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/dashboard/images/header-bg.gif");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom left;
    position: absolute;
    z-index: 0;
}

.card {
    margin-bottom: 10px;
    background-color: #f5f7fa;
    border: 0;
    border-radius: 0 !important;
}
.card-header {
    background-color: #f5f7fa;
    border: 0;
}
.card-header .btn-link:focus,
.card-header .btn-link:hover {
    box-shadow: none;
    outline: none;
    text-decoration: none;
}
.card-header .btn-link {
    padding-left: 0;
    padding-right: 15px;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    font-weight: 500;
    color: #333;
}
.card-header .btn-link .fa {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 22px;
}
.card-header .btn-link .fa-angle-down,
.card-header .btn-link.collapsed .fa-angle-up {
    display: none;
}
.card-header .btn-link.collapsed .fa-angle-down,
.card-header .btn-link .fa-angle-up {
    display: inline-block;
}
.section-download {
    min-height: 400px;
    background-image: url("/dashboard/images/download-app-banner.gif");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right top;
}
footer {
    background-color: #09142e;
    padding: 50px 0;
}
footer * {
    color: white;
}
.footer-link .nav-item {
    display: inline-block;
}
.footer-link .nav-item .nav-link {
    padding: 0 5px !important;
}
.slide-img {
    width: 90%;
    padding: 5% 0;
}
.slide-text p {
    line-height: 1.2;
}

.blog-description h2{
    font-weight: 500;
    font-size: 24px;
}

.blog-links a.link {
    padding: 9px 10px;
    margin-bottom: 6px;
    background-color: #ff0033;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.post-view{
    margin-top: 5px;
}

.post-view p{
    font-size: 14px;
}

.post-view li{
 padding: 20px !important;
 box-shadow: 0 0 3px rgba(0,0,0,0.5);
 margin-bottom: 20px;
}

.post-view li li{
    padding: 0 !important;
    box-shadow: none;
    margin-bottom: 0;
}
.post-view li h1{
    font-size: 22px;
}
.post-view li h2{
    font-size: 16px;
}

.post-view li h4{
    font-size: 15px;
}

@media only screen and (max-width: 640px) {
    .slide-img {
        width: 70%;
        padding: 5% 0;
    }
    .body {
        padding-top: 60px;
    }
    .section-banner {
        position: relative;
        min-height: 300px;
    }
    h1 {
        font-size: 20px;
        line-height: 1.2;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 14px;
    }
    h4 {
        font-size: 18px;
    }
    .section-banner p {
        font-size: 12px;
        line-height: 1.2;
    }
    .play-btn {
        width: 40%;
    }

    .section-download {
        background-image: none;
        min-height: auto;
    }
    footer {
        background-color: #09142e;
        padding: 20px 0;
    }
    .nav-link {
        padding: 0 3px;
    }
    .navbar-toggler {
        padding: 5px 10px;
        font-size: 14px;
    }
    .card-header,
    .card-body {
        padding: 0.75rem;
    }
    .card-body {
        font-size: 13px;
        line-height: 1.3;
    }
    .card-header .btn-link {
        font-size: 14px;
        line-height: 1.4;
    }
    .navbar-collapse.show,
    .navbar-collapse.collapsing {
        position: static !important;
        width: auto;
        margin-left: -15px;
        margin-right: -15px;
    }
    .navbar-nav {
        margin-top: 10px;
        width: 50%;
        float: left;
    }
    .navbar-nav + .btn-primary.rounded-pill {
        margin-top: 15px;
    }
}
