<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js"></script>

<link href="/fragments/css/mandi.css" rel="stylesheet"></link>
<script type="text/javascript">
    $(function () {
        $("#header").load("/fragments/html/header");
        var params = (new URL(window.location)).searchParams;
        let id = params.get("id");

        new Vue({
            el: "#app",
            data: {
                messages: [],
                User : Lockr.get("User"),
                Facility : { },
                current : {
                    index : -1 ,
                    Items : [] ,
                    UnitOfMeasures : [],
                    AssetCodes : [],
                    lookupselectionIndex : -1,
                    Inventory: {},
                    AdjustmentQuantity : 0 ,
                    itemEdited : false,
                }
            },
            created: function () {
                let self = this;
                api().url("/facilities/show/" + id).get().then(function (response) {
                    if (!response.Facility.Inventories){
                        response.Facility.Inventories = [] ;
                    }
                    response.Facility.Inventories.forEach((inv, i) => {
                        if (!inv.Sku.Item.AssetCode){
                           inv.Sku.Item.AssetCode = { Code : "" };
                        }
                    });

                    Vue.set(self,"Facility", response.Facility);
                    self.showApp();
                }).catch(function (err) {
                    self.messages.push(err.response.data.SWFHttpResponse.Error);
                    self.showApp();
                    self.autoClearMessage();
                })
            },
            methods: {
                showApp: function () {
                    $("#root").show();
                },
                message: function () {
                    var message = "";
                    let self = this;
                    self.messages.forEach(function (m) {
                        message += " " + m;
                    });
                    return message;
                },
                autoClearMessage: function () {
                    let self = this;
                    setTimeout(function () {
                        self.messages = [];
                    }, 1500);
                },
                create: function(event){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;

                    var i = {
                            Company :self.User.Company ,
                            Facility : { Id : self.Facility.Id},
                            Sku : {
                                Item :{
                                    Name :"",
                                    Company : {Name :"MANDI"},
                                    AssetCode : { "Code" : "" } ,
                                },
                                Name : "",
                                SkuCode  : "" ,
                                PackagingUOM : {
                                    Measures : "Packaging",
                                    Name :""
                                },
                                Published : "Y"
                            },
                            Quantity : "0" ,
                            Infinite : "N"
                        };
                    let last = self.Facility.Inventories.length > 0 ? self.Facility.Inventories[self.Facility.Inventories.length -1] : null ;

                    if (!last || last.Id){
                        self.Facility.Inventories.push(i);
                        self.edit(null,self.Facility.Inventories.length-1);
                    }

                },
                edit: function(event,index){
                    if (event){
                        event.preventDefault();
                    }
                    this.current.index = index;
                    if (index >= 0 ){
                        this.current.Inventory = JSON.parse(JSON.stringify(this.Facility.Inventories[this.current.index] ) );
                    }else {
                        this.current.Inventory = {};
                        let length = this.Facility.Inventories.length;
                        let last = length >  0 ? this.Facility.Inventories[length - 1] : null ;
                        if (last && !last.Id){
                            this.Facility.Inventories.splice(length -1 , 1);
                        }
                        this.current.AdjustmentQuantity = 0 ;
                    }
                },
                cancel: function(event){
                    if (event){
                        event.preventDefault();
                    }
                    this.edit(event,-1);
                },
                save: function(event){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let index = self.current.index;
                    let i = self.current.Inventory;
                    let newRecord = !i.Id;
                    let newProduct = !i.Sku.Id;
                    delete i.Quantity;



                    api().url("/api/adjust").parameters({AdjustmentRequest : { NewProduct : newProduct , "Inventory" :i, AdjustmentQuantity :self.current.AdjustmentQuantity,
                    Comment : "Adjust" }}).post().then(function (response) {
                        var inv = response.AdjustmentRequests[0].Inventory;
                        if (!inv.Sku.Item.AssetCode){
                            inv.Sku.Item.AssetCode = { Code : "" };
                        }

                        if (newRecord){
                            self.Facility.Inventories.splice(self.Facility.Inventories.length-1,1,response.AdjustmentRequests[0].Inventory);
                        }else {
                            self.Facility.Inventories.splice(index,1,response.AdjustmentRequests[0].Inventory);
                        }
                        self.cancel(null);
                    }).catch(function (err) {
                        self.messages.push(err.response.data.SWFHttpResponse.Error);
                        self.autoClearMessage();
                    });

                },
                zeroInventory: function(event,index){
                    if (event){
                        event.preventDefault();
                    }

                    let self = this;
                    let i = self.Facility.Inventories[index];

                    let newRecord = !i.Id;
                    if (!newRecord){
                        i.Infinite = "N";
                        api().url("/api/adjust").parameters({AdjustmentRequest : { Inventory : i, AdjustmentQuantity : -1 * i.Quantity, Comment : "Remove Inventory" , NewProduct : "N" } }).post().then(function (response){
                            self.Facility.Inventories.splice(index,1,response.AdjustmentRequests[0].Inventory);
                        }).catch(function (err) {
                            self.messages.push(err.response.data.SWFHttpResponse.Error);
                            self.autoClearMessage();
                        });
                    }else {
                        self.Facility.Inventories.splice(index,1);
                    }
                },
                infiniteInventory: function(event,index){
                    if (event){
                        event.preventDefault();
                    }

                    let self = this;
                    let i = self.Facility.Inventories[index];

                    let newRecord = !i.Id;
                    if (!newRecord){
                        i.Infinite = "Y";
                        api().url("/api/adjust").parameters({AdjustmentRequest : { Inventory : i, AdjustmentQuantity : -1 * i.Quantity, Comment : "Mark Infinite Inventory" , NewProduct : "N" } }).post().then(function (response){
                            self.Facility.Inventories.splice(index,1,response.AdjustmentRequests[0].Inventory);
                        }).catch(function (err) {
                            self.messages.push(err.response.data.SWFHttpResponse.Error);
                            self.autoClearMessage();
                        });
                    }else {
                        self.Facility.Inventories.splice(index,1);
                    }
                },
                isKeyTriggerable: function (e,length = 3) {
                    return e.target.value.length >= length;
                    /*
                    if (e && e.keyCode >= 48 && e.keyCode <= 90) {
                        return true;
                    }
                    return false;
                    */
                },
                onItemBlur: function(e){
                    e && e.preventDefault();
                    if (!this.itemEdited) {
                        return;
                    }

                    let self = this;
                    self.itemEdited = false;
                    self.current.Items = [];
                    self._invokeItemLookup(e);
                },
                _invokeItemLookup: function(e){
                    let self = this;
                    if (self.current.Items.length == 0){
                        self.current.Inventory.Sku = {
                            Item :{
                                Name :e.target.value,
                                Company : {Name :"MANDI"},
                                AssetCode : { "Code" : "" } ,
                            },
                            Name : "",
                            SkuCode  : "" ,
                            PackagingUOM : {
                                Measures : "Packaging",
                                Name :""
                            },
                            Published : "Y"
                        };
                    }else{
                        self.loadLookupEntries(e.target);
                    }

                },
                onItemChange: function (e) {
                    e && e.preventDefault();
                    if (!this.isKeyTriggerable(e)) {
                        return;
                    }
                    let self = this;
                    self.itemEdited = true;
                    new Autocomplete("items", e.target).search().then(function (response) {
                        if (!response) {
                            return
                        }
                        self.current.Items = response.Items;
                        self._invokeItemLookup(e);
                    });
                },
                onItemSelect: function (e, item) {
                    e && e.preventDefault();
                    let self = this;
                    self.current.Inventory.Sku.Item = item;
                    self.current.Inventory.SellingPrice = self.current.Inventory.Sku.MaxRetailPrice
                    if (item.AssetCode){
                        self.current.Inventory.Sku.TaxRate = item.AssetCode.GstPct
                    }
                    self.current.Items = [];
                },
                onAssetCodeChange: function (e) {
                    e && e.preventDefault();
                    if (!this.isKeyTriggerable(e)) {
                        return;
                    }

                    let self = this;

                    new Autocomplete("asset_codes", e.target).search().then(function (response) {
                        if (!response) {
                            return
                        }
                        self.current.AssetCodes = response.AssetCodes;
                        if (response.AssetCodes.length === 0) {
                            self.current.Inventory.Sku.Item.AssetCode = { Code : e.target.value };
                            //self.onAssetCodeSelect(null, self.current.AssetCodes[0]);
                        } else {
                            self.loadLookupEntries(e.target);
                        }
                    });
                },
                onAssetCodeSelect:function (e, item) {
                    e && e.preventDefault();
                    let self = this;
                    self.current.Inventory.Sku.Item.AssetCode = item;
                    self.current.Inventory.Sku.TaxRate = item.GstPct
                    self.current.AssetCodes = [];
                },
                onUnitOfMeasureChange: function (e) {
                    e && e.preventDefault();
                    let self = this;
                    delete self.current.Inventory.Sku.PackagingUOM.Id;

                    if (!this.isKeyTriggerable(e,1) && self.current.UnitOfMeasures.length == 0 ) {
                        return;
                    }

                    new Autocomplete("unit_of_measures", e.target,1).search("NAME" , "MEASURES:Packaging").then(function (response) {

                        if (response){
                            self.current.UnitOfMeasures = response.UnitOfMeasures;
                        }else {
                            self.current.UnitOfMeasures = [];
                        }
                        if (self.current.UnitOfMeasures.length === 0) {
                            //self.onUnitOfMeasuresSelect(null, self.current.UnitOfMeasures[0]);
                            self.current.Inventory.Sku.PackagingUOM = {
                                Measures : "Packaging",
                                Name : e.target.value,
                            };
                        } else {
                            self.loadLookupEntries(e.target);
                        }
                    });
                },
                onUnitOfMeasuresSelect:function (e, uom) {
                    e && e.preventDefault();
                    let self = this;
                    delete uom.Id ;

                    self.current.Inventory.Sku.PackagingUOM = uom ;
                    api().url("/skus/search/ITEM:\'"+self.current.Inventory.Sku.Item.Name+"\' AND PACKAGING_U_O_M:\'"+ uom.Name +"\'").get().then(function(response){
                        if (response.Skus.length === 1){
                            self.current.Inventory.Sku = response.Skus[0];
                            self.current.Inventory.SellingPrice = self.current.Inventory.Sku.MaxRetailPrice
                            self.current.Inventory.Sku.TaxRate = self.current.Inventory.Sku.Item.GstPct

                        }
                    });
                    self.current.UnitOfMeasures = [] ;
                },
                getParentDiv: function (element) {
                    var div = element;
                    while (div && div.tagName !== 'DIV') {
                        div = div.parentElement;
                    }
                    return div;
                },
                loadLookupEntries: function (element) {
                    var div = this.getParentDiv(element);
                    if (div) {
                        div.appendChild(this.$refs['lookupEntries']);
                    }
                },

                navigate : function(e,index,length){
                    e && e.preventDefault();
                    let self = this;
                    this.current.lookupselectionIndex = (index % length);
                    let anchors = this.$refs['lookupEntries'].getElementsByTagName("a");
                    anchors[this.current.lookupselectionIndex].focus();
                },
            }
        });
    });
</script>

<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <div class="container-fluid mb-5 pb-4" v-if="messages && messages.length > 0">
            <div id="message" ref="message" class="alert alert-danger mb-0" >
                {{ message() }}
            </div>
        </div>
        <div id="lookupEntries" ref="lookupEntries" class="below">
            <div v-for="(item,index) in current.Items" v-if="current.Items.length > 0">
                <a href="#" v-on:click="onItemSelect($event,item)"  v-on:keyup.enter="onItemSelect($event,item)" v-on:keyup.space="onItemSelect($event,item)"
                v-on:keyup.up="navigate($event,index-1,current.Items.length)" v-on:keyup.down="navigate($event,index+1,current.Items.length)">{{item.Name}} {{ item.AssetCode ? ' - ' + item.AssetCode.LongDescription : ""}}</a>
            </div>
            <div v-for="(code,index) in current.AssetCodes" v-if="current.AssetCodes.length > 0">
                <a href="#"
                v-on:click="onAssetCodeSelect($event,code)" v-on:keyup.space="onAssetCodeSelect($event,code)" v-on:keyup.enter="onAssetCodeSelect($event,code)"
                v-on:keyup.up="navigate($event,index-1,current.AssetCodes.length)" v-on:keyup.down="navigate($event,index+1,current.AssetCodes.length)" >{{code.Code}} - {{code.Description}} </a>
            </div>
            <div v-for="(code,index) in current.UnitOfMeasures" v-if="current.UnitOfMeasures.length > 0">
                <a href="#"
                v-on:click="onUnitOfMeasuresSelect($event,code)" v-on:keyup.space="onUnitOfMeasuresSelect($event,code)" v-on:keyup.enter="onUnitOfMeasuresSelect($event,code)"
                v-on:keyup.up="navigate($event,index-1,current.UnitOfMeasures.length)" v-on:keyup.down="navigate($event,index+1,current.UnitOfMeasures.length)" >{{code.Name}} </a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="my-3 mt-4" > {{Facility.Name}} </h2>
                </div>

            </div>

            <div class="py-3 border-top border-dark" v-for="(inv,i) in Facility.Inventories">
                <div class="d-flex flex-row justify-content-end">
                    <button class="btn btn-primary" role="button" v-if="inv.Infinite === 'Y'" v-on:click="zeroInventory($event,i)" :disabled="current.index === i">
                        <i class="fas fa-stop-circle">Stop</i>
                    </button>
                    <button class="btn btn-primary" role="button" v-on:click="infiniteInventory($event,i)" :disabled="current.index === i" v-else>
                        <i class="fas fa-play-circle">Start</i>
                    </button>
                </div>
                <div class="row">
                    <div class="col-7" v-if="current.index === i">
                        <label v-if="current.Inventory.Sku.Item.Name.length > 0" v-bind:for="'item' + i" class="form-label small">Product Name</label>
                        <input  v-bind:key="'item' + i"  v-bind:id="'item' + i"   class="form-control" placeholder="Product Name"
                        v-model="current.Inventory.Sku.Item.Name"
                        v-on:input="onItemChange($event)" v-on:blur="onItemBlur($event)" v-on:keyup.down="navigate($event,0,current.Items.length)"   />
                    </div>
                    <div class="col-5" v-if="current.index === i">
                        <label class="form-label small"   v-bind:for="'uom' + i"  >Package</label>
                        <input v-bind:key="'uom' + i"  v-bind:id="'uom' + i"  class="form-control" placeholder="Package"
                        v-model="current.Inventory.Sku.PackagingUOM.Name" v-on:input="onUnitOfMeasureChange($event)"
                        v-on:keyup.down="navigate($event,0,current.UnitOfMeasures.length)"  />
                    </div>
                    <div class="col-7" v-if="current.index !== i">
                        <label v-if="inv.Sku.Item.Name.length > 0" class="form-label small">Product Name</label>
                        <br/>
                        <label>{{inv.Sku.Item.Name}}</label>
                    </div>
                    <div class="col-5" v-if="current.index !== i">
                        <label class="form-label small"   >Package</label>
                        <br/>
                        <label> {{inv.Sku.PackagingUOM.Name}}</label>
                    </div>

                </div>
                <div class="row" v-if="current.index === i">
                    <div class="col-7" >
                        <label class="form-label small"   v-bind:for="'mrp' + i"  >Max Retail Price</label>
                        <input v-bind:key="'mrp' + i"  v-bind:id="'mrp' + i"  class="form-control" placeholder="MRP"
                        v-model="current.Inventory.Sku.MaxRetailPrice"  />
                    </div>
                    <div class="col-5" >
                        <label class="form-label small"   v-bind:for="'price' + i"  >Selling Price</label>
                        <input v-bind:key="'price' + i"  v-bind:id="'price' + i"  class="form-control" placeholder="Price"
                        v-model="current.Inventory.SellingPrice"  />
                    </div>
                </div>
                <div class="row" v-else>
                    <div class="col-7">
                        <label class="form-label small"   >Max Retail Price</label>
                        <br/>
                        <label> {{inv.Sku.MaxRetailPrice}}</label>
                    </div>
                    <div class="col-5">
                        <label class="form-label small"   >Selling Price</label>
                        <br/>
                        <label> {{inv.SellingPrice}}</label>
                    </div>
                </div>

                <div class="row" v-if="current.index === i" >
                    <div class="col-7">
                        <!-- If item is new only then gst is enterable -->
                        <label class="form-label small"   v-bind:for="'asset_code' + i"  >GST/SAC Code</label>
                        <input  v-bind:key="'asset_code' + i"  v-bind:id="'asset_code' + i"   class="form-control" placeholder="GST/SAC Code"
                        v-model="current.Inventory.Sku.Item.AssetCode.Code"
                        v-on:input="onAssetCodeChange($event)" v-on:keyup.down="navigate($event,0,current.AssetCodes.length)"   />
                    </div>
                    <div class="col-5">
                        <label class="form-label small" >Tax Rate:</label>
                        <br/>
                        <label>{{current.Inventory.Sku.Item.AssetCode.GstPct}}</label>

                    </div>
                </div>
                <div class="row" v-else-if="inv.Sku.Item.AssetCode && inv.Sku.Item.AssetCode.LongDescription">
                    <div class="col-7" >
                        <label class="form-label small" >GST/SAC Code</label>
                        <br/>
                        <label>{{inv.Sku.Item.AssetCode.Code}}</label>
                    </div>
                    <div class="col-5" >
                        <label class="form-label small" >Tax Rate:</label>
                        <br/>
                        <label>{{inv.Sku.TaxRate}}</label>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-12">
                        <label class="form-label small"  v-bind:for="'infinite' + i"  >Infinite</label>
                        <input value="N" type="checkbox" v-bind:key="'infinite' + i"  v-bind:id="'infinite' + i"  class="mt-2 mb-3 form-check custom-control" placeholder="Infinite"
                        v-model="inv.Infinite"  :disabled="current.index !== i || ( inv.Id && (inv.Quantity * 1.0  > 0))" true-value="Y" false-value="N" />
                    </div>
                    Quantity enabling may be complex. Disable for now.
                    <div class="col-4" v-if=" inv.Infinite === 'N'">
                        <label class="form-label small"   v-bind:for="'quantity' + i"  >Available</label>
                        <input v-bind:key="'quantity' + i"  v-bind:id="'quantity' + i"  class="form-control" placeholder="Quantity"
                        v-model="inv.Quantity"  disabled="disabled"/>
                    </div>
                    <div class="col-5" v-if="current.index === i && inv.Infinite === 'N' ">
                        <label class="form-label small"   v-bind:for="'quantity' + i"  >Adjust +/- </label>
                        <input v-bind:key="'adjustquantity' + i"  v-bind:id="'adjustquantity' + i"  class="form-control" title="Adjustment Quantity"
                        v-model="current.AdjustmentQuantity"  />
                    </div>
                </div>
                -->
                <div class="d-flex flex-row justify-content-end py-2">
                    <div v-if="current.index !== i">
                        <a href="#/" class="btn btn-primary" role="button" v-on:click="edit($event,i)" >
                            <i class="fas fa-edit">Edit</i>
                        </a>
                    </div>
                    <div v-else>
                        <a href="#/" class="btn btn-primary" role="button" v-on:click="save($event)" >
                            <i class="fas fa-save">Save</i>
                        </a>
                        <a href="#/" class="btn btn-primary" role="button" v-on:click="cancel($event)" >
                            <i class="fas fa-undo">Cancel</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-12 text-right">
                    <a href="#/" class="ml-2 mt-3 btn btn-primary" role="button" v-on:click="create($event)" >
                        <i class="fas fa-plus"> Product</i>
                    </a>
                </div>
            </div>
        </div>

    </div>
<div>
