<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js"></script>
<script type="text/javascript" src="/fragments/js/util.js" ></script>
<link href="/fragments/css/mandi.css" rel="stylesheet"></link>
<script type="text/javascript">
    $(function () {
        $("#header").load("/fragments/html/header");
        new Vue({
            el: "#app",
            data: {
                messages: [],
                User: Lockr.get("User"),
                Facilities: [],
                current: {
                    Facility: {},
                    index: -1,
                    Cities: [],
                    PinCodes: [],
                    lookupselectionIndex: -1,
                }
            },
            created: function () {
                let self = this;
                if (self.User.Verified === 'N') {
                    window.location.href = "/users/html/profile";
                }
                api().url("/facilities").get().then(function (response) {
                    self.Facilities = response.Facilities;
                    self.showApp();
                }).catch(function (err) {
                    self.showApp();
                    if (err.response) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    } else {
                        self.autoClearMessage(err);
                    }
                })
            },
            methods: {
                showApp: function () {
                    $("#pageTitle").html("Manage Facilities");
                    $("#root").show();
                },
                message: function () {
                    var message = "";
                    let self = this;
                    self.messages.forEach(function (m) {
                        message += " " + m;
                    });
                    return message;
                },
                autoClearMessage: function (message, index) {
                    let self = this;
                    if (message) {
                        self.messages.push(message);
                        var element = document.getElementById('facility-' + index);
                        if (element) {
                            var msg = self.$refs['message'];
                            element.appendChild(msg);
                        }
                    }
                    setTimeout(function () {
                        self.messages = [];
                    }, 1500);
                },
                create: function (event) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    if (!self.Facilities) {
                        self.Facilities = [];
                    }

                    var f = {
                        Name: "", AddressLine1: "", AddressLine2: "", AddressLine3: "", AddressLine4: "",
                        City: { Name: "", State: { Name: "", Country: { Name: "India" } } },
                        PinCode: { PinCode: "" },
                        PhoneNumber: "",
                        AlternatePhoneNumber: "",
                        Company: self.User.Company,
                        Inventories : []
                    };
                    if (self.User.Verified && self.Facilities.length == 0) {
                        f.Name = "Residence of " + self.User.LongName;
                        f.AddressLine1 = self.User.AddressLine1;
                        f.AddressLine2 = self.User.AddressLine2;
                        f.AddressLine3 = self.User.AddressLine3;
                        f.AddressLine4 = self.User.AddressLine4;
                        f.City = self.User.City;
                        f.PinCode = self.User.PinCode;
                        f.PhoneNumber = self.User.PhoneNumber;
                        f.AlternatePhoneNumber = self.User.AlternatePhoneNumber;
                    }
                    let last = self.Facilities.length > 0 ? self.Facilities[self.Facilities.length - 1] : null;

                    if (!last || last.Id) {
                        self.Facilities.push(f);
                        self.edit(null, self.Facilities.length - 1);
                    }

                },
                edit: function (event, index) {
                    if (event) {
                        event.preventDefault();
                    }
                    this.current.index = index;
                    if (index >= 0) {
                        this.current.Facility = JSON.parse(JSON.stringify(this.Facilities[this.current.index]));
                    } else {
                        this.current.Facility = {};
                        let length = this.Facilities.length;
                        let last = length > 0 ? this.Facilities[length - 1] : null;
                        if (last && !last.Id) {
                            this.Facilities.splice(length - 1, 1);
                        }
                    }
                },
                cancel: function (event) {
                    if (event) {
                        event.preventDefault();
                    }
                    this.edit(event, -1);
                },
                save: function (event) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    let index = self.current.index;
                    let f = self.current.Facility;
                    let newRecord = !f.Id;
                    api().url("/facilities/save").parameters({ "Facility": f }).post().then(function (response) {
                        if (newRecord) {
                            self.Facilities.splice(self.Facilities.length - 1, 1, response.Facilities[0]);
                        } else {
                            self.Facilities.splice(index, 1, response.Facilities[0]);
                        }
                        self.cancel(null);
                    }).catch(function (err) {
                        if (err.response) {
                            self.autoClearMessage(err.response.data.SWFHttpResponse.Error, index);
                        } else {
                            self.autoClearMessage(err.toString(), index);
                        }
                    });

                },
                remove: function (event, index) {
                    if (event) {
                        event.preventDefault();
                    }

                    let self = this;
                    let f = self.Facilities[index];

                    let newRecord = !f.Id;
                    if (!newRecord) {
                        api().url("/facilities/destroy/" + f.Id).get().then(function (response) {
                            self.Facilities.splice(index, 1);
                        }).catch(function (err) {
                            if (err.response) {
                                self.autoClearMessage(err.response.data.SWFHttpResponse.Error, index);
                            } else {
                                self.autoClearMessage(err.toString(), index);
                            }
                        });
                    } else {
                        self.Facilities.splice(index, 1);
                    }
                },
                isKeyTriggerable: function (e) {
                    /*
                    if (e && e.keyCode >= 48 && e.keyCode <= 90) {
                        return true;
                    }
                    return false;
                    */
                    return e && e.target.value.length > 3;
                },
                onCityChange: function (e) {
                    e && e.preventDefault();
                    if (!this.isKeyTriggerable(e)) {
                        return;
                    }
                    let self = this;
                    new Autocomplete("cities", e.target).search().then(function (response) {
                        if (!response) {
                            return
                        }
                        self.current.Cities = response.Cities;
                        if (self.current.Cities.length === 1) {
                            self.onCitySelect(null, self.current.Cities[0]);
                        } else {
                            self.loadLookupEntries(e.target);
                        }
                    });
                },
                onCitySelect: function (e, item) {
                    e && e.preventDefault();
                    let self = this;
                    self.current.Facility.City = item;
                    self.current.Facility.State = item.State;
                    self.current.Facility.Country = item.State.Country;
                    self.current.Cities = [];
                },
                onPinCodeChange: function (e) {
                    e && e.preventDefault();
                    if (!this.isKeyTriggerable(e)) {
                        return;
                    }

                    let self = this;
                    new Autocomplete("pin_codes", e.target).search("PIN_CODE").then(function (response) {
                        if (!response) {
                            return
                        }
                        self.current.PinCodes = response.PinCodes;
                        if (response.PinCodes.length === 1) {
                            self.onPinCodeSelect(null, self.current.PinCodes[0]);
                        } else {
                            self.loadLookupEntries(e.target);
                        }
                    });
                },
                onPinCodeSelect: function (e, item) {
                    e && e.preventDefault();
                    let self = this;
                    self.current.Facility.PinCode = item;
                    self.current.PinCodes = [];
                },
                getParentDiv: function (element) {
                    var div = element;
                    while (div && div.tagName !== 'DIV') {
                        div = div.parentElement;
                    }
                    return div;
                },
                loadLookupEntries: function (element) {
                    var div = this.getParentDiv(element);
                    if (div) {
                        div.appendChild(this.$refs['lookupEntries']);
                    }
                },

                navigate: function (e, index, length) {
                    e && e.preventDefault();
                    let self = this;
                    this.current.lookupselectionIndex = (index % length);
                    let anchors = this.$refs['lookupEntries'].getElementsByTagName("a");
                    anchors[this.current.lookupselectionIndex].focus();
                },
                publish: function (e, index) {
                    let self = this;
                    self.facility_player(e, index, "publish");
                },
                unpublish: function (e, index) {
                    let self = this;
                    self.facility_player(e, index, "unpublish");
                },
                facility_player: function (e, index, apiName) {
                    e && e.preventDefault();
                    let self = this;

                    let f = self.Facilities[index];
                    let newRecord = !f.Id;
                    if (newRecord) {
                        self.autoClearMessage("Facility not yet registered!", index);
                        return;
                    }
                    api().url("/facilities/" + apiName + "/" + f.Id).get().then(function (response) {
                        if (newRecord) {
                            self.Facilities.splice(self.Facilities.length - 1, 1, response.Facility);
                        } else {
                            self.Facilities.splice(index, 1, response.Facility);
                        }
                    }).catch(function (err) {
                        if (err.response) {
                            self.autoClearMessage(err.response.data.SWFHttpResponse.Error, index);
                        } else {
                            self.autoClearMessage(err.toString(), index);
                        }
                    });
                },
                blank: function (s) {
                    return (!s || s.length === 0)
                }
            }
        });
    });
</script>

<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <div id="message" ref="message" class="row">
            <div class="col-12 alert alert-danger " v-if="messages && messages.length > 0">
                {{ message() }}
            </div>
        </div>
        <div id="lookupEntries" ref="lookupEntries" class="below">
            <div v-for="(city,index) in current.Cities" v-if="current.Cities.length > 0">
                <a href="#" v-on:click="onCitySelect($event,city)" v-on:keyup.enter="onCitySelect($event,city)"
                    v-on:keyup.space="onCitySelect($event,city)"
                    v-on:keyup.up="navigate($event,index-1,current.Cities.length)"
                    v-on:keyup.down="navigate($event,index+1,current.Cities.length)">{{city.Name}} -
                    {{city.State.Name}}</a>
            </div>
            <div v-for="(pincode,index) in current.PinCodes" v-if="current.PinCodes.length > 0">
                <a href="#" v-on:click="onPinCodeSelect($event,pincode)"
                    v-on:keyup.space="onPinCodeSelect($event,pincode)"
                    v-on:keyup.enter="onPinCodeSelect($event,pincode)"
                    v-on:keyup.up="navigate($event,index-1,current.PinCodes.length)"
                    v-on:keyup.down="navigate($event,index+1,current.PinCodes.length)">{{pincode.PinCode}} </a>
            </div>
        </div>
        <div class="container-fluid">
            <!-- Home Address -->
            <div class="row mb-2">
                <div class="col">
                    <h6 class="mt-4 d-inline-block">Facilities</h6>
                </div>
                <div class="col d-flex justify-content-end align-items-end">
                    <a href="#/" class="btn btn-sm btn-outline-primary" role="button" v-on:click="create($event)">
                        + New Facility
                    </a>
                </div>
            </div>
            <div v-bind:id="'facility-' + i" class="row" v-for="(f,i) in Facilities">
                <div class="col-12">
                    <div class="content-box mb-3">
                        <div class="action-box">
                            <!-- show status in the icon -->
                            <span v-if="current.index != i">
                                <a href="#" class="mr-2" v-if="(!f.Published || f.Published === 'N')"
                                    v-on:click="publish($event,i)">
                                    <small>
                                        Publish
                                    </small>
                                </a>
                                <a href="#" class="mr-2" v-if="(f.Published && f.Published === 'Y')"
                                    v-on:click="unpublish($event,i)">
                                    <small>
                                        Un-Publish
                                    </small>
                                </a>
                                <a href="#/" role="button" v-on:click="edit($event,i)">
                                    <i class='fas fa-edit'></i>
                                </a>
                            </span>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <h6 class="mb-0">{{f.Name}}</h6>
                                <p class="mb-0 text-muted" v-if="f.GSTIN && f.GSTIN.length > 0">
                                    <small>
                                        {{ (f.GSTIN && f.GSTIN.length > 0) ? "GSTIN: "+f.GSTIN :  "GSTIN"}}
                                    </small>
                                </p>
                                <p class="mb-0 text-muted"><small>
                                        {{f.AddressLine1}}
                                        {{!blank(f.AddressLine2) ? "," : "" }} {{ f.AddressLine2}}
                                        {{!blank(f.AddressLine3) ? "," : "" }} {{f.AddressLine3}}
                                        {{!blank(f.AddressLine4) ? "," : "" }} {{f.AddressLine4}}
                                        {{f.City.Name}}-{{f.City.State.Name}} ,{{f.PinCode.PinCode}}
                                    </small></p>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col d-flex align-items-center">
                                <small>Items added :</small>
                                {{f.Inventories.length }}
                            </div>
                            <!-- <div v-if="current.index == i">
                                <a href="#/" class="btn btn-primary" role="button" v-on:click="save($event)">
                                    <i class="fas fa-check"></i>
                                </a>
                                <a href="#/" class="btn btn-primary" role="button" v-on:click="cancel($event)">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div> -->
                            <div class="col text-right">
                                <a v-bind:href="'/sell/html/facility?id='+f.Id+'&includeMenu=N'"
                                    class="btn btn-sm btn-primary" role="button" v-if="f.Published == 'Y'">
                                    Edit Items
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="show-update" v-if="current.index == i">
                    <div class="form-row">
                        <div class="col">
                            <h6>Facility Information</h6>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col"><input class="form-control form-control-sm" v-bind:key="'name' + i"
                                v-bind:id="'name' + i" v-model="current.Facility.Name"
                                placeholder="Alias for the facility" /></div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col">
                            <input class="form-control form-control-sm" v-bind:key="'address1' + i"
                                v-bind:id="'address1' + i" v-model="current.Facility.AddressLine1"
                                placeholder="Address Line 1" />
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" v-bind:key="'address2' + i"
                                v-bind:id="'address2' + i" v-model="current.Facility.AddressLine2"
                                placeholder="Address Line 2" />
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col">
                            <input class="form-control form-control-sm" v-bind:key="'address3' + i"
                                v-bind:id="'address3' + i" v-model="current.Facility.AddressLine3"
                                placeholder="Address Line 3" />
                        </div>
                        <div class="col">
                            <input class="form-control form-control-sm" v-bind:key="'address4' + i"
                                v-bind:id="'address4' + i" v-model="current.Facility.AddressLine4"
                                placeholder="Address Line 4" />
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col">
                            <input v-bind:key="'city' + i" v-bind:id="'city' + i" class="form-control form-control-sm"
                                placeholder="City Name" v-model="current.Facility.City.Name"
                                v-on:input="onCityChange($event)"
                                v-on:keyup.down="navigate($event,0,current.Cities.length)" v-if="User.City" />
                        </div>
                        <div class="col">
                            <input v-bind:key="'pincode' + i" v-bind:id="'pincode' + i"
                                class="form-control form-control-sm" placeholder="Pin Code"
                                v-model="current.Facility.PinCode.PinCode" v-on:input="onPinCodeChange($event)"
                                v-on:keyup.down="navigate($event,0,current.PinCodes.length)" v-if="f.PinCode" />
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col">
                            <input v-bind:key="'gstin' + i" v-bind:id="'gstin' + i" class="form-control form-control-sm"
                                placeholder="GSTIN" v-model="current.Facility.GSTIN" />
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input align-middle" type="checkbox"
                                    v-bind:key="'DeliveryProvided' + i" v-bind:id="'DeliveryProvided' + i"
                                    placeholder="Delivery Provided" v-model="current.Facility.DeliveryProvided"
                                    true-value="Y" false-value="N">
                                <label class="form-check-label align-middle"
                                    v-bind:for="'DeliveryProvided' + i">Delivery
                                    Provided</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2" v-bind:id="'Deliveryrules' + i" v-bind:id="'Deliveryrules' + i"
                        v-if="current.Facility.DeliveryProvided === 'Y'">
                        <div class="col">
                            <label class="text-muted" v-bind:for="'DeliveryRadius' + i">Upto</label>
                            <input class="form-control form-control-sm" v-bind:key="'DeliveryRadius' + i"
                                v-bind:id="'DeliveryRadius' + i" placeholder="Upto how many Kms"
                                v-model="current.Facility.DeliveryRadius" />
                        </div>
                        <div class="col">
                            <label class="text-muted" v-bind:for="'DeliveryCharges' + i">Delivery Charges</label>
                            &#x20B9 <input class="form-control form-control-sm" v-bind:key="'DeliveryCharges' + i"
                                v-bind:id="'DeliveryCharges' + i" placeholder="0"
                                v-model="current.Facility.DeliveryCharges" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col text-right">
                            <a href="#/" class="btn btn-light btn-sm" role="button" v-on:click="cancel($event)">
                                cancel
                            </a>
                            <a href="#/" class="btn btn-primary btn-sm" role="button" v-on:click="save($event)">
                                submit
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pop-overlay" v-if="current.index == i"></div>
            </div>
        </div>
    </div>
</div>
