<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js"></script>

<link href="/fragments/css/mandi.css" rel="stylesheet"></link>
<script type="text/javascript">
    $(function () {
        $("#header").load("/fragments/html/header");
        new Vue({
            el: "#app",
            data: {
                messages: [],
                User : Lockr.get("User"),
                MyPurchases : [],
                MySales : [],
                host:"",
                cancelled :[],
                delivered : [],
                shipped : [],
                packed:[],
                acknowledged:[],
            },

            created: function () {
                let self = this;
                api().url("/orders").get().then(function (response) {
                    response.Orders.forEach((o, i) => {
                        self.update_status_array(o);
                        if (o.CreatorUser.Id === self.User.Id){
                            self.MyPurchases.push(o);
                        }else{
                            self.MySales.push(o);
                        }
                    });
                    api().url("/properties/get/swf.host").get().then(function (response){
                        self.host=response.value;
                        self.showApp();
                    });
                }).catch(function (err) {
                    self.showApp();
                    self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                });


            },
            methods: {
                update_status_array: function(o){
                    let self = this;
                    if (!o.OrderStatuses){
                        o.OrderStatuses = [];
                    }


                    o.OrderStatuses.forEach((os, j) => {
                        if (os.FulfillmentStatus === 'CANCELLED' || os.FulfillmentStatus === 'RETURNED'){
                            self.cancelled.push(o.Id);
                        }else if (os.FulfillmentStatus === "DELIVERED"){
                            self.delivered.push(o.Id);
                        }else if (os.FulfillmentStatus === "SHIPPED"){
                            self.shipped.push(o.Id);
                        }else if (os.FulfillmentStatus === "PACKED"){
                            self.packed.push(o.Id);
                        }else if (os.FulfillmentStatus !== 'DOWNLOADED'){
                            self.acknowledged.push(o.Id);
                        }
                    });

                },
                showApp: function () {
                    $("#root").show();
                },
                message: function () {
                    var message = "";
                    let self = this;
                    self.messages.forEach(function (m) {
                        message += " " + m;
                    });
                    return message;
                },
                autoClearMessage: function (message) {
                    let self = this;
                    if (message){
                        self.messages.push(message);
                    }
                    setTimeout(function () {
                        self.messages = [];
                    }, 1500);
                },
                pack: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let sindex  = this.MySales.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (sindex < 0){
                        return;
                    }
                    api().url("/orders/pack/" + order.Id).get().then(function (response) {
                        self.MySales.splice(sindex,1,response.Order);
                        self.update_status_array(response.Order);
                        self.autoClearMessage("Pack initiated");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                },
                ship: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let sindex  = this.MySales.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (sindex < 0){
                        return;
                    }
                    api().url("/orders/ship/" + order.Id).get().then(function (response) {
                        self.MySales.splice(sindex,1,response.Order);
                        self.update_status_array(response.Order);
                        self.autoClearMessage("Sending Out for delivery");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                },
                deliver: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let sindex  = this.MySales.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (sindex < 0){
                        return;
                    }
                    api().url("/orders/deliver/" + order.Id).get().then(function (response) {
                        self.MySales.splice(sindex,1,response.Order);
                        self.update_status_array(response.Order);
                        self.autoClearMessage("Being Deliveried");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                },
                cancel: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let pindex  = this.MyPurchases.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    let sindex  = this.MySales.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    api().url("/orders/cancel/" + order.Id).get().then(function (response) {
                        if (pindex >= 0 ){
                            self.MyPurchases.splice(pindex,1,response.Order);
                        }else if (sindex >= 0) {
                            self.MySales.splice(sindex,1,response.Order);
                        }
                        self.update_status_array(response.Order);
                        self.autoClearMessage("Cancellation initiated!");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                },
                cancel_order_line: function(event,order_line,order_lines){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let index  = order_lines.findIndex(function(ol){
                        return ol.Id === order_line.Id;
                    });
                    api().url("/order_lines/cancel/" + order_line.Id).get().then(function (response) {
                        order_lines.splice(index,1,response.OrderLine);
                        self.autoClearMessage("Cancellation initiated!");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                },

                initialize_payment:function(event,order){
                    let self = this;
                    let index  = this.MyPurchases.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    api().url("/orders/initialize_payment/" + order.Id).get().then(function (response) {
                        self.MyPurchases.splice(index,1,response.Order);
                        self.autoClearMessage("Payment Initialized");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });

                    return true;
                },
                reset_payment: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let sindex  = this.MySales.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    let pindex  = this.MyPurchases.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (sindex < 0 && pindex < 0){
                        return;
                    }
                    api().url("/orders/reset_payment/" + order.Id).get().then(function (response) {
                        if (pindex >= 0 ){
                            self.MyPurchases.splice(pindex,1,response.Order);
                        }else if (sindex >= 0) {
                            self.MySales.splice(sindex,1,response.Order);
                        }
                        self.autoClearMessage("Payment Reset");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                },
                complete_payment: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let sindex  = this.MySales.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (sindex < 0){
                        return;
                    }
                    api().url("/orders/complete_payment/" + order.Id).get().then(function (response) {
                        self.MySales.splice(sindex,1,response.Order);
                        self.autoClearMessage("Verified Payment");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                },
                initialize_refund:function(event,order){
                    let self = this;
                    let index  = this.MySales.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    api().url("/orders/initialize_refund/" + order.Id).get().then(function (response) {
                        self.MySales.splice(index,1,response.Order);
                        self.autoClearMessage("Refund Initialized");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                    return true;
                },
                reset_refund: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let sindex  = this.MySales.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (sindex < 0){
                        return;
                    }
                    api().url("/orders/reset_refund/" + order.Id).get().then(function (response) {
                        self.MySales.splice(sindex,1,response.Order);
                        self.autoClearMessage("Payment Reset");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                },
                complete_refund: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let pindex  = this.MyPurchases.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (pindex < 0){
                        return;
                    }
                    api().url("/orders/complete_refund/" + order.Id).get().then(function (response) {
                        self.MyPurchases.splice(pindex,1,response.Order);
                        self.autoClearMessage("Verified Payment");
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                },
                onTabSelect: function(event){
                    if (!event){
                        return;
                    }
                    event.preventDefault();
                    if (event.target.value === "My Sales"){
                        $('#nav-sales-tab').tab('show');
                    }else if (event.target.value === "My Purchases"){
                        $('#nav-purchases-tab').tab('show');
                    }
                }
            }
        });
    });
</script>

<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-purchases-tab" data-toggle="tab" href="#nav-purchases" role="tab" aria-controls="nav-home" aria-selected="true">Purchases</a>
            <a class="nav-item nav-link" id="nav-sales-tab" data-toggle="tab" href="#nav-sales" role="tab" aria-controls="nav-profile" aria-selected="false">Sales</a>
          </div>
        </nav>
        <select id="nav-select" class="select form-control" @change="onTabSelect($event)" >
            <option class="option" value="My Purchases" selected="selected">My Purchases</option>
            <option class="option" value="My Sales">My Sales</option>
        </select>
        <div class="container-fluid mb-5 pb-4" v-if="messages && messages.length > 0 ">
            <div id="message" ref="message" class="alert alert-danger mb-0" >
                {{ message() }}
            </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-purchases" role="tabpanel" aria-labelledby="nav-purchases-tab">
              <div class="row py-2 my-1 position-relative" v-for="(o,i) in MyPurchases" >
                  <div class="col-12" >
                      <b>{{o.Id}} - {{ o.FulfillmentStatus }}</b>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.LongName}}</label>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.AddressLine1}}</label>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.AddressLine2}}</label>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.AddressLine3}}</label>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.AddressLine4}}</label>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.City.Name}}, {{o.CreatorUser.State.Name}}, {{o.CreatorUser.PinCode.PinCode}}</label>
                  </div>
                  <div class="col-12">
                      <div class="container">
                          <div class="row" v-for="(ol,i) in o.OrderLines">
                              <div class="col-4">
                                  {{ ol.Sku.Name}}
                              </div>
                              <div class="col-2">
                                  {{ ol.OrderedQuantity}}
                              </div>
                              <div class="col-4 text-right">
                                  {{ ol.SellingPrice}}
                              </div>
                              <div class="col-2" v-if="ol.OrderedQuantity * 1.0 - ol.CancelledQuantity * 1.0 - ol.ReturnedQuantity *1.0 > 0">
                                  <i class="fas fa-times" v-on:click="cancel_order_line($event,ol,o.OrderLines)"></i>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-4">
                                  Total
                              </div>
                              <div class="col-2">

                              </div>
                              <div class="col-4 text-right">
                                  {{ o.SellingPrice}}
                              </div>
                              <div class="col-2">

                              </div>
                          </div>
                          <div class="row">
                              <a href="#/" class="btn btn-primary" role="button" v-on:click="reset_payment($event,o)" v-if="o.PaymentInitialized === 'Y'">
                                  Reset Payment
                              </a>

                              <div class="col-12" v-if="o.AmountPaid * 1.0 < o.AmountPendingPayment * 1.0">
                                  {{ o.PaymentInitialized  === 'Y' ? 'Payment not verified' : 'Unpaid' }}
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-9 d-flex align-items-center" v-if="cancelled.findIndex(x => x === o.Id) < 0">
                      <a href="#/" class="btn btn-primary" role="button" v-on:click="cancel($event,o)" >
                          Cancel
                      </a>
                  </div>

                  <div class="col-9 d-flex align-items-center" >
                      <a href="#/" class="btn btn-primary" v-on:click="complete_refund($event,o)" role="button" v-if="o.AmountRefunded * 1.0 < o.AmountToRefund * 1.0">
                          Refund received
                      </a>
                      <!-- 'upi://pay?pa=' + order.Facility.CreatorUser.VirtualPaymentAddress +
                                          '&pn='+order.Facility.CreatorUser.NameAsInBankAccount+
                                          '&tr=' + order.Id +
                                          '&tn=HBO Txn ' + order.Id +
                                          '&am=' + order.AmountPendingPayment +
                                          '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g,'%20' ; -->

                      <a v-bind:href="('upi://pay?pa=' + o.Facility.CreatorUser.VirtualPaymentAddress + '&pn='+o.Facility.CreatorUser.NameAsInBankAccount+'&tr=' + o.Id + '&tn=HBO Txn ' + o.Id + '&am=' + o.AmountPendingPayment + '&cu=INR&mode=04&orgId=000000&sign=&url=https://'+host+'/orders/complete_payment/'+o.Id).replace(/ /g,'%20')"
                          target="_blank" class="btn btn-primary" role="button" v-if="o.AmountPendingPayment * 1.0 > 0 && o.PaymentInitialized !== 'Y'" v-on:click="initialize_payment($event,o)">Pay</a>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="nav-sales" role="tabpanel" aria-labelledby="nav-sales-tab">
              <div class="row py-2 my-1 position-relative" v-for="(o,i) in MySales" >
                  <div class="col-12" >
                      <b>{{o.Id}} - {{ o.FulfillmentStatus }}</b>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.LongName}}</label>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.AddressLine1}}</label>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.AddressLine2}}</label>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.AddressLine3}}</label>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.AddressLine4}}</label>
                  </div>
                  <div class="col-12" v-if="o.CreatorUser">
                      <label>{{o.CreatorUser.City.Name}}, {{o.CreatorUser.State.Name}}, {{o.CreatorUser.PinCode.PinCode}}</label>
                  </div>
                  <div class="col-12">
                      <div class="container">
                          <div class="row" v-for="(ol,i) in o.OrderLines">
                              <div class="col-4">
                                  {{ ol.Sku.Name}}
                              </div>
                              <div class="col-2 text-right">
                                  {{ ol.OrderedQuantity}}
                              </div>
                              <div class="col-4 text-right">
                                  {{ ol.SellingPrice}}
                              </div>
                              <div class="col-2" v-if="ol.OrderedQuantity * 1.0 - ol.CancelledQuantity * 1.0 - ol.ReturnedQuantity *1.0 > 0">
                                  <i class="fas fa-times" v-on:click="cancel_order_line($event,ol,o.OrderLines)"></i>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-4">
                                  Total
                              </div>
                              <div class="col-2">

                              </div>
                              <div class="col-4 text-right" >
                                  {{ o.SellingPrice}}
                              </div>
                              <div class="col-2">

                              </div>
                          </div>
                          <div class="row">
                              <div class="col-12" v-if="o.AmountPaid * 1.0 < o.AmountPendingPayment * 1.0">
                                  {{ o.PaymentInitialized  === 'Y' ? 'Payment not verified' : 'Unpaid' }}
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-9 d-flex align-items-center" v-if="cancelled.findIndex(x => x === o.Id) < 0">
                      <a href="#/" class="btn btn-primary" role="button" v-on:click="cancel($event,o)" >
                          Cancel
                      </a>
                      <a href="#/" class="btn btn-primary" role="button" v-on:click="pack($event,o)" v-if="packed.findIndex(x => x === o.Id) < 0">
                          Pack
                      </a>
                      <a href="#/" class="btn btn-primary" role="button" v-on:click="ship($event,o)" v-else-if="shipped.findIndex(x => x === o.Id) < 0">
                          Out for delivery
                      </a>
                      <a href="#/" class="btn btn-primary" role="button" v-on:click="deliver($event,o)" v-else-if="delivered.findIndex(x => x === o.Id) < 0">
                          Deliver
                      </a>

                  </div>

                  <div class="col-9 d-flex align-items-center" v-if="o.AmountPendingPayment * 1.0 > 0">
                      <a href="#/" class="btn btn-primary" role="button" v-on:click="complete_payment($event,o)" v-if="o.AmountPaid * 1.0 < o.AmountPendingPayment * 1.0">
                          Received Payment
                      </a>
                      <a href="#/" class="btn btn-primary" role="button" v-on:click="reset_payment($event,o)" v-if="o.PaymentInitialized === 'Y'">
                          Reset Payment
                      </a>
                  </div>
                  <div class="col-9 d-flex align-items-center" v-if="o.AmountToRefund * 1.0 > 0 ">
                      <a target="_blank" v-on:click="initialize_refund($event,o)" v-bind:href="('upi://pay?pa=' + o.CreatorUser.VirtualPaymentAddress + '&pn='+o.CreatorUser.NameAsInBankAccount+'&tr=' + o.Id + '&tn=Return for HBO Txn ' + o.Id + '&am=' + o.AmountToRefund + '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g,'%20')" class="btn btn-primary" role="button"
                          v-if="o.RefundInitialized === 'N'">
                          Refund Using UPI
                      </a>
                      <a href="#/" class="btn btn-primary" role="button" v-on:click="reset_refund($event,o)" v-else>
                          Reset Refund
                      </a>
                  </div>
              </div>
          </div>
        </div>




    </div>
</div>
