<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js"></script>
<link rel="stylesheet" href="/resources/scripts/node_modules/jquery-confirm/dist/jquery-confirm.min.css"></link>
<script type="text/javascript" src="/resources/scripts/node_modules/jquery-confirm/dist/jquery-confirm.min.js" ></script>
<link href="/fragments/css/mandi.css" rel="stylesheet"></link>
<script type="text/javascript" src="/fragments/js/util.js"></script>
<script type="text/javascript">
    var hboViewModel = null;
    function onUpiResponse(jsonresponse) {
        console.log("UPI Response got from webview: " + jsonresponse);
        if (hboViewModel) {
            let signature = Android ? Android.sign("/orders/processUpi",jsonresponse) : "Manual";
            hboViewModel.onUpiResponse(jsonresponse,signature);
        }
    }

    $(function () {
        //$("#header").load("/fragments/html/header");
        var params = (new URL(window.location)).searchParams;
        var type = params.get("type");
        var history = params.get("history");
        if (!type){
            type = "sales";
        }
        let purchases = type && (type === "purchases");
        let sales = type && (type === "sales");
        history = history && (history === "Y");


        hboViewModel = new Vue({
            el: "#app",
            data: {
                Android: typeof Android == "undefined" ? undefined : Android,
                Mobile : isMobile(),
                purchases: purchases,
                sales: sales,
                User: Lockr.get("User"),
                Orders: [],
                cancelled: [],
                delivered: [],
                shipped: [],
                packed: [],
                acknowledged: [],
                blank: blank,
                orderInitiatedForPayment : {},
                orderInitiatedForReturn : {},
            },

            created: function () {
                let self = this;
                if (purchases) {
                    self.loadOrders();
                } else {
                    showSpinner();
                    api().url("/facilities/mine").get().then(function (response) {
                        self.loadOrders(response.Facilities);
                    }).catch(function (err) {
                        self.showApp();
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });
                }


            },
            methods: {
                loadOrders: function (facilities) {
                    let self = this;
                    var query = null;
                    if (self.sales) {
                        let facility_ids = facilities.map(function (f) {
                            return f.Id;
                        });
                        query = facility_ids.length === 0 ? null : "FACILITY_ID:(" + facility_ids.join(" OR ") + ")";
                    } else if (self.purchases) {
                        query = "CREATOR_USER_ID:" + self.User.Id;
                    }
                    query += (!history ? " AND OPEN:Y " : "" );
                    self.Orders = [];
                    if (!query) {
                        self.showApp();
                    } else {
                        showSpinner();
                        api().url("/orders/search").get({ q: query }).then(function (response) {
                            response.Orders.forEach((o, i) => {
                                if (o.Facility.DeliveryRadius * 1 < o.Facility.Distance * 1) {
                                    o.Facility.DeliveryProvided = 'N';
                                }
                                self.loadOrder(o, -1); // sending -1 avoid findIndex int the Orders Array.
                            });
                            self.showApp();
                        }).catch(function (err) {
                            self.showApp();
                            showError(err);
                        }).finally(function(){
                            hideSpinner();
                        });
                    }

                },
                loadOrder: function (o, indexHint) {
                    let self = this;
                    self.update_status_array(o);
                    let index = indexHint || self.Orders.findIndex(ino => ino.Id === o.Id);
                    if (index >= 0) {
                        self.Orders.splice(index, 1, o);
                    } else {
                        self.Orders.push(o);
                    }
                    if (!self.Android) {
                        o._phref = "#";
                        o._rhref = "#";
                        if (navigator.userAgent.match(/Android/i)) {
                            if (o.Facility.CreatorUser.VirtualPaymentAddress) {
                                o._phref = ('upi://pay?pa=' + o.Facility.CreatorUser.VirtualPaymentAddress +
                                    '&pn=' + o.Facility.CreatorUser.NameAsInBankAccount +
                                    '&tr=O:' + o.Id +
                                    '&tn=HumBhiOnline Txn ' + o.Id +
                                    '&am=' + o.AmountPendingPayment +
                                    '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g, '%20');
                            }
                            if (o.CreatorUser.VirtualPaymentAddress) {
                                o._rhref = ('upi://pay?pa=' + o.CreatorUser.VirtualPaymentAddress +
                                    '&pn=' + o.CreatorUser.NameAsInBankAccount +
                                    '&tr=R:' + o.Id +
                                    '&tn=Return for HumBhiOnline Txn ' + o.Id +
                                    '&am=' + o.AmountToRefund +
                                    '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g, '%20');
                            }
                        }
                    }
                },
                onUpiResponse: function (upiresponsejsonString,signature) {
                    let self = this;
                    console.log(upiresponsejsonString);
                    let r = JSON.parse(upiresponsejsonString)

                    if (!r.txnRef){
                        showErrorMessage("Transaction Cancelled");
                        if (self.orderInitiatedForPayment.Id){
                            self.reset_payment(null,self.orderInitiatedForPayment)
                        }else if (self.orderInitiatedForReturn.Id){
                            self.reset_refund(null,self.orderInitiatedForReturn);
                        }
                        return;
                    }
                    var orderInfo = r.txnRef.split(":");
                    var orderId = orderInfo[1];

                    let index = this.Orders.findIndex(function (o) {
                        return o.Id === orderId;
                    });

                    showSpinner();
                    api().url("/orders/processUpi").parameters(upiresponsejsonString).headers({"X-Signature":signature}).post().then(function (response) {
                        if (index >= 0) {
                            self.Orders.splice(index, 1, response.Order);
                        }
                        showErrorMessage("Payment Status : " + r.Status);
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });

                },
                update_status_array: function (o) {
                    let self = this;
                    if (!o.OrderStatuses) {
                        o.OrderStatuses = [];
                    }


                    o.OrderStatuses.forEach((os, j) => {
                        if (os.FulfillmentStatus === 'CANCELLED' || os.FulfillmentStatus === 'RETURNED') {
                            self.cancelled.push(o.Id);
                        } else if (os.FulfillmentStatus === "DELIVERED") {
                            self.delivered.push(o.Id);
                        } else if (os.FulfillmentStatus === "SHIPPED") {
                            self.shipped.push(o.Id);
                        } else if (os.FulfillmentStatus === "PACKED") {
                            self.packed.push(o.Id);
                        } else if (os.FulfillmentStatus !== 'DOWNLOADED') {
                            self.acknowledged.push(o.Id);
                        }
                    });

                },
                showApp: function () {
                    // Manage Orders
                    $("#header").load("/fragments/html/header", {}, function(){
                        fixMenu();
                        $("#pageTitle").html("Manage Orders");
                        $("#root").show();
                    });
                },
                enterWeight: function(o){
                    return new Promise(function(resolve,reject){
                        $.confirm({
                            title : (o.Weight && o.Weight * 1.0 > 0? "Confirm Weight" : "Enter Weight"),
                            content : '' +
                               '<form action="" class="formName">' +
                               '<div class="form-group">' +
                               '<label>Weight in Kgs</label>' +
                               '<input type="text" placeholder="Order Weight in Kgs" class="weight form-control" required />' +
                               '</div>' +
                               '</form>',
                             buttons : {
                                 formSubmit : {
                                     text : 'Done',
                                     btnClass: 'btn-primary',
                                     action :function(){
                                         var  weight = this.$content.find('.weight').val();
                                         if (weight && weight * 1 > 0 ){
                                             api().url("/orders/save").parameters({Order : { Id:o.Id,Weight:weight , WeightUom : { Name :"Kgs" , Measures :"Weight"} }} ).post().then(function(response){
                                                 resolve(response.Orders[0]);
                                             });
                                         }
                                     }
                                 },
                                 cancel : function(){
                                     reject("Weight not updated!");
                                 },

                             },
                             onContentReady: function () {
                                // bind to events
                                var jc = this;
                                this.$content.find('.weight').val(o.Weight);
                                this.$content.find('form').on('submit', function (e) {
                                    // if the user submits the form by pressing enter in the field.
                                    e.preventDefault();
                                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                                });
                            },
                        })
                    });
                },
                pack: function (event, order) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    let index = this.Orders.findIndex(function (o) {
                        return o.Id === order.Id;
                    });
                    if (index < 0) {
                        return;
                    }
                    showSpinner();
                    self.enterWeight(order).then(function(o){
                        api().url("/orders/pack/" + o.Id).get().then(function (response) {
                            self.Orders.splice(index, 1, response.Order);
                            self.update_status_array(response.Order);
                        })
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });


                },
                ship: function (event, order) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    let index = this.Orders.findIndex(function (o) {
                        return o.Id === order.Id;
                    });
                    if (index < 0) {
                        return;
                    }
                    showSpinner();
                    api().url("/orders/ship/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index, 1, response.Order);
                        self.update_status_array(response.Order);
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                deliver: function (event, order) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    let index = this.Orders.findIndex(function (o) {
                        return o.Id === order.Id;
                    });
                    if (index < 0) {
                        return;
                    }
                    showSpinner();
                    loadLocation(true).then(function(){
                        api().url("/orders/deliver/" + order.Id).get().then(function (response) {
                            self.Orders.splice(index, 1, response.Order);
                            self.update_status_array(response.Order);
                        }).catch(function (err) {
                            showError(err);
                        }).finally(function(){
                            hideSpinner();
                        });
                    })
                },
                cancel: function (event, order) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    let index = self.Orders.findIndex(function (o) {
                        return o.Id === order.Id;
                    });
                    if (index < 0) {
                        return;
                    }

                    $.confirm({
                        title : "Confirmation",
                        content :"Do you really want to cancel order "  + order.Id,
                        buttons : {
                            yes : function() {
                                showSpinner();
                                api().url("/orders/cancel/" + order.Id).get().then(function (response) {
                                    if (index >= 0) {
                                        self.Orders.splice(index, 1, response.Order);
                                    }
                                    self.update_status_array(response.Order);
                                }).catch(function (err) {
                                    showError(err);
                                }).finally(function(){
                                    hideSpinner();
                                });;
                            },
                            no : function(){

                            }
                        }
                    });
                },
                cancel_order_line: function (event, order_line, order) {
                    if (event) {
                        event.preventDefault();
                    }
                    order_lines = order.OrderLines;

                    let self = this;
                    let index = order_lines.findIndex(function (ol) {
                        return ol.Id === order_line.Id;
                    });
                    if (index < 0 ){
                        return;
                    }

                    $.confirm({
                        title : "Confirmation",
                        content :"Do you really want to cancel order line for "  + order_line.Sku.Name + "?",
                        buttons : {
                            confirm : function() {
                                showSpinner();
                                api().url("/order_lines/cancel/" + order_line.Id).get().then(function (response) {
                                    api().url("/orders/show/" + order.Id).get().then(function (response) {
                                        //Refresh the order Status.
                                        self.loadOrder(response.Order);
                                    });
                                }).catch(function (err) {
                                    showError(err);
                                }).finally(function(){
                                    hideSpinner();
                                });;
                            },
                            cancel : function(){

                            }
                        }
                    });

                },

                initialize_payment: function (event, order) {
                    let self = this;
                    let index = this.Orders.findIndex(function (o) {
                        return o.Id === order.Id;
                    });
                    if (index < 0) {
                        return;
                    }
                    showSpinner();
                    api().url("/orders/initialize_payment/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index, 1, response.Order);
                        showErrorMessage("Payment Initialized");
                        response.Order._phref = "#";
                        if (self.Android) {
                            self.orderInitiatedForPayment = response.Order;
                            self.Android.payWithUpi(order.Facility.CreatorUser.VirtualPaymentAddress, order.Facility.CreatorUser.NameAsInBankAccount, "O:" + order.Id, order.AmountPendingPayment * 1.0, 'HumBhiOnline Txn ' + order.Id);
                        } else if (navigator.userAgent.match(/Android/i)) {
                            let o = response.Order
                            o._phref = ('upi://pay?pa=' + o.Facility.CreatorUser.VirtualPaymentAddress +
                                '&pn=' + o.Facility.CreatorUser.NameAsInBankAccount +
                                '&tr=O:' + o.Id +
                                '&tn=HumBhiOnline Txn ' + o.Id +
                                '&am=' + o.AmountPendingPayment +
                                '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g, '%20');
                        }
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });

                    return true;
                },
                reset_payment: function (event, order) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    let index = this.Orders.findIndex(function (o) {
                        return o.Id === order.Id;
                    });
                    if (index < 0) {
                        return;
                    }
                    delete order._phref;
                    delete order._rhref;
                    showSpinner();
                    api().url("/orders/reset_payment/" + order.Id).get().then(function (response) {
                        if (index >= 0) {
                            self.Orders.splice(index, 1, response.Order);
                        }
                        showErrorMessage("Payment Reset");
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                complete_payment: function (event, order) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    let index = this.Orders.findIndex(function (o) {
                        return o.Id === order.Id;
                    });
                    if (index < 0) {
                        return;
                    }
                    delete order._phref;
                    delete order._rhref;
                    showSpinner();
                    api().url("/orders/complete_payment/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index, 1, response.Order);
                        showErrorMessage("Verified Payment");
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                initialize_refund: function (event, order) {
                    let self = this;
                    let index = this.Orders.findIndex(function (o) {
                        return o.Id === order.Id;
                    });
                    if (index < 0) {
                        return;
                    }
                    delete order._phref;
                    delete order._rhref;
                    showSpinner();
                    api().url("/orders/initialize_refund/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index, 1, response.Order);
                        showErrorMessage("Refund Initialized");
                        response.Order._rhref = "#";
                        if (self.Android) {
                            // v-bind:href=
                            self.orderInitiatedForReturn = response.Order;
                            self.Android.payWithUpi(order.CreatorUser.VirtualPaymentAddress, order.CreatorUser.NameAsInBankAccount, "R:" + order.Id, order.AmountToRefund * 1.0, 'Return for HumBhiOnline Txn ' + order.Id);
                        } else if (navigator.userAgent.match(/Android/i)) {
                            response.Order._rhref = ('upi://pay?pa=' + order.CreatorUser.VirtualPaymentAddress + '&pn=' + order.CreatorUser.NameAsInBankAccount + '&tr=R:' + order.Id + '&tn=Return for HumBhiOnline Txn ' + order.Id + '&am=' + order.AmountToRefund + '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g, '%20');
                        }
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });
                    return true;
                },
                reset_refund: function (event, order) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    let index = this.Orders.findIndex(function (o) {
                        return o.Id === order.Id;
                    });
                    if (index < 0) {
                        return;
                    }
                    delete order._phref;
                    delete order._rhref;
                    showSpinner();
                    api().url("/orders/reset_refund/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index, 1, response.Order);
                        showErrorMessage("Payment Reset");
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });;
                },
                complete_refund: function (event, order) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    let index = this.Orders.findIndex(function (o) {
                        return o.Id === order.Id;
                    });
                    if (index < 0) {
                        return;
                    }
                    delete order._phref;
                    delete order._rhref;
                    showSpinner();
                    api().url("/orders/complete_refund/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index, 1, response.Order);
                        showErrorMessage("Verified Payment");
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                print : function(event,o){
                    let self = this;
                    if (event){
                        event.preventDefault();
                    }
                    showSpinner();
                    api().url("/orders/print/" + o.Id).get().then(function(response){
                        if (response.OrderPrints.length === 0){
                            showErrorMessage("Invoice being generated. Check back in a while.")
                        }else {
                            let url = "/order_prints/view/"+response.OrderPrints[0].Id;
                            window.location.href = url;
                        }
                    }).catch(function(err){
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });

                },
                plan: function(event,o){
                    let self = this;
                    if (event){
                        event.preventDefault();
                    }
                    $.confirm({
                        title : (o.Weight && o.Weight * 1.0 > 0? "Confirm Weight" : "Enter Weight"),
                        content : '' +
                           '<form action="" class="formName">' +
                           '<div class="form-group">' +
                           '<label>Weight in Kgs</label>' +
                           '<input type="text" placeholder="Order Weight in Kgs" class="weight form-control" required />' +
                           '</div>' +
                           '</form>',
                         buttons : {
                             formSubmit : {
                                 text : 'Done',
                                 btnClass: 'btn-primary',
                                 action :function(){
                                     var  weight = this.$content.find('.weight').val();
                                     if (weight && weight * 1 > 0 ){
                                         api().url("/orders/save").parameters({Order : { Id:o.Id,Weight:weight , WeightUom : { Name :"Kgs" , Measures :"Weight"} }} ).post().then(function(response){
                                             window.location.href = ("/orders/delivery_plan/"+o.Id);
                                         });
                                     }
                                 }
                             },
                             cancel : function(){

                             },

                         },
                         onContentReady: function () {
                            // bind to events
                            var jc = this;
                            this.$content.find('.weight').val(o.Weight);
                            this.$content.find('form').on('submit', function (e) {
                                // if the user submits the form by pressing enter in the field.
                                e.preventDefault();
                                jc.$$formSubmit.trigger('click'); // reference the button and click it
                            });
                        },
                    })
                },
                planningRequired: function (o){
                    let non_subscription_line = o.OrderLines.find(function(o1){
                        return o1.Sku.Item.HumBhiOnlineSubscriptionItem !== 'Y';
                    });
                    if (!non_subscription_line){
                        return false;
                    }
                    if (o.RefOrder){
                        return false; //A Delivery Order
                    }else if (sales){
                        return  o.DeliveryPlanned !== 'Y' && o.Facility.DeliveryProvided === 'Y';
                    }else{
                        if (o.CustomerPickup === 'N') {
                           return  false;
                        }else {
                           return o.DeliveryPlanned !== 'Y'
                        }
                    }
                },
                isDeliveryOrder: function (order){
                    return order.RefOrder && order.RefOrder.Id * 1.0 > 0 ;
                },
                isPaymentButtonEnabled: function(o){
                    return o.Facility.CreatorUser.VirtualPaymentAddress && o.AmountPendingPayment * 1.0 > 0 && o.PaymentInitialized !== 'Y'
                },
                rebook : function(ev,o){
                    ev && ev.preventDefault();
                    window.location.replace('/dashboard/index?facility_id=' + o.Facility.Id +"&clone_order_id="+o.Id);
                }


            }
        });
    });
</script>

<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <h6 v-if="Orders.length === 0" class="text-center">No Orders</h6>
        <div v-bind:id="'Order-' + o.Id" class="my-4 container position-relative" v-for="(o,i) in Orders">
            <button class="btn-order-cancel d-flex  align-content-center justify-content-center" v-on:click="cancel($event,o)"
                v-if="cancelled.findIndex(x => x === o.Id) < 0">
                <i class="mt-1 fas fa-times"></i>
            </button>
            <div class="row">
                <div class="col">
                    <div class="content-box">
                        <div class="form-row">
                            <div class="col-8">
                                <p class="mb-0 font-weight-bold">{{o.Facility.Name}}
                                    <a class="btn btn-sm btn-outline-less-primary"  v-if="Mobile && o.Facility.PhoneNumber && purchases">

                                    </a>

                                </p>
                                <p class="mb-0">
                                    <small class="text-muted">
                                        {{o.Facility.AddressLine1}}
                                        {{(blank(o.Facility.AddressLine2)? "" : "," )}} {{o.Facility.AddressLine2}}
                                        {{(blank(o.Facility.AddressLine3)? "" : "," )}} {{o.Facility.AddressLine3}}
                                        {{(blank(o.Facility.AddressLine4)? "" : "," )}} {{o.Facility.AddressLine4}}
                                        , {{o.Facility.City.Name}}-{{o.Facility.State.Name}},
                                        {{o.Facility.PinCode.PinCode}}
                                        <br>
                                        <span v-if="o.Facility.PhoneNumber"><i class="fa-phone-alt fas"></i> : <a v-bind:href="'tel:'+ o.Facility.PhoneNumber">{{o.Facility.PhoneNumber}}</a></span> <a v-bind:href="'whatsapp://send?phone='+ o.Facility.PhoneNumber"
                                        data-action="share/whatsapp/share" class="btn-link btn py-0 px-2" v-if="Mobile && o.Facility.PhoneNumber && purchases">
                                        <i class="fab fa-whatsapp"></i>
                                    </a>
                                    </small>
                                </p>
                            </div>
                            <div class="col text-right">
                                <span class="font-weight-bold text-muted d-inline-block">Total</span> &#x20B9;
                                {{ (o.AmountPendingPayment * 1.0 + o.AmountPaid * 1.0).toFixed(2) }}
                                <a v-bind:href="o._phref ? o._phref : '#'" class="btn btn-sm btn-primary mb-1 mt-1"
                                    role="button"
                                    v-if="isPaymentButtonEnabled(o) && purchases"
                                    v-on:click="initialize_payment($event,o)">
                                    Pay
                                </a>
                                <a href="#/" class="btn btn-sm btn-primary mb-1" role="button"
                                    v-on:click="reset_payment($event,o)"
                                    v-if="o.AmountPendingPayment *1.0 > 0.0 && o.PaymentInitialized === 'Y' && sales">
                                    Reset
                                </a>
                                <a href="#/" class="btn btn-sm btn-primary mb-1" role="button"
                                    v-on:click="complete_payment($event,o)"
                                    v-if="sales && o.AmountPendingPayment * 1.0 > 0 && o.AmountPaid * 1.0 < o.AmountPendingPayment * 1.0">
                                    Received
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content-sub-box">
                        <div class="form-row" v-if="!o.RefOrder">
                            <div class="col">
                                <p class="mb-0 font-weight-bold">{{o.CreatorUser.LongName}}
                                    <a class="btn btn-sm btn-outline-less-primary" v-bind:href="'tel:'+ o.CreatorUser.PhoneNumber" v-if="Mobile && o.CreatorUser.PhoneNumber && sales">
                                         <i class="fa-phone-alt fas"></i>
                                    </a>
                                    <a v-bind:href="'whatsapp://send?phone='+ o.CreatorUser.PhoneNumber"
                                        data-action="share/whatsapp/share" class="btn btn-sm btn-outline-less-primary" v-if="Mobile && o.CreatorUser.PhoneNumber && sales">
                                        <i class="fab fa-whatsapp"></i>
                                    </a>
                                </p>
                                <p class="m-0">
                                    <small class="text-muted">{{o.CreatorUser.AddressLine1}}
                                        {{(blank(o.CreatorUser.AddressLine2)? "" : "," )}}
                                        {{o.CreatorUser.AddressLine2}}
                                        {{(blank(o.CreatorUser.AddressLine3)? "" : "," )}}
                                        {{o.CreatorUser.AddressLine3}}
                                        {{(blank(o.CreatorUser.AddressLine4)? "" : "," )}}
                                        {{o.CreatorUser.AddressLine4}}
                                        , {{o.CreatorUser.City.Name}}-{{o.CreatorUser.State.Name}},
                                        {{o.CreatorUser.PinCode.PinCode}}</small>
                                </p>
                            </div>
                        </div>
                        <div class="form-row" v-if="o.RefOrder">
                            <div class="col">
                                <p class="mb-0 font-weight-bold">Pick From</p>
                                <p class="mb-0">
                                    <small class="text-muted">{{o.RefOrder.Facility.Name}},
                                        {{o.RefOrder.Facility.AddressLine1}}
                                        {{(blank(o.RefOrder.Facility.AddressLine2)? "" : "," )}} {{o.RefOrder.Facility.AddressLine2}}
                                        {{(blank(o.RefOrder.Facility.AddressLine3)? "" : "," )}} {{o.RefOrder.Facility.AddressLine3}}
                                        {{(blank(o.RefOrder.Facility.AddressLine4)? "" : "," )}} {{o.RefOrder.Facility.AddressLine4}}
                                        , {{o.RefOrder.Facility.City.Name}}-{{o.RefOrder.Facility.State.Name}},
                                        {{o.RefOrder.Facility.PinCode.PinCode}}
                                    </small>
                                </p>
                            </div>
                        </div>

                        <div class="form-row" v-if="o.RefOrder">
                            <div class="col">
                                <p class="mb-0 font-weight-bold">Deliver To</p>
                                <p class="m-0">
                                    <small class="text-muted">{{o.RefOrder.CreatorUser.LongName}},
                                        {{o.RefOrder.CreatorUser.AddressLine1}}
                                        {{(blank(o.RefOrder.CreatorUser.AddressLine2)? "" : "," )}}
                                        {{o.RefOrder.CreatorUser.AddressLine2}}
                                        {{(blank(o.RefOrder.CreatorUser.AddressLine3)? "" : "," )}}
                                        {{o.RefOrder.CreatorUser.AddressLine3}}
                                        {{(blank(o.RefOrder.CreatorUser.AddressLine4)? "" : "," )}}
                                        {{o.RefOrder.CreatorUser.AddressLine4}}
                                        , {{o.RefOrder.CreatorUser.City.Name}}-{{o.RefOrder.CreatorUser.State.Name}},
                                        {{o.RefOrder.CreatorUser.PinCode.PinCode}}</small>
                                </p>
                            </div>
                        </div>

                        <hr class="my-2" />
                        <div class="form-row">
                            <div class="col">
                                <p class="d-block mb-1">Order : {{o.Id }} {{ ( isDeliveryOrder(o) ? "/(" + o.RefOrder.Id + ")" : "" ) }}
                                </p>
                                <p class="m-0">{{ (o.Facility.CodEnabled !== 'Y' && isPaymentButtonEnabled(o) ) ? 'AWAITING PAYMENT' : o.FulfillmentStatus}}
                                    <a class="fas fa-print btn" href="#" @click="print($event,o)"  v-if="o.FulfillmentStatus !== 'DOWNLOADED' && o.FulfillmentStatus !== 'CANCELLED' && o.FulfillmentStatus !== 'RETURNED'">
                                    </a>
                                    <!-- If a seller provides delivery, then he owns the transportation responsibility -->
                                    <a href="#/" class="btn btn-sm btn-outline-primary" role="button"
                                        v-on:click="plan($event,o)" v-if="planningRequired(o) &&
                                        packed.findIndex(x=> x === o.Id ) >= 0  &&
                                        cancelled.findIndex(x => x === o.Id) < 0 &&
                                        shipped.findIndex(x => x === o.Id) < 0 &&
                                        delivered.findIndex(x=> x===o.Id) < 0 ">
                                        Plan Courier?
                                    </a>
                                </p>
                            </div>
                            <div class="col text-right">
                                <div class="h-100">
                                    <div class="row h-50">
                                        <div class="col-12">
                                            <p class="m-0">Payment status:</p>
                                            <small v-if="o.AmountPendingPayment * 1.0 > 0">
                                                {{ o.PaymentInitialized  === 'Y' ? 'Being Paid' : 'Unpaid' }} : &#x20B9;
                                                {{(o.AmountPendingPayment *1.0).toFixed(2)}}
                                            </small>
                                            <small v-else-if="o.AmountToRefund * 1.0 > 0">
                                                To Refund : &#x20B9; {{(o.AmountToRefund * 1.0).toFixed(2) }}
                                            </small>
                                            <small v-else>
                                                Settled
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row h-50">
                                        <div class="col-12 d-flex align-items-end justify-content-end">
                                            <p class="m-0" v-if="cancelled.findIndex(x => x === o.Id) < 0 && o.RefOrder">
                                                <a href="#/" class="btn btn-sm btn-primary" role="button"
                                                    v-on:click="ship($event,o)" v-if="sales &&
                                                shipped.findIndex(x => x === o.Id) < 0 &&
                                                delivered.findIndex(x=> x===o.Id) < 0 ">
                                                    Pickup
                                                </a>
                                                <a href="#/" class="btn btn-sm btn-primary" role="button"
                                                    v-on:click="deliver($event,o)" v-else-if="delivered.findIndex(x=> x===o.Id) < 0 && ( o.Facility.CodEnabled === 'Y' || !isPaymentButtonEnabled(o) ) ">
                                                    {{sales ? "Deliver" : "Pkg Received" }}
                                                </a>
                                            </p>
                                            <p class="m-0" v-else-if="cancelled.findIndex(x => x === o.Id) < 0">
                                                <a href="#/" class="btn btn-sm btn-primary" role="button"
                                                    v-on:click="pack($event,o)" v-if="sales &&
                                                packed.findIndex(x => x === o.Id) < 0 &&
                                                shipped.findIndex(x=> x=== o.Id) < 0 &&
                                                delivered.findIndex(x=> x===o.Id) < 0">
                                                    Pack
                                                </a>
                                                <a href="#/" class="btn btn-sm btn-primary" role="button"
                                                    v-on:click="ship($event,o)" v-else-if="sales && o.DeliveryPlanned !== 'Y' &&
                                                    o.Facility.DeliveryProvided === 'Y' &&
                                                shipped.findIndex(x => x === o.Id) < 0 &&
                                                delivered.findIndex(x=> x===o.Id) < 0 ">
                                                    Ship
                                                </a>
                                                <a href="#/" class="btn btn-sm btn-primary w-100" role="button"
                                                    v-on:click="deliver($event,o)" v-else-if="sales && o.DeliveryPlanned !== 'Y' &&
                                                    o.Facility.DeliveryProvided === 'Y'  &&
                                                    delivered.findIndex(x => x === o.Id) < 0">
                                                    Deliver
                                                </a>
                                                <a href="#/" class="btn btn-sm btn-primary w-100" role="button"
                                                    v-on:click="deliver($event,o)" v-else-if="purchases
                                                    && o.DeliveryPlanned !== 'Y'  && ( o.Facility.CodEnabled === 'Y' || (o.AmountPendingPayment *1.0) === 0 ) &&
                                                    delivered.findIndex(x => x === o.Id) < 0">
                                                    Pkg Received
                                                </a>
                                                <a href="#" class="btn btn-sm btn-primary w-100" role="button"
                                                    v-on:click="rebook($event,o)" v-else-if="purchases && (o.AmountPendingPayment * 1.0 === 0 ) && o.AmountToRefund * 1.0 === 0
                                                        && delivered.findIndex(x=> x===o.Id) >= 0 ">
                                                    Rebook
                                                </a>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col text-right">
                                <a v-bind:href="o._rhref ? o._rhref : '#'" class="btn btn-sm btn-primary mb-1"
                                    role="button"
                                    v-if="sales && o.AmountToRefund *1.0 > 0.0 && o.RefundInitialized !== 'Y' && o.CreatorUser.VirtualPaymentAddress"
                                    v-on:click="initialize_refund($event,o)">
                                    Refund
                                </a>
                                <a href="#/" class="btn btn-sm btn-primary mb-1" role="button"
                                    v-on:click="reset_refund($event,o)"
                                    v-if="sales && o.AmountToRefund *1.0 > 0.0 && o.RefundInitialized === 'Y'">
                                    Reset
                                </a>
                                <a href="#/" class="btn btn-sm btn-primary mb-1" role="button"
                                    v-on:click="complete_refund($event,o)"
                                    v-if="purchases && o.AmountToRefund *1.0 > 0.0 && o.AmountRefunded * 1.0 < o.AmountToRefund * 1.0">
                                    Received
                                </a>
                            </div>
                        </div>
                        <div class="form-row border-top py-2 mt-2" v-for="(ol,i) in o.OrderLines"
                            v-bind:style="(ol.RemainingCancellableQuantity *1.0 == 0) ? 'text-decoration:line-through' : ''">
                            <div class="col d-flex align-items-center">
                                {{ ol.Sku.Name}}
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <div class="btn btn-outline-primary btn-sm w-75">
                                    {{ (ol.OrderedQuantity * 1.0).toFixed(0) }}
                                </div>
                            </div>
                            <div class="col-4 d-flex justify-content-center align-items-center small">
                                <div class="container">
                                    <div class="row" v-if="ol.RemainingCancellableQuantity * 1.0 > 0 && ol.MaxRetailPrice * 1.0 > ol.SellingPrice * 1.0 ">
                                        <div class="col">
                                            <strike>
                                                &#x20B9; {{ ol.MaxRetailPrice}}
                                            </strike>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            &#x20B9; {{ ol.SellingPrice}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <a href="#" class="btn" v-on:click="cancel_order_line($event,ol,o)"
                                    v-if="ol.OrderedQuantity * 1.0 - ol.CancelledQuantity * 1.0 - ol.ReturnedQuantity *1.0 > 0">
                                    <i class=" fas fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-row border-top py-2 mt-2" v-if="o.CustomerPickup === 'N'">
                            <div class="col d-flex align-items-center small">
                                Delivery Charges
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                            </div>
                            <div class="col-4 d-flex justify-content-center align-items-center small">
                                + &#x20B9; {{ o.ShippingSellingPrice }}
                            </div>
                            <div class="col-1 d-flex justify-content-center align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row p-1 m-1 border-dark border-top">
                <div class="col-5">
                    Total
                </div>
                <div class="col-1 d-flex justify-content-end">

                </div>
                <div class="col-4 d-flex justify-content-end">
                    &#x20B9; {{ (o.AmountPendingPayment * 1.0 + o.AmountPaid * 1.0).toFixed(2) }}
                </div>
                <div class="col-1">

                </div>
            </div> -->
        </div>


    </div>
</div>
