<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js"></script>

<link href="/fragments/css/mandi.css" rel="stylesheet"></link>
<script type="text/javascript">
    var hboViewModel = null;
    function onUpiResponse(jsonresponse){
        console.log("UPI Response got from webview: " +jsonresponse);
        if (hboViewModel){
            hboViewModel.onUpiResponse(JSON.parse(jsonresponse));
        }
    }

    $(function () {
        $("#header").load("/fragments/html/header");
        var params = (new URL(window.location)).searchParams;
        let type = params.get("type") ;
        let purchases = !type  || (type === "purchases");
        let sales = !type  || (type === "sales");

        hboViewModel = new Vue({
            el: "#app",
            data: {
                Android : typeof Android == "undefined" ? undefined : Android,
                purchases : purchases,
                sales : sales,
                messages: [],
                User : Lockr.get("User"),
                Orders :[] ,
                cancelled :[],
                delivered : [],
                shipped : [],
                packed:[],
                acknowledged:[],
            },

            created: function () {
                let self = this;
                if (purchases){
                    self.loadOrders();
                }else {
                    api().url("/facilities").get().then(function (response){
                        self.loadOrders(response.Facilities);
                    }).catch(function(err){
                        self.showApp();
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                    });
                }


            },
            methods: {
                loadOrders:function(facilities){
                    let self = this;
                    var query = null;
                    if (self.sales){
                        let facility_ids = facilities.map(function(f){
                            return f.Id;
                        });
                        query = facility_ids.length === 0 ? null : "FACILITY_ID:(" + facility_ids.join(" OR ") + ")";
                    }else if (self.purchases){
                        query = "CREATOR_USER_ID:" + self.User.Id ;
                    }
                    if (!query){
                        self.Orders = [];
                        self.showApp();
                    }else {
                        api().url("/orders/search").get({ q : query }).then(function (response) {
                            response.Orders.forEach((o, i) => {
                                self.update_status_array(o);
                                self.Orders.push(o);
                                if (!self.Android){
                                    o._phref = "#";
                                    o._rhref = "#";
                                    if (navigator.userAgent.match(/Android/i)){
                                        if (o.Facility.CreatorUser.VirtualPaymentAddress){
                                            o._phref = ('upi://pay?pa=' + o.Facility.CreatorUser.VirtualPaymentAddress +
                                                        '&pn='+ o.Facility.CreatorUser.NameAsInBankAccount+
                                                        '&tr=O:' + o.Id +
                                                        '&tn=HBO Txn ' + o.Id +
                                                        '&am=' + o.AmountPendingPayment +
                                                        '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g,'%20' );
                                        }
                                        if (o.CreatorUser.VirtualPaymentAddress){
                                            o._rhref =  ('upi://pay?pa=' + o.CreatorUser.VirtualPaymentAddress +
                                                        '&pn='+o.CreatorUser.NameAsInBankAccount+
                                                        '&tr=R:' + o.Id +
                                                        '&tn=Return for HBO Txn ' + o.Id +
                                                        '&am=' + o.AmountToRefund +
                                                        '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g,'%20');
                                        }
                                    }
                                }
                            });
                            self.showApp();
                        }).catch(function (err) {
                            self.showApp();
                            self.autoClearMessage(err.response.data.SWFHttpResponse.Error);
                        });
                    }

                },
                onUpiResponse:function(r){
                    console.log(JSON.stringify(r));
                    var orderInfo = r.txnRef.split(":");
                    var orderId = orderInfo[1] ;

                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === orderId;
                    });

                    api().url("/orders/processUpi").parameters(r).post().then(function (response) {
                        if (index >= 0 ){
                            self.Orders.splice(index,1,response.Order);
                        }
                        self.autoClearMessage("Payment Status : " + r.Status , self.Orders[index]);
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error,self.Orders[index]);
                    });

                },
                update_status_array: function(o){
                    let self = this;
                    if (!o.OrderStatuses){
                        o.OrderStatuses = [];
                    }


                    o.OrderStatuses.forEach((os, j) => {
                        if (os.FulfillmentStatus === 'CANCELLED' || os.FulfillmentStatus === 'RETURNED'){
                            self.cancelled.push(o.Id);
                        }else if (os.FulfillmentStatus === "DELIVERED"){
                            self.delivered.push(o.Id);
                        }else if (os.FulfillmentStatus === "SHIPPED"){
                            self.shipped.push(o.Id);
                        }else if (os.FulfillmentStatus === "PACKED"){
                            self.packed.push(o.Id);
                        }else if (os.FulfillmentStatus !== 'DOWNLOADED'){
                            self.acknowledged.push(o.Id);
                        }
                    });

                },
                showApp: function () {
                    $("#root").show();
                },
                message: function () {
                    var message = "";
                    let self = this;
                    self.messages.forEach(function (m) {
                        message += " " + m;
                    });
                    return message;
                },
                autoClearMessage: function (message,order) {
                    let self = this;
                    if (message){
                        self.messages.push(message);
                        if (order){
                            var div = document.getElementById("Order-"+order.Id);
                            var msg = self.$refs['message'];
                            div.appendChild(msg);
                        }
                    }
                    setTimeout(function () {
                        self.messages = [];
                    }, 1500);
                },
                pack: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    api().url("/orders/pack/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index,1,response.Order);
                        self.update_status_array(response.Order);
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error,order);
                    });
                },
                ship: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    api().url("/orders/ship/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index,1,response.Order);
                        self.update_status_array(response.Order);
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error,order);
                    });
                },
                deliver: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    api().url("/orders/deliver/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index,1,response.Order);
                        self.update_status_array(response.Order);
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error,order);
                    });
                },
                cancel: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }

                    api().url("/orders/cancel/" + order.Id).get().then(function (response) {
                        if (index >= 0 ){
                            self.Orders.splice(index,1,response.Order);
                        }
                        self.update_status_array(response.Order);
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error,order);
                    });
                },
                cancel_order_line: function(event,order_line,order){
                    if (event){
                        event.preventDefault();
                    }
                    order_lines=order.OrderLines;

                    let self = this;
                    let index  = order_lines.findIndex(function(ol){
                        return ol.Id === order_line.Id;
                    });
                    api().url("/order_lines/cancel/" + order_line.Id).get().then(function (response) {
                        order_lines.splice(index,1,response.OrderLine);
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error,order);
                    });
                },

                initialize_payment:function(event,order){
                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    api().url("/orders/initialize_payment/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index,1,response.Order);
                        self.autoClearMessage("Payment Initialized",order);
                        /* 'upi://pay?pa=' + order.Facility.CreatorUser.VirtualPaymentAddress +
                                            '&pn='+order.Facility.CreatorUser.NameAsInBankAccount+
                                            '&tr=' + order.Id +
                                            '&tn=HBO Txn ' + order.Id +
                                            '&am=' + order.AmountPendingPayment +
                                            '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g,'%20' ; */
                        response.Order._phref = "#";
                        if (self.Android){
                            self.Android.payWithUpi(order.Facility.CreatorUser.VirtualPaymentAddress,order.Facility.CreatorUser.NameAsInBankAccount,"O:"+order.Id,order.AmountPendingPayment * 1.0, 'HBO Txn ' + order.Id);
                        }else if (navigator.userAgent.match(/Android/i) ){
                            let o = response.Order
                            o._phref = ('upi://pay?pa=' + o.Facility.CreatorUser.VirtualPaymentAddress +
                                                '&pn='+ o.Facility.CreatorUser.NameAsInBankAccount+
                                                '&tr=O:' + o.Id +
                                                '&tn=HBO Txn ' + o.Id +
                                                '&am=' + o.AmountPendingPayment +
                                                '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g,'%20' );
                        }
                    }).catch(function (err) {
                        if (err.response){
                            self.autoClearMessage(err.response.data.SWFHttpResponse.Error,order);
                        }else {
                            self.autoClearMessage(err);
                            console.log(err);
                        }
                    });

                    return true;
                },
                reset_payment: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    delete order._phref;
                    delete order._rhref;
                    api().url("/orders/reset_payment/" + order.Id).get().then(function (response) {
                        if (index >= 0 ){
                            self.Orders.splice(index,1,response.Order);
                        }
                        self.autoClearMessage("Payment Reset",order);
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error,order);
                    });
                },
                complete_payment: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    delete order._phref;
                    delete order._rhref;
                    api().url("/orders/complete_payment/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index,1,response.Order);
                        self.autoClearMessage("Verified Payment",order);
                    }).catch(function (err) {
                        if (err.response){
                            self.autoClearMessage(err.response.data.SWFHttpResponse.Error,order);
                        }else {
                            console.log(err);
                        }

                    });
                },
                initialize_refund:function(event,order){
                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    delete order._phref;
                    delete order._rhref;
                    api().url("/orders/initialize_refund/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index,1,response.Order);
                        self.autoClearMessage("Refund Initialized",order);
                        response.Order._rhref = "#";
                        if (self.Android){
                            // v-bind:href=
                            self.Android.payWithUpi(order.CreatorUser.VirtualPaymentAddress,order.CreatorUser.NameAsInBankAccount,"R:"+order.Id,order.AmountToRefund * 1.0, 'Return for HBO Txn ' + order.Id);
                        }else if (navigator.userAgent.match(/Android/i) ){
                            response.Order._rhref =  ('upi://pay?pa=' + o.CreatorUser.VirtualPaymentAddress + '&pn='+o.CreatorUser.NameAsInBankAccount+'&tr=R:' + o.Id + '&tn=Return for HBO Txn ' + o.Id + '&am=' + o.AmountToRefund + '&cu=INR&mode=04&orgId=000000&sign=').replace(/ /g,'%20');
                        }
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error,order);
                    });
                    return true;
                },
                reset_refund: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    delete order._phref;
                    delete order._rhref;
                    api().url("/orders/reset_refund/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index,1,response.Order);
                        self.autoClearMessage("Payment Reset",order);
                    }).catch(function (err) {
                        self.autoClearMessage(err.response.data.SWFHttpResponse.Error,order);
                    });
                },
                complete_refund: function(event,order){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    let index  = this.Orders.findIndex(function(o){
                        return o.Id === order.Id;
                    });
                    if (index < 0){
                        return;
                    }
                    delete order._phref;
                    delete order._rhref;
                    api().url("/orders/complete_refund/" + order.Id).get().then(function (response) {
                        self.Orders.splice(index,1,response.Order);
                        self.autoClearMessage("Verified Payment",self.Orders[index]);
                    }).catch(function (err) {
                        if (err.response){
                            self.autoClearMessage(err.response.data.SWFHttpResponse.Error,self.Orders[index]);
                        }else {
                            console.log(err);
                        }
                    });
                },
            }
        });
    });
</script>

<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <div id="Order-null" >
            <div id="message" ref="message" class="row" >
                <div class="col-12 alert alert-danger " v-if="messages && messages.length > 0">
                    {{ message() }}
                </div>
            </div>
        </div>
        <div v-bind:id="'Order-' + o.Id" class="py-3 border-top border-primary" v-for="(o,i) in Orders" >
            <div class="row">
                <div class="col-5 small">
                    <b>{{o.Id}} - {{ o.FulfillmentStatus }}</b>
                </div>
                <div class="col-7">
                    <div class="d-flex flex-row justify-content-end" v-if="cancelled.findIndex(x => x === o.Id) < 0">
                        <a href="#/" class="btn btn-primary" role="button" v-on:click="cancel($event,o)" >
                            <i class="fas fa-times"> Cancel</i>
                        </a>
                        <a href="#/" class="btn btn-primary" role="button" v-on:click="pack($event,o)" v-if="sales &&
                                    packed.findIndex(x => x === o.Id) < 0 &&
                                    shipped.findIndex(x=> x=== o.Id) < 0 &&
                                    delivered.findIndex(x=> x===o.Id) < 0">
                             <i class="fas fa-box"> Pack </i>
                        </a>
                        <a href="#/" class="btn btn-primary" role="button" v-on:click="ship($event,o)" v-else-if="sales &&
                                    shipped.findIndex(x => x === o.Id) < 0 &&
                                    delivered.findIndex(x=> x===o.Id) < 0" >
                             <i class="fas fa-shipping-fast"> Out For Delivery</i>
                        </a>
                        <a href="#/" class="btn btn-primary" role="button" v-on:click="deliver($event,o)" v-else-if="sales &&
                                    delivered.findIndex(x => x === o.Id) < 0">
                             <i class="fas fa-truck"> Deliver </i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 small" v-if="sales">
                    To,
                    <br/><span>{{o.CreatorUser.LongName}}</span>
                    <br/><span>{{o.CreatorUser.AddressLine1}}</span>
                    <br/><span>{{o.CreatorUser.AddressLine2}}</span>
                    <br/><span>{{o.CreatorUser.AddressLine3}}</span>
                    <br/><span>{{o.CreatorUser.AddressLine4}}</span>
                    <br/><span>{{o.CreatorUser.City.Name}}, {{o.CreatorUser.State.Name}}, {{o.CreatorUser.PinCode.PinCode}}</span>
                </div>
                <div class="col-6 small" v-if="purchases">
                    From,
                    <br/><span>{{o.Facility.Name}}</span>
                    <br/><span>{{o.Facility.AddressLine1}}</span>
                    <br/><span>{{o.Facility.AddressLine2}}</span>
                    <br/><span>{{o.Facility.AddressLine3}}</span>
                    <br/><span>{{o.Facility.AddressLine4}}</span>
                    <br/><span>{{o.Facility.City.Name}}, {{o.Facility.State.Name}}, {{o.Facility.PinCode.PinCode}}</span>
                </div>


                <div class="col-12">
                    <div class="container">
                        <div class="row border-bottom border-dark mx-1">
                            <div class="col-5">
                                Product
                            </div>
                            <div class="col-2">
                                Qty
                            </div>
                            <div class="col-3 text-right">
                                Price
                            </div>
                            <div class="col-1">

                            </div>
                        </div>
                        <div class="data-list">
                            <div class="row mx-1" v-for="(ol,i) in o.OrderLines">
                                <div class="col-5 small">
                                    {{ ol.Sku.Name}}
                                </div>
                                <div class="col-2">
                                    {{ ol.OrderedQuantity}}
                                </div>
                                <div class="col-3 text-right">
                                    {{ ol.SellingPrice}}
                                </div>
                                <div class="col-1" v-if="ol.OrderedQuantity * 1.0 - ol.CancelledQuantity * 1.0 - ol.ReturnedQuantity *1.0 > 0">
                                    <i class="fas fa-times" v-on:click="cancel_order_line($event,ol,o)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row border-dark border-top mx-1">
                            <div class="col-5">
                                Total
                            </div>
                            <div class="col-2">

                            </div>
                            <div class="col-3 text-right">
                                {{ o.SellingPrice}}
                            </div>
                            <div class="col-1">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" v-if="o.AmountPaid * 1.0 < o.AmountPendingPayment * 1.0">
                                {{ o.PaymentInitialized  === 'Y' ? 'Payment inprogress' : 'Unpaid' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-end" >
                <a href="#/" class="btn btn-primary" role="button" v-on:click="reset_payment($event,o)"
                    v-if="o.AmountPendingPayment *1.0 > 0.0 && o.PaymentInitialized === 'Y' && sales">
                    <i class='fas fa-redo'>Reset Payment</i>
                </a>
                <a href="#/" class="btn btn-primary" role="button" v-on:click="reset_refund($event,o)"
                    v-if="sales && o.AmountToRefund *1.0 > 0.0 && o.RefundInitialized === 'Y' && sales">
                    <i class="fas fa-redo">Reset Refund</i>
                </a>

                <a v-bind:href="o._phref ? o._phref : '#'" class="btn btn-primary" role="button"
                    v-if="purchases && o.AmountPendingPayment * 1.0 > 0 && o.PaymentInitialized !== 'Y'"
                    v-on:click="initialize_payment($event,o)">
                    <i class='fas fa-rupee-sign'> Pay</i>
                </a>
                <a v-bind:href="o._rhref ? o._rhref : '#'" class="btn btn-primary" role="button"
                    v-if="sales && o.AmountToRefund *1.0 > 0.0 && o.RefundInitialized !== 'Y'"
                    v-on:click="initialize_refund($event,o)" >
                    <i class="fas fa-rupee-sign"> Refund</i>
                </a>

                <a href="#/" class="btn btn-primary" role="button" v-on:click="complete_refund($event,o)"
                    v-if="purchases && o.AmountToRefund *1.0 > 0.0 && o.AmountRefunded * 1.0 < o.AmountToRefund * 1.0">
                    <i class="fas fa-hand-holding-usd"> Received Refund </i>
                </a>
                <a href="#/" class="btn btn-primary" role="button" v-on:click="complete_payment($event,o)"
                    v-if="sales && o.AmountPendingPayment * 1.0 > 0 && o.AmountPaid * 1.0 < o.AmountPendingPayment * 1.0" >
                    <i class="fas fa-hand-holding-usd"> Received Payment </i>
                </a>
            </div>
        </div>

    </div>
</div>
