/target/
/.settings/
.commit
.idea/
*.iml
tmp/*log*
tmp/*docker*
tmp/pid
overrideProperties/
nohup.out
database/*.db
database/*.db.safe
database/*.dmp
database/indexes/**/*.done
database/images/**
database/*xlsx
database/*csv
database/*.save
database/*.sql

/.gradle/
.keystore
doc/
.index
src/main/resources/templates/dashboard/gex.humbhionline.in/
src/main/resources/templates/fragments/gex.humbhionline.in/
src/main/resources/templates/login/gex.humbhionline.in/

