<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/fragments/js/util.js"></script>
<link rel="stylesheet" href="/fragments/css/mandi.css">

<script type="text/javascript">
    $(function () {
        //$("#header").load("/fragments/html/header");
        new Vue({
            el: "#app",
            data: {
                User: Lockr.get("User"),
                OrderAmount: {},
                DeliveryAmount: {},
                facilityOrders: Lockr.get("facilityOrders") || {},
                facilities: []
            },
            created: function () {
                let self = this;
                self.loadFacilities();
                if (self.facilities.length > 0) {
                    self.showApp();
                } else {
                    //window.location.replace("/orders?type=purchases");
                    window.location.replace("/dashboard");
                }
            },
            methods: {

                loadFacilities: function () {
                    let self = this;
                    self.facilities = [];
                    for (key in self.facilityOrders) {
                        if (self.facilityOrders.hasOwnProperty(key)) {
                            var order = self.facilityOrders[key];
                            order.CustomerPickup =  order.CustomerPickup || ( !isDeliveryOrder(key) && order.OrderLines[0].Inventory.DeliveryProvided === 'N'? 'Y' : 'N') ;
                            self.facilities.push(order.OrderLines[0].Inventory.Facility);
                        }
                    }
                },
                continueShopping: function (event) {
                    if (event) {
                        event.preventDefault();
                    }
                    window.location.href = "/index";
                },
                showApp: function () {
                    let self = this;
                    $("#header").load("/fragments/html/header", {}, function () {
                        fixMenu();
                        self.reloadCounts();
                            $("#pageTitle").html("Order Details");
                        $("#root").show();
                    });
                },
                addOrderToBook: function (f, orders) {
                    let self = this;
                    let user = self.User;
                    var order = self.facilityOrders[f.Id];
                    order.Facility = { Id: f.Id };


                    order.ShippingSellingPrice = order.CustomerPickup === 'Y' ?  0  : ( self.DeliveryAmount[f.Id] ? self.DeliveryAmount[f.Id] * 1.0 : 0.0 );

                    order.OrderAddresses = [
                        {
                            AddressType: "ST",
                            FirstName: user.FirstName,
                            LastName: user.LastName,
                            AddressLine1: user.AddressLine1,
                            AddressLine2: user.AddressLine2,
                            AddressLine3: user.AddressLine3,
                            AddressLine4: user.AddressLine4,
                            City: user.City,
                            PinCode: user.PinCode,
                            PhoneNumber: user.PhoneNumber,
                            Lat: user.Lat,
                            Lng: user.Lng
                        },
                        {
                            AddressType: "BT",
                            FirstName: user.FirstName,
                            LastName: user.LastName,
                            AddressLine1: user.AddressLine1,
                            AddressLine2: user.AddressLine2,
                            AddressLine3: user.AddressLine3,
                            AddressLine4: user.AddressLine4,
                            City: user.City,
                            PinCode: user.PinCode,
                            PhoneNumber: user.PhoneNumber,
                            Lat: user.Lat,
                            Lng: user.Lng
                        }];
                    orders.push(order);

                },
                book: function (orders) {
                    let self = this;
                    return api().url("/orders/book").parameters({ Orders: orders }).post();
                },
                bookOrder: function (event, f) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    var Orders = [];
                    self.addOrderToBook(f, Orders);
                    showSpinner();
                    self.book(Orders).then(function (response) {
                        delete self.facilityOrders[f.Id];
                        if (self.facilityOrders.length == 0) {
                            Lockr.rm("facilityOrders");
                        }
                        let index = self.facilities.findIndex(function (facility) {
                            return facility.Id === f.Id
                        });
                        if (index >= 0) {
                            self.facilities.splice(index, 1);
                        }
                        Lockr.set("facilityOrders", self.facilityOrders);
                        showErrorMessage("Order " + response.Orders[0].Id + " Booked Successfully!").then(function () {
                            if (self.facilities.length > 0){
                                window.location.reload();
                            }else {
                                window.location.replace("/orders?type=purchases");
                            }
                        });
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                bookOrders: function (event) {
                    if (event) {
                        event.preventDefault();
                    }
                    var Orders = [];
                    let self = this;
                    self.facilities.forEach((f, i) => {
                        self.addOrderToBook(f, Orders);
                    });
                    showSpinner();
                    self.book(Orders).then(function (response) {
                        self.facilities = [];
                        self.facilityOrders = {};
                        Lockr.rm("facilityOrders");
                        showErrorMessage("Order " + response.Orders.map(o => o.Id) + " Booked Successfully!").then(function () {
                            window.location.replace("/orders?type=purchases");
                        });
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });

                },
                onOrderLineQtyChange: function (event, f, index) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    let result = self.facilityOrders[f.Id].OrderLines[index];
                    var mayNeedToReload = false;
                    if (result.OrderedQuantity <= 0) {
                        let order = self.facilityOrders[f.Id];
                        mayNeedToReload = true;
                        order.OrderLines.splice(index, 1);
                        if (order.OrderLines.length === 0) {
                            delete self.facilityOrders[f.Id];
                        }
                    }
                    Lockr.set("facilityOrders", self.facilityOrders);
                    if (mayNeedToReload) {
                        self.loadFacilities();
                        if (self.facilities.length === 0) {
                            window.location.reload();
                            console.log("Line After Reload");
                        }
                    }
                    self.reloadCounts();
                    self.$forceUpdate();
                },
                reduceOrderLine: function (event, f, index) {
                    let self = this;
                    let result = self.facilityOrders[f.Id].OrderLines[index];
                    //result.OrderedQuantity -= 1;
                    result.OrderedQuantity -= (!self.isDeliverySku(result.Inventory.Sku)? 1.0 : Math.max(result.Inventory.ChargeableDistance*1.0 - result.Inventory.Facility.MinFixedDistance *1.0,0.001));

                    self.onOrderLineQtyChange(event, f, index);
                },
                isDeliverySku : function(sku){
                    let self = this;
                    return sku.Item.AssetCode && sku.Item.AssetCode.Code.startsWith("99681");
                },
                increaseOrderLine: function (event, f, index) {
                    if (event) {
                        event.preventDefault();
                    }

                    let self = this;

                    let result = self.facilityOrders[f.Id].OrderLines[index];
                    if (self.isDeliverySku(result.Inventory.Sku) && result.OrderedQuantity * 1.0  > 0 ){
                        return;
                    }

                    if (!result.OrderedQuantity) {
                        result.OrderedQuantity = 0.0;
                    }

                    result.OrderedQuantity += (!self.isDeliverySku(result.Inventory.Sku)? 1.0 : Math.max(result.Inventory.ChargeableDistance*1.0 - result.Inventory.Facility.MinFixedDistance *1.0,0.001));

                    self.onOrderLineQtyChange(event, f, index);
                },
                reloadCounts: function () {
                    let self = this;

                    var obj = self.facilityOrders;
                    self.OrderAmount = {};
                    self.DeliveryAmount = {};
                    for (key in obj) {
                        if (obj.hasOwnProperty(key)) {
                            self.OrderAmount[key] = 0;
                            obj[key].OrderLines.forEach((ol, i) => {
                                self.OrderAmount[key] += ol.OrderedQuantity * ol.Inventory.SellingPrice;
                                self.DeliveryAmount[key] = self.DeliveryAmount[key] || ( ( ol.Inventory.DeliveryProvided === 'Y'  &&
                                                            ol.Inventory.DeliveryCharges  ) ?
                                                            ol.Inventory.DeliveryCharges * 1.0 :  0.0 ) ;
                                                            //Delivery Amount is for the order and not for each line.
                            });

                            if (obj[key].OrderLines.length === 0) {
                                delete obj[key];
                                delete self.OrderAmount[key];
                            }
                        }
                    }
                    updateHeaderCount();
                    Vue.set(self, "OrderAmount", self.OrderAmount);
                    Vue.set(self, "DeliveryAmount", self.DeliveryAmount);
                },
                totalAmount: function () {
                    let self = this;
                    var total = 0.0;
                    for (key in self.OrderAmount) {
                        total += self.OrderAmount[key];
                    }
                    return total;
                },
                deliveryAmount: function () {
                    let self = this;
                    var total = 0.0;
                    for (key in self.DeliveryAmount) {
                        if (self.facilityOrders[key].CustomerPickup !== 'Y' ){
                            total += self.DeliveryAmount[key];
                        }
                    }
                    return total;

                },
                isDeliveryOrder: function (fId){
                    let self = this;
                    let order = self.facilityOrders[fId];
                    return order.RefOrder && order.RefOrder.Id * 1.0 > 0 ;
                },
                toggleCustomerPickUp : function(e,fId){
                    let self = this;
                    e && e.preventDefault();
                    let order = self.facilityOrders[fId];
                    order.CustomerPickup = (order.CustomerPickup === 'Y' || order.OrderLines[0].Inventory.DeliveryProvided === 'N') ? 'N' : 'Y';
                    Lockr.set("facilityOrders",self.facilityOrders);
                    self.$forceUpdate();
                }
            }
        });
    });
</script>
<style media="screen">
    .even {}

    .odd {
        background-color: rgba(0, 0, 0, 0.1);
    }
</style>

<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <div v-if="facilities.length > 0">
            <div class="container my-3" v-for="(facility,index) in facilities">
                <div class="content-box">
                    <div class="form-row">
                        <div class="col">By: <a
                                v-bind:href="'/dashboard?facility_id=' +facility.Id">{{facility.Name}}</a></div>
                        <div class="col-3 text-right"><i class="fas fa-drafting-compass"
                                v-bind:href="'https://google.com/maps/place/'+facility.Lat +',' + facility.Lng"></i>
                            {{Math.round(facility.Distance * 100 /100)}}
                            Km</div>
                    </div>
                </div>
                <div class="content-sub-box">
                    <div class="form-row mb-2 border-bottom py-2"
                        v-for="(ol,olindex) in facilityOrders[facility.Id].OrderLines">
                        <div class="col-4">
                            <img v-bind:src="'/attachments/view/'+ol.Inventory.Sku.Attachments[0].Id"
                                v-if="ol.Inventory.Sku.Attachments && ol.Inventory.Sku.Attachments.length > 0"
                                class="w-100" />
                        </div>
                        <div class="col-8">
                            <h6>{{ol.Inventory.Sku.Name}}</h6>
                            <p>@
                                <strike v-if="ol.Inventory.MaxRetailPrice * 1 > ol.Inventory.SellingPrice * 1">
                                    &#8377; {{ol.Inventory.MaxRetailPrice}}
                                </strike>
                                &#8377; {{ol.Inventory.SellingPrice}}
                            </p>
                            <div class="row">
                                <div class="col-8">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-sm btn-outline-primary border-right-0 m-0"
                                            v-on:click="reduceOrderLine($event,facility,olindex)">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <input v-bind:key="'quantity-' + facility.Id +'-'+ index"
                                            v-bind:id="'quantity-' + facility.Id +'-'+ index"
                                            class="btn btn-sm btn-outline-primary w-100 border-left-0 border-right-0 m-0"
                                            placeholder="0" v-model="ol.OrderedQuantity"
                                            @change="onOrderLineQtyChange($event,facility,olindex)" />
                                        <button type="button" class="btn btn-sm btn-outline-primary border-left-0"
                                            v-on:click="increaseOrderLine($event,facility,olindex)" >
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col d-flex align-items-center small">
                            <div class="w-100">
                                <div class="row">
                                    <div class="col" >
                                        Order
                                    </div>
                                    <div class="col-5 text-right">
                                         &#8377; {{ OrderAmount[facility.Id].toFixed(2) }}
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col" v-if="!isDeliveryOrder(facility.Id)">
                                        <del v-if="facilityOrders[facility.Id].CustomerPickup == 'Y'">
                                            Delivery
                                        </del>
                                        <span v-else>
                                            Delivery
                                        </span>
                                        <a href="#" @click="toggleCustomerPickUp($event,facility.Id)"  v-if="facilityOrders[facility.Id].OrderLines[0].Inventory.DeliveryProvided === 'Y'">
                                            <i class="fas fa-times"  v-if="facilityOrders[facility.Id].CustomerPickup == 'N'"></i>
                                            <i class="fas fa-plus"  v-if="facilityOrders[facility.Id].CustomerPickup == 'Y'"></i>
                                        </a>
                                    </div>
                                    <div class="col" v-else>
                                        Fixed
                                    </div>
                                    <div class="col-5 d-flex align-item-center justify-content-end" >
                                        <del v-if="facilityOrders[facility.Id].CustomerPickup == 'Y'">
                                            &#8377; {{ DeliveryAmount[facility.Id].toFixed(2) }}
                                        </del>
                                        <span v-else>
                                            &#8377; {{ DeliveryAmount[facility.Id].toFixed(2) }}
                                        </span>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col">
                                        Total
                                    </div>
                                    <div class="col-5 text-right">
                                         &#8377; {{ (( facilityOrders[facility.Id].CustomerPickup == 'Y' ? 0 : DeliveryAmount[facility.Id] ) + OrderAmount[facility.Id] ).toFixed(2)  }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 text-right d-flex align-items-center justify-content-end">
                            <button class="btn btn-sm btn-primary" v-on:click="bookOrder($event,facility)">Place
                                Order</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h6>Bill Summary</h6>
                    </div>
                </div>
                <div class="row text-muted">
                    <div class="col d-flex flex-row justify-content-start">
                        Order Charges
                    </div>
                    <div class="col-4 d-flex flex-row justify-content-end">
                        &#8377; {{totalAmount().toFixed(2)}}
                    </div>
                </div>
                <div class="row text-muted">
                    <div class="col d-flex flex-row justify-content-start">
                        Delivery/Fixed Charges
                    </div>
                    <div class="col-4 d-flex flex-row justify-content-end">
                        &#8377; {{deliveryAmount().toFixed(2)}}
                    </div>
                </div>
                <div class="row text-muted">
                    <div class="col font-weight-bold">
                        To Pay
                    </div>
                    <div class="col-4 text-right">
                        &#8377; {{(deliveryAmount() + totalAmount()).toFixed(2)}}
                    </div>
                </div>
            </div>
            <div style="height: 98px;">
            </div>
            <div class="container">
                <div class="bottom-card">
                    <h6>Almost there!</h6>
                    <div class="form-row">
                        <div class="col-6">
                            <a href="#" class="btn btn-sm btn-block btn-outline-primary"
                                v-on:click="continueShopping($event)">
                                <small>Continue Shopping</small>
                            </a>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-sm btn-block btn-primary" v-on:click="bookOrders($event)">
                                <small>
                                    Place Orders
                                </small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
