<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js"></script>

<link href="/fragments/css/mandi.css" rel="stylesheet">
<script type="text/javascript" src="/fragments/js/util.js" ></script>

<script type="text/javascript">
    $(function () {
        let id = (new URL(window.location)).searchParams.get("id");
        window.location.replace("/issues/show/" + 0);
    });
</script>
<!--
<script type="text/javascript">
    $(function () {
        $("#header").load("/fragments/html/header");
        let user = Lockr.get("User");
        new Vue({
            el: "#app",
            data : {
                message : "",
                User: user,
                Issue : { Company : { Id: user.Company.Id } , Title : "" , Priority :"" , Description : "" } ,
                Priorities : [ "P1" , "P2" , "P3" ],
            },
            created: function(){
                this.showApp();
            },
            methods : {
                showApp : function(){
                    $("#root").show();
                },
                newIssue : function(){
                    let self = this;
                    api().url("/issues/save").parameters({Issue: self.Issue}).post().then(function(response){
                        window.location.replace("/issues/show/" + response.Issues[0].Id);
                    }).catch(function(err){
                        if (err.response){
                            self.message = err.response.data.SWFHttpResponse.Error;
                        }else {
                            self.message = err.toString;
                        }
                    });
                }
            }
        });
    });
</script>
<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <form @submit.prevent="newIssue()">
            <div class="form-group">
                <label for="Title" class="text-left d-block">Title</label>
                <input name="Title" class="form-control" id="Title" placeholder="Summary of the Issue" v-model="Issue.Title" />
            </div>
            <div class="form-group">
                <label for="Priority" class="text-left d-block">Priority</label>
                <div class="form-check-inline align-middle mr-1" v-for="(p,i) in Priorities" >
                    <input class="form-check-input mb-0" type="radio" v-model="Issue.Priority"
                        name="Priority" v-bind:id="'p'+i" v-bind:value="p"/>
                    <label class="form-check-label small" v-bind:for="'p'+i">{{p}}</label>
                </div>
            </div>
            <div class="form-group">
                <label for="Description" class="text-left d-block">Description</label>
                <textarea name="Description" rows="8" cols="80" class="form-control" id="Description"
                    placeholder="Describe the issue in detail" v-model="Issue.Description">
                </textarea>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
            </div>
            <p id="msg" class="mb-0" v-if="message && message.length > 0"> {{message}}</p>
        </form>

    </div>
</div>
-->
