<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js" defer></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js" defer></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js" defer></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js" defer></script>
<script type="text/javascript" src="/fragments/js/util.js" defer></script>
<link rel="preload" as="style" href="/fragments/css/mandi.css" onload="this.onload=null;this.rel='stylesheet'" >

<script type="text/javascript">
    $(function () {
        let id = (new URL(window.location)).searchParams.get("id");
        window.location.replace("/issues/show/" + 0);
    });
</script>
