<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js"></script>

<link href="/fragments/css/mandi.css" rel="stylesheet">
<script type="text/javascript" src="/fragments/js/util.js"></script>
<script type="text/javascript">
    $(function () {
        let user = Lockr.get("User");
        new Vue({
            el: "#app",
            data: {
                User: user,
                Issues: [],
            },
            created: function () {
                let self = this;

                api().url("/issues/search").get({ "q": "STATUS:OPEN OR STATUS:WIP" }).then(function (response) {
                    self.Issues = response.Issues;
                }).finally(function () {
                    self.showApp();
                })
            },
            methods: {
                showApp: function () {
                    $("#header").load("/fragments/html/header", {}, function () {
                        fixMenu();
                        new Vue({
                            el: "#header",
                            data: {
                                User: Lockr.get("User"),
                                navbar: { hide: false },
                            }
                        });
                        $("#pageTitle").html("Issues");
                        $("#root").show();

                    });

                },
                close: function (event) {
                    event.preventDefault();
                    history.back();
                },
                show: function (event, id) {
                    event.preventDefault();
                    let self = this;
                    window.location.href = ("/issues/show/" + id);
                },
                blank: function (event) {
                    event.preventDefault();
                    window.location.href = ("/issues/blank");
                }
            }
        });
    });
</script>
<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <div class="container">
            <div class="d-flex flex-row justify-content-end">
                <a href="#" class="m-1 btn btn-primary" @click="blank($event)">New</a>
            </div>
            <div class="row" v-for="(issue,index) in Issues">
                <div class="col">
                    <div class="content-box my-2">
                        <h6 class="m-0">{{issue.Priority}} - {{issue.Id}} ( {{ issue.Status }} )</h6>
                        <a href="#" @click="show($event,issue.Id)">{{issue.Title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>