<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js"></script>

<link href="/fragments/css/mandi.css" rel="stylesheet">
<script type="text/javascript" src="/fragments/js/util.js" ></script>
<script type="text/javascript">
    window.addEventListener ( 'load', function() {

        let user = Lockr.get("User");
        let id = (new URL(window.location)).searchParams.get("id");
        new Vue({
            el: "#app",
            data : {
                id_parameter : id,
                User: user,
                Issue : { Company : { Id: user.Company.Id } , Title : "" , Priority :"" , Description : "" , Attachment : ""} ,
                Resolutions : ["","FIXED","DUPLICATE","WONTFIX","WORKSFORME","BEHAVIOUR_EXPLAINED"],
                Priorities : [ "P1" , "P2" , "P3" ],
                Statuses : ["OPEN","WIP","CLOSED"],
                Assignees : [],
                updated : false,

            },
            created: function(){
                let self = this;
                if (id && id*1> 0){
                    api().url("/issues/show/"+id).get().then(function(response){
                        self.Issue = response.Issue;
                        self.showApp();
                    });
                }else{
                    self.showApp();
                }
            },
            methods : {
                showApp : function(){
                    let self = this;
                    $("#header").load("/fragments/html/header", {}, function(){
                        fixMenu();
                        new Vue({
                            el: "#header",
                            data  : {
                                User : Lockr.get("User"),
                                navbar : { hide : false },
                            }
                        });
                        var title = "New Issue";
                        if (self.Issue.Id){
                            title = "Issue #" + self.Issue.Id;
                        }
                        $("#pageTitle").html(title);
                        $("#root").show();
                    });
                },
                save : function(){
                    let self = this;
                    var files = $('#attachment')[0].files;

                    let formData = new FormData();

                    self.Issue.Attachment && formData.append("ATTACHMENT", $('#attachment')[0].files[0]);
                    self.Issue.Description && formData.append("DESCRIPTION", self.Issue.Description);
                    self.Issue.Title && formData.append("TITLE", self.Issue.Title);
                    self.Issue.Priority && formData.append("PRIORITY", self.Issue.Priority);
                    self.Issue.Resolution && formData.append("RESOLUTION", self.Issue.Resolution);
                    self.Issue.Status && formData.append("STATUS", self.Issue.Status);
                    self.Issue.Id && self.Issue.Id *1.0 > 0 && formData.append("ID", self.Issue.Id);
                    self.Issue.Company.Id && formData.append("COMPANY_ID",self.Issue.Company.Id);

                    api().url("/issues/save").parameters(formData).headers({ "Content-Type": "multipart/form-data" , "Accept" : "application/json" }).post().then(function (response) {
                        console.log(response);
                        self.Issue = response.Issue;
                        self.Issue.Description = "";
                        Vue.set(self,"Issue",self.Issue);
                        showErrorMessage("Issue Updated Thanks.");
                        self.updated = true;
                        //Vue.$forceUpdate();
                    }).catch(function(err){
                        showError(err);
                    });
                },
                yank : function(event){
                    if (event){
                        event.preventDefault();
                    }

                    let self = this;
                    api().url("/issues/yank/" + self.Issue.Id).get().then(function(response){
                        self.Issue = response.Issue;
                        showErrorMessage("Issue Yanked");
                        //window.location.replace("/issues/show/" + response.Issues[0].Id);
                    }).catch(function(err){
                        showError(err);
                    });
                },
                destroy_note: function(event,note){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    api().url("/notes/destroy/"+note.Id).get().then(function(response){
                        showErrorMessage("Note Deleted");
                        let index = self.Issue.Notes.findIndex(function(n){
                           return n.Id == note.Id;
                        });
                        self.Issue.Notes.splice(index,1);
                    }).catch(function(err){
                        showError(err);
                    })
                },
                readDataFile: function (file, callback) {
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        callback(e.target.result);
                    }
                    reader.readAsDataURL(file);
                },
                onAttachmentFileChange: function (e) {
                    e.preventDefault();
                    let self = this;
                    self.Issue.AttachmentContentName = e.target.files[0].name;
                    self.readDataFile(e.target.files[0],function(content){
                        self.Issue.Attachment = content;
                        Vue.set(self,"Issue",self.Issue);
                        self.$forceUpdate();
                    });
                },
                chooseAttachmentFile: function (e) {
                    let fileinput = $("#attachment");
                    fileinput.click();
                },
                close : function(event){
                    event.preventDefault();
                    history.back();
                },
                edit : function(event){
                    event.preventDefault();
                    let self = this;
                    window.location.replace("/issues/show/" + self.Issue.Id);
                }
            }
        });
    });
</script>
<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <div class="text-center" v-if="updated">
            <h5>Issue#<a href="#" @click="edit($event)">{{Issue.Id}}</a>{{id_parameter *1 > 0 ? "Updated" : "Created"}}</h5>

            <div class="d-flex flex-row justify-content-center">
                <a href="#" class="btn btn-primary" @click="close($event)">Close</a>
            </div>
        </div>
        <form @submit.prevent="save()" v-else>
            <div class="form-group">
                <label for="Title" class="text-left d-block">Title</label>
                <input class="form-control" id="Title" placeholder="Summary of the Issue" v-model="Issue.Title" />
            </div>
            <div class="row form-group">
                <div class="col-6">
                    <label for="'p'+i" class="text-left d-block">Priority</label>
                    <div class="form-check-inline align-middle mr-1" v-for="(p,i) in Priorities" >
                        <input class="form-check-input mb-0" type="radio" v-model="Issue.Priority"
                            name="Priority" v-bind:id="'p'+i" v-bind:value="p"/>
                        <label class="form-check-label small" v-bind:for="'p'+i">{{p}}</label>
                    </div>
                </div>
                <div class="col-6">
                    <label for="'s'+i" class="text-left d-block">Status</label>
                    <div class="form-check-inline align-middle mr-1" v-for="(s,i) in Statuses" >
                        <input class="form-check-input mb-0" type="radio" v-model="Issue.Status"
                            name="Status" v-bind:id="'s'+i" v-bind:value="s"/>
                        <label class="form-check-label small" v-bind:for="'s'+i">{{s}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="'r'+i" class="text-left d-block">Resolution</label>
                <div class="form-check-inline align-middle mr-1" v-for="(r,i) in Resolutions" >
                    <input class="form-check-input mb-0" type="radio" v-model="Issue.Resolution"
                        name="Resolution" v-bind:id="'r'+i" v-bind:value="r"/>
                    <label class="form-check-label small" v-bind:for="'r'+i">{{r !== "" ? r  : "NOT RESOLVED"}}</label>
                </div>
            </div>
            <div class="form-group">
                <label for="'s'+i" class="text-left d-block">Assigned To {{Issue.AssignedTo ? Issue.AssignedTo.LongName : ""}}</label>
            </div>
            <div class="form-group border-top border-dark">
                <label for="Description" class="text-left d-block"><b>Add New Note</b></label>
                <textarea name="Description" rows="4" cols="80" class="form-control" id="Description"
                    placeholder="Enter notes." v-model="Issue.Description">
                </textarea>
            </div>
            <div class="form-row ">
                <div class="col-12 image-holder">
                    <img v-bind:src="Issue.Attachment"  class="w-100" v-if="Issue.Attachment"></img>
                    <div class="default-img d-flex align-items-center justify-content-center border rounded-sm"
                        v-else>
                        <i class="fa fa-image text-muted"></i>
                    </div>
                    <span>
                        <label class="btn btn-camera btn-sm btn-outline-primary" for="attachment">
                            <i class="fa fa-camera"></i>
                        </label>
                        <input type="file" class="file-upload" key="attachment" id="attachment"
                            v-on:input="onAttachmentFileChange($event)" accept="image/*;capture=camera" />
                    </span>
                </div>
            </div>
            <div>
                <b>Notes History</b>
                <div class="row border-top border-dark" v-for="(n,i) in Issue.Notes">
                    <div class="col-10">{{n.CreatedAt}}</div>
                    <div class="col-2"><a class="fas fa-times btn" href="#" @click="destroy_note($event,n)"></a></div>
                    <div class="col-12">{{n.CreatorUser.LongName}}</div>
                    <div class="col-12">{{n.Notes}}</div>
                    <div class="col-12" v-if="n.AttachmentUrl">
                        <img v-bind:src="n.AttachmentUrl" >
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                <a href="#" @click="yank($event)">Yank</a>
                <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
            </div>

        </form>



    </div>
</div>
