<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>

<!--script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js"></script!-->



<script type="text/javascript">
    $(function () {
        $("#header").load("/fragments/html/header");


        new Vue({
            el: "#app",
            data: {
                messages: [],
                User : {},
                search : {
                    term :"",
                    results : [] ,
                },
                facilityOrders : {},
                facilities : [],
            },
            created: function () {
                let self = this;
                api().url("/users/current").get().then(function (response) {
                    self.User = response.User;
                    Lockr.set("User", self.User);

                    let  validated = self.User.UserPhones.length > 0 ;
                    if (validated){
                        self.User.UserPhones.forEach((item, i) => {
                                if (item.Validated === 'N'){
                                    validated = false;
                                }
                        });
                    }
                    if (!validated){
                        window.location.href = "/users/html/profile";
                    }else {
                        self.showApp();
                    }
                }).catch(function (err) {
                    self.messages.push(err.response.data.SWFHttpResponse.Error);
                    self.showApp();
                    self.autoClearMessage();
                });
                let fo = Lockr.get("facilityOrders");
                if (fo){
                    self.facilityOrders = fo;
                }
            },
            methods: {
                showApp: function () {
                    $("#root").show();
                },
                message: function () {
                    var message = "";
                    let self = this;
                    self.messages.forEach(function (m) {
                        message += " " + m;
                    });
                    return message;
                },
                autoClearMessage: function () {
                    let self = this;
                    setTimeout(function () {
                        self.messages = [];
                    }, 1500);
                },
                headers: function(){
                    let location = Lockr.get("Location");
                    if (location && location.latitude && location.longitude){
                        return { Lat: location.latitude , Lng : location.longitude };
                    }else {
                        return {} ;
                    }
                },
                isKeyTriggerable: function (e) {
                    return  e && e.target.value.length > 3 ;
                },
                find: function(e){
                    if (e){
                        e.preventDefault();
                    }

                    let self = this;
                    self.search.results = [];
                    if (!self.isKeyTriggerable(e)){
                        return;
                    }
                    self.search.term = e.target.value;
                    let term = self.search.term.replace(/[^a-zA-Z0-9 ]/g, " ");
                    api().url("/inventories/search/"+term).get().then(function (response) {
                        if (!response) {
                            return
                        }
                        self.search.results = response.Inventories.sort(function(o1,o2){
                            return o1.Facility.Distance - o2.Facility.Distance;
                        }) ;
                        if (self.search.results.length === 0 ){
                            return;
                        }

                        self.search.results.forEach((result, i) => {
                            var order = self.facilityOrders[result.Facility.Id];
                            result.OrderedQuantity = 0;
                            if (order){
                                order.OrderLines.forEach((orderLine, i) => {
                                    if (orderLine.Inventory.Sku.Id === result.Sku.Id && orderLine.Inventory.Facility.Id === result.Facility.Id){
                                        result.OrderedQuantity = orderLine.OrderedQuantity
                                    }
                                });
                            }
                        });

                    });
                },
                onQtyChange: function(event,index){
                    let self = this;
                    let result = self.search.results[index];
                    result.OrderedQuantity = Math.max(0,result.OrderedQuantity);
                    Vue.set(self.search.results, index , result );
                    self.addToCart(event,result);
                },
                reduce: function(event,index){
                    let self = this;
                    let result = self.search.results[index];
                    result.OrderedQuantity -=1 ;
                    result.OrderedQuantity = Math.max(0,result.OrderedQuantity);
                    Vue.set(self.search.results, index , result );
                    self.addToCart(event,result);
                },
                increase: function(event,index){
                    let self = this;
                    let result = self.search.results[index];

                    if (!result.OrderedQuantity){
                        result.OrderedQuantity = 0.0 ;
                    }
                    result.OrderedQuantity += 1.0;
                    Vue.set(self.search.results, index , result );
                    self.addToCart(event,result);
                },
                addToCart : function(event,result){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    var refreshHeader = false;
                    if (!self.facilityOrders[result.Facility.Id]){
                        self.facilityOrders[result.Facility.Id] = {
                            OrderLines :[] ,
                            OrderAddresses : []
                        };
                        Vue.set(self.facilityOrders,result.Facility.Id , self.facilityOrders[result.Facility.Id]) ;
                    }
                    var order = self.facilityOrders[result.Facility.Id];
                    if (order){
                        let index = order.OrderLines.findIndex(function(ol){
                            return ol.Inventory.Sku.Id === result.Sku.Id && ol.Inventory.Facility.Id === result.Facility.Id;
                        });
                        let ol = { Inventory : result,
                            OrderedQuantity : result.OrderedQuantity };
                        if (index < 0){
                            if (ol.OrderedQuantity * 1 > 0) {
                                order.OrderLines.push(ol);
                                refreshHeader = true;
                            }
                        }else {
                            if (ol.OrderedQuantity * 1 > 0) {
                                order.OrderLines.splice(index,1,ol);
                            }else {
                                refreshHeader = true;
                                order.OrderLines.splice(index,1);
                            }
                        }
                        var facilityIndex  = self.facilities.findIndex(function(f){
                            return f.Id == result.Facility.Id;
                        });


                        if (order.OrderLines.length === 0){
                            delete self.facilityOrders[result.Facility.Id];
                            if (facilityIndex >= 0 ){
                                self.facilities.splice(facilityIndex,1);
                            }
                        }else {
                            if (facilityIndex < 0){
                                self.facilities.push(result.Facility);
                            }
                        }
                    }
                    Lockr.set("facilityOrders",self.facilityOrders);
                    if (refreshHeader) {
                        $("#header").load("/fragments/html/header");
                    }
                },

            }
        });
    });
</script>

<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <input  key="search"  id="search"   class="form-control" placeholder="Search Item/Store" v-on:input="find($event)"
                     v-model="search.term" />
                </div>

            </div>
            <div class="row border-bottom" v-for="(result,index) in search.results" v-if="search.results.length > 0">
                <div class="col-12">
                    {{result.Sku.Name}}
                </div>
                <div class="col-12">
                    {{result.Facility.Name}}
                </div>
                <div class="col-12">
                    Available : {{result.Infinite == 'Y' || Math.ceil(result.Quantity) > 0 }}
                </div>
                <div class="col-12">
                    Price : {{result.SellingPrice}}
                </div>
                <div class="col-12">
                    Distance : {{result.Facility.Distance}}
                </div>
                <div class="col-4">
                    Quantity :
                </div>
                <div class="col-2 p-0 m-0 text-right">
                    <button class="h-100 btn btn-primary fas fa-minus" v-on:click="reduce($event,index)" />
                </div>
                <div class="col-2 px-1">
                    <input  v-bind:key="'quantity' + index"  v-bind:id="'quantity' + index"
                    class="h-100 qty-box form-control text-center" placeholder="Quantity"
                    v-model="result.OrderedQuantity" @change="onQtyChange($event,index)" />
                </div>
                <div class="col-2 p-0 m-0 text-left">
                    <button class="h-100 btn btn-primary fas fa-plus" v-on:click="increase($event,index)" />
                </div>
                <!-- <div class="col-2">
                    <button class="btn-primary" v-on:click="addToCart($event,result)">Update Cart</button>
                </div>
                -->
            </div>
        </div>

        <div class="container-fluid mb-5 pb-4" >
            <div id="message" ref="message" class="alert alert-danger mb-0" v-if="messages && messages.length > 0">
                {{ message() }}
            </div>
        </div>
    </div>
</div>
