<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/fragments/js/util.js"></script>
<link rel="stylesheet" href="/fragments/css/mandi.css">



<script type="text/javascript">
    $(function () {



        var params = (new URL(window.location)).searchParams;
        var term = params.get("search");
        var facility_id = params.get("facility_id");
        var order_id = params.get("order_id");

        let PreferredMaxDistance = Lockr.get("PreferredMaxDistance");
        if (!PreferredMaxDistance) {
            Lockr.set("PreferredMaxDistance", 10);
        }

        new Vue({
            el: "#app",
            data: {
                Mobile: isMobile(),
                User: {},
                sendSubscriptionToServer: sendSubscriptionToServer,
                ShipmentCount: 0,
                OrderLineCount: 0,
                OrderAmount: 0,
                DeliveryAmount: 0,
                search: {
                    MaxDistance: Lockr.get("PreferredMaxDistance") || 10,
                    facility_id: facility_id,
                    order_id: order_id,
                    Facility: {},
                    Order: {},
                    term: term || "",
                    results: [],
                    termLengthTrigger: 1,
                },
                facilityOrders: Lockr.get("facilityOrders") || {},
            },
            created: function () {
                let self = this;
                showSpinner();
                api().url("/users/current").get().then(function (response) {
                    self.User = response.User;
                    if (!self.User.UserPhones) {
                        self.User.UserPhones = [];
                    }
                    Lockr.set("User", self.User);
                    Lockr.set("SignUp", self.User.SignUps[0]);
                    subscribe(sendSubscriptionToServer); //Do Subscription only after setting User.
                    if (self.User.TermsAccepted !== 'Y') {
                        window.location.replace("/dashboard/html/terms");
                        return;
                    }
                    if (self.User.PasswordSet !== 'Y') {
                        window.location.href = ("/users/html/profile");
                        return;
                    }

                    let validated = self.User.Id == 1 || self.User.UserPhones.length > 0;
                    if (validated) {
                        self.User.UserPhones.forEach((item, i) => {
                            if (item.Validated === 'N') {
                                validated = false;
                            }
                        });
                    }

                    if (!validated) {
                        window.location.href = ("/users/html/profile");
                    } else {
                        self.loadFacility().then(function (f) {
                            self.search.Facility = f;
                            if (f.Id) {
                                self.search.termLengthTrigger = 0;
                            }
                            self.loadOrder().then(function (o) {
                                if (o.Id && isOpenOrder(o)) {
                                    self.search.Order = o;
                                } else {
                                    self.search.Order = {};
                                    self.search.order_id = undefined;
                                }
                                if (self.search.Order.Id) {
                                    self.search.termLengthTrigger = 0;
                                }
                                self.find(null);
                                self.showApp();
                            });
                        });
                    }
                }).catch(function (err) {
                    showError(err);
                    self.showApp();
                }).finally(function () {
                    hideSpinner();
                });
            },
            methods: {
                reloadCounts: function () {
                    let self = this;

                    var obj = self.facilityOrders;
                    self.ShipmentCount = 0;
                    self.OrderLineCount = 0;
                    self.OrderAmount = 0;
                    self.DeliveryAmount = 0;

                    for (key in obj) {
                        if (obj.hasOwnProperty(key)) {
                            self.ShipmentCount += 1;
                            self.OrderLineCount += obj[key].OrderLines.length;
                            var facility = null;
                            var deliveryAmount = null; //It is only charged once per order.!!
                            obj[key].OrderLines.forEach((ol, i) => {
                                self.OrderAmount += ol.OrderedQuantity * ol.Inventory.SellingPrice
                                if (!facility) {
                                    facility = ol.Inventory.Facility;
                                }
                                if (!deliveryAmount && ol.Inventory.DeliveryProvided === 'Y') {
                                    deliveryAmount = ol.Inventory.DeliveryCharges
                                }
                            });
                            if (obj[key].OrderLines.length === 0) {
                                delete obj[key];
                            }

                            if (deliveryAmount && (!obj[key].CustomerPickup || obj[key].CustomerPickup !== 'Y')) {
                                self.DeliveryAmount += deliveryAmount * 1.0;
                            }
                        }
                    }

                    updateHeaderCount();
                },
                loadOrder: function () {
                    let self = this;
                    return new Promise(function (resolve, reject) {
                        if (self.search.order_id && self.search.order_id * 1.0 > 0) {
                            showSpinner();
                            api().url("orders/show/" + self.search.order_id).get().then(function (response) {
                                resolve(response.Order);
                            }).catch(function (err) {
                                reject(err);
                            }).finally(function () {
                                hideSpinner();
                            });
                        } else {
                            resolve({});
                        }
                    });
                },
                loadFacility: function () {
                    let self = this;
                    return new Promise(function (resolve, reject) {
                        if (self.search.facility_id && self.search.facility_id * 1.0 > 0) {
                            showSpinner();
                            api().url("facilities/show/" + self.search.facility_id).get().then(function (response) {
                                resolve(response.Facility);
                            }).catch(function (err) {
                                reject(err);
                            }).finally(function () {
                                hideSpinner();
                            });
                        } else {
                            resolve({});
                        }
                    });
                },
                showApp: function () {
                    let self = this;
                    $("#header").load("/fragments/html/header", {}, function () {
                        fixMenu();
                        $("#pageTitle").html("HumBhiOnline");
                        $(".body").css("padding-top", "148px");
                        $("#root").show();
                        $("#search").focus();
                        self.reloadCounts();
                    });
                },
                headers: function () {
                    let location = Lockr.get("Location");
                    if (location && location.latitude && location.longitude) {
                        return { Lat: location.latitude, Lng: location.longitude };
                    } else {
                        return {};
                    }
                },
                isKeyTriggerable: function (length = this.search.termLengthTrigger) {
                    let self = this;
                    return self.search.term.length >= length;
                },
                find: function (e) {
                    let self = this;
                    if (e) {
                        e.preventDefault();
                        self.search.term = e.target.value;
                    }
                    self.search.results = [];
                    if (!self.isKeyTriggerable()) {
                        return;
                    }
                    let term = self.search.term.replace(/[^a-zA-Z0-9 ]/g, " ").trim();
                    if (self.search.facility_id && self.search.facility_id * 1.0 > 0) {
                        term = "(FACILITY_ID:" + self.search.facility_id + (term.length > 0 ? " AND ( SKU:" + term + "* OR TAG:" + term + "* )" : "") + ")";
                    }
                    var params = {};
                    params.MaxDistance = self.search.MaxDistance;

                    if (self.search.Order.Id && self.search.Order.Id * 1.0 > 0) {
                        params.OrderId = self.search.Order.Id;
                    }


                    showSpinner();
                    api().url("/inventories/search/" + term).get(params).then(function (response) {
                        if (!response) {
                            return
                        }
                        self.search.results = response.Inventories.sort(function (o1, o2) {
                            return o1.Facility.Distance - o2.Facility.Distance;
                        });
                        if (self.search.results.length === 0) {
                            return;
                        }

                        self.search.results.forEach((result, i) => {
                            var order = self.facilityOrders[result.Facility.Id];
                            result.OrderedQuantity = 0;
                            result.OrderedAmount = (0.00).toFixed(2);
                            if (order) {
                                if (order.CustomerPickup === 'Y') {
                                    result.DeliveryProvided = 'N';
                                }
                                order.OrderLines.forEach((orderLine, i) => {
                                    if (orderLine.Inventory.Sku.Id === result.Sku.Id && orderLine.Inventory.Facility.Id === result.Facility.Id) {
                                        result.OrderedQuantity = orderLine.OrderedQuantity
                                        result.OrderedAmount = (result.OrderedQuantity * result.SellingPrice * 100 / 100).toFixed(2);
                                    }
                                });
                            }
                        });

                    }).finally(function () {
                        hideSpinner();
                    });
                },
                onQtyChange: function (event, index) {
                    let self = this;
                    let result = self.search.results[index];
                    result.OrderedQuantity = Math.max(0, result.OrderedQuantity);
                    Vue.set(self.search.results, index, result);
                    self.addToCart(event, result);
                },
                reduce: function (event, index) {
                    let self = this;
                    let result = self.search.results[index];
                    result.OrderedQuantity -= (!self.isDeliverySku(result.Sku) ? 1.0 : Math.max(result.ChargeableDistance * 1.0 - result.Facility.MinFixedDistance * 1.0, 0.001));
                    result.OrderedQuantity = Math.max(0, result.OrderedQuantity);
                    result.OrderedAmount = (result.OrderedQuantity * result.SellingPrice * 100 / 100).toFixed(2);
                    Vue.set(self.search.results, index, result);
                    self.addToCart(event, result);
                },
                isDeliverySku: function (sku) {
                    return sku.Item.AssetCode && sku.Item.AssetCode.Code.startsWith("99681");
                },
                increase: function (event, index) {
                    let self = this;
                    let result = self.search.results[index];

                    if (!result.OrderedQuantity) {
                        result.OrderedQuantity = 0.0;
                    }
                    if (self.isDeliverySku(result.Sku) && result.OrderedQuantity * 1.0 > 0) {
                        return;
                    }
                    result.OrderedQuantity += (!self.isDeliverySku(result.Sku) ? 1.0 : Math.max(result.ChargeableDistance * 1.0 - result.Facility.MinFixedDistance * 1.0, 0.001));
                    result.OrderedAmount = (result.OrderedQuantity * result.SellingPrice * 100 / 100).toFixed(2);
                    Vue.set(self.search.results, index, result);
                    self.addToCart(event, result);
                },
                addToCart: function (event, result) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    if (!self.facilityOrders[result.Facility.Id]) {
                        self.facilityOrders[result.Facility.Id] = {
                            OrderLines: [],
                            OrderAddresses: []
                        };
                        Vue.set(self.facilityOrders, result.Facility.Id, self.facilityOrders[result.Facility.Id]);
                    }
                    var order = self.facilityOrders[result.Facility.Id];
                    if (order) {
                        let index = order.OrderLines.findIndex(function (ol) {
                            return ol.Inventory.Sku.Id === result.Sku.Id && ol.Inventory.Facility.Id === result.Facility.Id;
                        });
                        let ol = {
                            Inventory: result,
                            OrderedQuantity: result.OrderedQuantity
                        };
                        if (index < 0) {
                            if (ol.OrderedQuantity * 1 > 0) {
                                order.OrderLines.push(ol);
                            }
                        } else {
                            if (ol.OrderedQuantity * 1 > 0) {
                                order.OrderLines.splice(index, 1, ol);
                            } else {
                                order.OrderLines.splice(index, 1);
                            }
                        }
                        if (self.search.Order.Id) {
                            order.RefOrder = { Id: self.search.Order.Id };
                            order.CustomerPickup = 'N';
                        } else {
                            order.CustomerPickup = order.CustomerPickup || (ol.Inventory.DeliveryProvided === 'N' ? 'Y' : 'N');
                        }
                    }
                    self.reloadCounts();
                    Lockr.set("facilityOrders", self.facilityOrders);
                },
                setPreferredDistance: function (distance) {
                    let oldValue = Lockr.get("PreferredMaxDistance");
                    if (oldValue != distance) {
                        Lockr.set("PreferredMaxDistance", distance);
                        this.find(null);
                    }
                },
                buy: function (event) {
                    event && event.preventDefault();
                    window.location.href = ("/buy");
                }

            }
        });
    });
</script>
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        height: 200px;
        width: 100%;
    }

    .carousel-inner {
        background: gray;
    }
</style>
<div id="root" style="display:none;">
    <div id="header">
    </div>
    <div id="app" class="app-body">
        <div class="container-fluid" v-if="search.facility_id && search.Facility.Name">
            <div id="banner-slider" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#banner-slider" v-bind:data-slide-to="index"
                        v-bind:class="index == 0 ? 'active' : '' "
                        v-for="(attachment,index) in search.Facility.Attachments">
                    </li>
                </ul>
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div v-bind:class="'justify-content-center carousel-item ' + (index == 0 ? 'active' : '') "
                        v-for="(attachment,index) in search.Facility.Attachments">
                        <img v-bind:src="attachment.AttachmentUrl"></img>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#banner-slider" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#banner-slider" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="row">
                <div class="col-12 item-list">
                    <h6 class="mb-0">{{search.Facility.Name}}</h6>
                    <p class="m-0 text-muted">
                        {{search.Facility.AddressLine1}}, {{search.Facility.AddressLine2}},
                        {{search.Facility.City.Name}}, {{search.Facility.State.Name}}
                        {{search.Facility.PinCode.PinCode}}, <a
                            v-bind:href="'tel://'+ search.Facility.PhoneNumber">{{search.Facility.PhoneNumber}}</a>
                    </p>
                    <div class="row">
                        <div class="col">
                            <!-- <a class="btn btn-link" v-bind:href="'tel://'+ search.Facility.PhoneNumber"
                                v-if="Mobile && search.Facility.PhoneNumber">
                                <i class="fa-phone-alt fas"></i>
                            </a> -->
                            <a v-bind:href="'whatsapp://send?phone='+ search.Facility.PhoneNumber"
                                data-action="share/whatsapp/share" class="btn btn-link px-1"
                                v-if="Mobile && search.Facility.PhoneNumber">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </div>
                        <div class="col d-flex justify-content-end align-items-center">
                            <small>@ Distance of {{search.Facility.Distance}} Km</small>
                        </div>
                    </div>
                    <!-- {{search.Facility.Lat +","+ search.Facility.Lng}} -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div id="search-holder" class="form-row search-holder">
                <div class="col-12">
                    <div class="d-flex flex-row align-items-center">
                        <input key="search" id="search" class="search-control" placeholder="Search for Items or Store"
                            v-on:input="find($event)" v-model="search.term" />
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="form-row mt-1 mb-2">
                        <div class="col">
                            <div class="form-check-inline align-middle mr-1">
                                <small>
                                    With in (Kms)
                                </small>
                            </div>
                            <div class="form-check-inline align-middle mr-1">
                                <input class="form-check-input mb-0" type="radio" v-model="search.MaxDistance"
                                    name="MaxDistance" id="distance_filter_5" value="5"
                                    @change="setPreferredDistance(5)">
                                <label class="form-check-label small" for="distance_filter_5">0 - 5</label>
                            </div>
                            <div class="form-check-inline align-middle mr-1">
                                <input class="form-check-input mb-0" type="radio" v-model="search.MaxDistance"
                                    name="MaxDistance" id="distance_filter_10" value="10"
                                    @change="setPreferredDistance(10)">
                                <label class="form-check-label small" for="distance_filter_10">0 - 10</label>
                            </div>
                            <div class="form-check-inline align-middle mr-1">
                                <input class="form-check-input mb-0" type="radio" v-model="search.MaxDistance"
                                    name="MaxDistance" id="distance_filter_10000" value="10000"
                                    @change="setPreferredDistance(10000)">
                                <label class="form-check-label small" for="distance_filter_10000">>10</label>
                            </div>

                        </div>
                    </div>



                    <!-- <input id="distance_filter_5" type="radio" v-model="search.MaxDistance" value="5"
                    @change="setPreferredDistance(5)">
                    <label for="distance_filter_5 align-middle">5</label>
                    <input class="align-middle" id="distance_filter_10" type="radio" v-model="search.MaxDistance"
                    value="10">
                    <label for="distance_filter_10">10</label>
                    <input id="distance_filter_10000" type="radio" v-model="search.MaxDistance" value="10000">
                    <label for="distance_filter_10000"> > 10</label>-->
                </div>
            </div>
            <div class="row" v-for="(result,index) in search.results" v-if="search.results.length > 0">
                <div class="col">
                    <div class="item-list">
                        <div class="form-row">
                            <div class="col-4 img-holder">
                                <img class="img-fluid w-100 h-100"
                                    v-bind:src="'/attachments/view/'+result.Sku.Attachments[0].Id"
                                    v-if="result.Sku.Attachments && result.Sku.Attachments.length > 0" />
                            </div>
                            <div class="col">
                                <h6 class="m-0">{{result.Sku.Name}}
                                    <p class="small">{{result.Tags}}</p>
                                </h6>
                                <p class="mb-1">
                                    <small class="text-muted font-weight-bold">By: <a
                                            v-bind:href="'/dashboard?facility_id=' +result.Facility.Id">{{result.Facility.Name}}</a>
                                    </small>
                                </p>
                                <small class="m-0"><a
                                        v-bind:href="'https://google.com/maps/place/'+result.Facility.Lat +',' + result.Facility.Lng">
                                        <i class="fa fa-map-pin mr-1 text-muted"></i>
                                        {{result.Facility.Distance}} Km
                                    </a>
                                </small>
                                <p class="mb-0 mt-3">
                                    <strike v-if="result.MaxRetailPrice * 1.0 > result.SellingPrice">
                                        &#x20B9; {{result.MaxRetailPrice}}
                                    </strike>
                                    &#x20B9; {{result.SellingPrice}}
                                </p>

                            </div>
                        </div>
                        <hr class="my-2" />
                        <div class="form-row">
                            <div class="col-4">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-sm btn-outline-primary border-right-0 m-0"
                                        v-on:click="reduce($event,index)">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <input v-bind:key="'quantity' + index" v-bind:id="'quantity' + index"
                                        class="btn btn-sm btn-outline-primary w-100 border-left-0 border-right-0 m-0"
                                        placeholder="Quantity" v-model="result.OrderedQuantity"
                                        @change="onQtyChange($event,index)" />
                                    <button type="button" class="btn btn-sm btn-outline-primary border-left-0"
                                        v-on:click="increase($event,index)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col text-right d-flex align-items-center justify-content-end">
                                <small>
                                    <del v-if="result.DeliveryProvided !== 'Y'">Delivery</del>
                                    <span v-if="result.DeliveryProvided === 'Y' && !isDeliverySku(result.Sku) &&
                                            ( !result.DeliveryCharges || result.DeliveryCharges * 1.0 === 0 )">
                                        Delivery - Free
                                    </span>
                                    <span
                                        v-else-if="result.DeliveryProvided === 'Y' && result.DeliveryCharges && result.DeliveryCharges * 1.0 > 0"
                                        class="text-muted">
                                        {{ (isDeliverySku(result.Sku) ? "Fixed Charges" : "Delivery") }} - &#x20B9; {{
                                        result.DeliveryCharges }}
                                    </span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 70px;">

            </div>
            <div class="bottom-card" v-if="OrderLineCount > 0">
                <div class="form-row">
                    <div class="col-8">
                        <h6 class="m-0">{{OrderLineCount}} Items | &#x20B9; {{(OrderAmount * 1.0).toFixed(2)}}</h6>
                        <small class="m-0 text-muted" v-if="DeliveryAmount * 1.0 > 0">Delivery charges &#x20B9;
                            {{(DeliveryAmount *1.0).toFixed(2)}}</small>
                    </div>
                    <div class="col d-flex align-items-center">
                        <a class="btn btn-primary btn-sm btn-block" href="#" @click="buy($event)">CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>