<link rel="stylesheet" href="/dashboard/css/style.css">
<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/fragments/js/util.js"></script>
<script type="text/javascript">
    $(function () {
        new Vue({
            el: "#root",
            data: {
                User: Lockr.get("User"),
                SignUp: Lockr.get("SignUp"),
                isAndroidApp: isAndroidApp(),
                isMobile: isMobile(),
                venkyText: "is a passionate technology enthusiast and has been part of the founding team in several successful\
                    supply chain startups after completing his MSc Statistics degree from IIT Kanpur. He is also the author of \
                    Succinct Web Framework (an opensource web application framework), that he has used effectively in several large scale \
                    production applications. Post retirement, his favourite past time has been building applications on the Succinct Framework \
                    for enterpreneur friends and family. During covid 19 pandemeic, seeing small sellers and farmers struggling to make a living taking orders \
                    on phone and text messages, he decided to put his technology and supply chain skills to use for his local seller friends and came up with \
                    this refreshingly inclusive market place, where, any one can start selling online and proudly feel HumBhiOnline!",
                venkyQuote: "\"Any one should be able to sell online. Technology costs are not dependent on what is sold, Gold or Iron!\"",
                prashantText: "has had a rich experience of designing and building User interaction for several projects as a UI/Ux architect. \
                    Some of the more recent projects were with Venky having Succinct framework as the backend.",
                prashantQuote: "\"I would work with Venky Sir on any project he works on.\""

            },
            created: function () {
                let self = this;
                console.log("Mobile :" + self.isMobile);
                console.log("Android :" + self.isAndroidApp);
                if (self.isMobile) {
                    if ((self.User && self.User.Verified === 'Y') || (self.SignUp && self.SignUp.Verified === 'Y')) {
                        window.location.replace("/login");
                    }
                }
            }
        });
    });
    function hideMenu() {
        $("#menu").removeClass("show");
        return true;
    }
</script>


<div id="root" style="w-100">
    <header>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <div class="container p-0">
                        <a class="navbar-brand" href="#">
                            <img src="/dashboard/images/MandiLogo.svg" class="logo-img" alt=""><span>HumBhi</span>Online
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
                            aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="menu">
                            <div class="d-lg-flex justify-content-lg-end w-100">
                                <ul class="navbar-nav mr-0 mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" onclick="hideMenu()"
                                            href="/dashboard#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="hideMenu()" href="/dashboard#why">Why choose</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Testiminial</a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="hideMenu()" href="/dashboard#pricing" tabindex="-1"
                                            aria-disabled="true">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="hideMenu()" href="/screenshots"
                                            tabindex="-1" aria-disabled="true">How To</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="hideMenu()" href="/dashboard#about-us"
                                            tabindex="-1" aria-disabled="true">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" onclick="hideMenu()" href="/dashboard#faq" tabindex="-1"
                                            aria-disabled="true">FAQ</a>
                                    </li>
                                </ul>
                                <a v-if="!isAndroidApp"
                                    href="https://play.google.com/store/apps/details?id=in.humbhionline"
                                    class="btn btn-primary rounded-pill d-none d-sm-block" type="submit">Download
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section class="section-banner d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-8 d-flex align-items-center">
                            <div>
                                <h1>Boosting the digital economy
                                    from the grass roots!</h1>
                                <p>A refreshingly Indian market place that is inclusive in its approach to all round
                                    community growth, “Lokah Samastah Sukhino Bhavanthu”</p>
                                <a v-if="!isAndroidApp"
                                    href="https://play.google.com/store/apps/details?id=in.humbhionline"><img
                                        src="/dashboard/images/google-play-button.gif" class="play-btn" alt=""></a>
                                <a href="/login"
                                    class="btn btn-primary rounded-pill btn-sm mx-lg-2 mx-1 d-inline-block d-sm-none"
                                    type="submit">Get Started</a>
                            </div>
                        </div>
                        <div class="col-4 col-lg-3 offset-lg-1 text-center">
                            <img src="/dashboard/images/first.png" class="img-fluid py-lg-5 py-3" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="/dashboard/images/sell-online.gif" class="img-fluid py-lg-5 py-3 w-75" alt="">
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <h2>Start selling online in three easy steps.</h2>
                        <div class="row">
                            <div class="col-3 col-lg-2">
                                <img src="/dashboard/images/androidIcon.svg" alt="">
                            </div>
                            <div class="col">
                                <h3>Register with HumBhiOnline</h3>
                                <p>You can sign up with your mobile phone at <a href="/login">humbhionline.in/login</a>
                                    or the Android Application HumBhiOnline.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 col-lg-2">
                                <img src="/dashboard/images/aadhaar_english_logo.svg" alt="">
                            </div>
                            <div class="col">
                                <h3>Complete your KYC</h3>
                                <p>Kyc can be completed fastest for no charge using Aadhaar Paperless Offline e-KYC.
                                    You can get your safe to share Offline ekyc document from <a
                                        href="https://resident.uidai.gov.in/offline-kyc">Uidai</a> website.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 col-lg-2">
                                <img src="/dashboard/images/facility.svg" alt="">
                            </div>
                            <div class="col">
                                <h3>Publish your Inventory</h3>
                                <p>Publish products and the price at which you wish to sell at each of your facilities.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center">Tell your customers proudly HumBhiOnline ! </h3>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section id="why">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-12 text-center">
                            <h2 class="mt-lg-5 mt-2 mb-3">Why choose HumBhiOnline?</h2>
                        </div>
                        <div class="col-lg-4">
                            <h3 class="text-center">I am a Buyer</h3>
                            <ul>
                                <li>I can buy from my trusted local sellers online.</li>
                                <li>I can discover other trusted sellers in my neighbourhood</li>
                                <li>I don't have to struggle placing orders over phone or text messages</li>
                                <li>Shopping with local sellers digitally, boosts local economy,
                                    reduces delivery costs, contributes towards Greener nation while reducing my monthly
                                    spend too.</li>
                            </ul>
                            <div class="row justify-content-center text-center mb-lg-5 mb-2 d-lg-none d-flex">
                                <div class="col-lg-6 col-10">
                                    <img src="/dashboard/images/buyingOptions.svg" class="w-25 mb-2" alt="">
                                    <h3>Convenient Shopping</h3>
                                    <p>Local shopping has become convenient again.</p>
                                </div>
                                <div class="col-lg-6 col-10">
                                    <img src="/dashboard/images/moreCustomer.svg" class="w-25 mb-2" alt="">
                                    <h3>Grow Relationships</h3>
                                    <p>A Local market place exposes buyers to more sellers and sellers to more buyers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3 class="text-center">I am a seller</h3>
                            <ul>
                                <li>I can win back my local customers who are shopping online.</li>
                                <li>I can get new customers.</li>
                                <li>I don't have to struggle with taking orders over phone or text messages</li>
                                <li>Affordable pricing plan of 1 &#x20b9; per product order allows me to <strong>give
                                        better discounts</strong> to retain my regular local customers.</li>
                                <li>I can give electronic invoices for my sales thus saving trees and our environment
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h3 class="text-center">I am an aggregator</h3>
                            <ul>
                                <li>I can aggregate supply from trusted sellers who are not tech-savvy and present to my customers as a compelling online seller</li>
                                <li>I can get new customers.</li>
                                <li>Affordable pricing plan of 1 &#x20b9; per product order allows me to <strong>give
                                        better discounts</strong> to retain our regular local customers.</li>
                                <li>We can give electronic invoices for my sales thus saving trees and our environment
                                </li>
                            </ul>
                            <div class="row justify-content-center text-center mb-lg-5 mb-2 d-lg-none d-flex">
                                <div class="col-lg-3 col-10">
                                    <img src="/dashboard/images/upiPayment.svg" class="w-25 mb-2" alt="">
                                    <h3>UPI Payments</h3>
                                    <p> Get digitally paid via UPI without sharing your upi each time via text/sms.</p>
                                </div>
                                <div class="col-lg-3 col-10">
                                    <img src="/dashboard/images/digitalBills.svg" class="w-25 mb-2" alt="">
                                    <h3>Digital Bills</h3>
                                    <p>Ease of keeping records while being ecofriendly.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center mb-lg-5 mb-2 d-lg-flex d-none">
                <div class="col-lg-3 col-10">
                    <img src="/dashboard/images/buyingOptions.svg" class="w-25 mb-2" alt="">
                    <h3>Convenient Shopping</h3>
                    <p>Local shopping has become convenient again.</p>
                </div>
                <div class="col-lg-3 col-10">
                    <img src="/dashboard/images/moreCustomer.svg" class="w-25 mb-2" alt="">
                    <h3>Grow Relationships</h3>
                    <p>A Local market place exposes buyers to more sellers and sellers to more buyers.</p>
                </div>
                <div class="col-lg-3 col-10">
                    <img src="/dashboard/images/upiPayment.svg" class="w-25 mb-2" alt="">
                    <h3>UPI Payments</h3>
                    <p> Get digitally paid via UPI without sharing your upi each time via text/sms.</p>
                </div>
                <div class="col-lg-3 col-10">
                    <img src="/dashboard/images/digitalBills.svg" class="w-25 mb-2" alt="">
                    <h3>Digital Bills</h3>
                    <p>Ease of keeping records while being ecofriendly.</p>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section id="pricing">
        <div class="container ">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center ">
                    <h2 class="mt-lg-5 mt-2">Simple Pricing Plan</h2>
                    <h3>Sellers - 1 &#x20b9;/Product Order - Prepaid</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>As a seller, you need to maintain a credit balance against your HumBhiOnline account.</p>
                    <p>You can recharge your account at any time in multiples of 1 &#x20b9;.
                        For each rupee you recharge for, you will get a credit for 1 product order.
                    </p>
                    <p>That is, if you recharge for 10&#x20b9; and buy 10 credits.
                        You can receive 10 product orders through the platform. It can be in the form of 1 order with 10
                        products or 10 orders with one product each.
                        When across all your customers, the number of product orders you received reaches 10,
                        you are taken offline (i.e not suggested to customers any more) till the account is recharged.
                        It is that simple!
                    </p>
                    <p>On signing up, you are given a complimentary credit of 20 product orders as a sign up bonus to
                        try out the platform for no-charge.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section id="faq">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-9 text-center">
                    <h2 class="mt-lg-5 mt-2">Frequently asked questions</h2>
                    <p class="text-line">
                        HumBhiOnline has collated some of the questions being asked frequently to help others who may
                        have the same.
                        If you have a question not addressed here, please send in your question to <a
                            href="mailto:support@humbhionline.in">support@humbhonline.in</a>
                        It is our Intention to be transparent in our business and answer any questions you may have in
                        doing transactions on this platform.
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="accordion mb-4" id="accordionExample">
                        <div class="card">
                            <h5 class="card-header" id="headingThree">
                                <button class=" btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    How and when is the payment done to the seller?
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </h5>
                            <div id="collapseThree" class="accordion-collapse collapse show"
                                aria-labelledby="headingThree" data-bs-parent="#accordionExample"
                                data-parent="#accordionExample">
                                <div class="accordion-body card-body">
                                    Buyer pays the seller directly on delivery via UPI or cash or any other mode
                                    mutually agreeable to both.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class=" card-header" id="headingFour">
                                <button class=" btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    Will my customer buy from other Sellers? Will this not be detremental to my
                                    business?
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </h5>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample" data-parent="#accordionExample">
                                <div class="accordion-body card-body">
                                    <ul>
                                        <li>In a free market, buyer buys from whoever gives good product and service
                                            at a reasonable price.</li>
                                        <li> You are already losing your customers to bigger online players as they are
                                            providing convenience.
                                            You can win them back as you can give the same convenience and have an edge
                                            because you are local.
                                        </li>
                                        <li>If you give good service, good product at good price, people will come to
                                            you anyway. Do your karma, results will come according to it.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-header" id="headingTwo">
                                <button class=" btn btn-link  collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Can I register as a delivery provider?
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </h5>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample" data-parent="#accordionExample">
                                <div class="card-body accordion-body">
                                    Yes ofcourse. The delivery system is critical for any online commerce. You can
                                    register yourself a seller of “Local Delivery” service. Configure your office and
                                    charges.
                                    Sellers and buyers in the platform can discover you and place a transport order on
                                    you for transporting
                                    a product order placed on the seller. You will also need to go through the same KYC
                                    process as a
                                    seller to register yourself as a delivery provider.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-header" id="headingEight">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                                    data-toggle="collapse" data-bs-target="#collapseEight" data-target="#collapseEight"
                                    aria-expanded="true" aria-controls="collapseEight">
                                    Can I complete the KYC in any other way than Offline Aadhar eKyc?
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </h5>

                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                data-bs-parent="#accordionExample" data-parent="#accordionExample">
                                <div class="card-body accordion-body">
                                    While the recommended Kyc procedure is to use Aadhar's eKyc,
                                    you may also complete your Kyc process using other id and address proofs.
                                    Since the other options require manual verification and possibly an agent visit to
                                    the address,
                                    it could involve a nominal fee for the verification. Also note that there may be
                                    delays in the Kyc completion
                                    translating to delays in getting yourself online to sell on the platform.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <h5 class="card-header" id="headingOne">
                                <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                                    data-toggle="collapse" data-bs-target="#collapseOne" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Why am I or my products not suggested to my customers?
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </h5>

                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample" data-parent="#accordionExample">
                                <div class="card-body accordion-body">
                                    You may be offline on account of one of the following reasons.
                                    <ul>
                                        <li>You may have not have <b>turned on</b> your product or facility for getting
                                            orders against them.</li>
                                        <li>When there is no balance left in the account, your account would go offline
                                            and is
                                            not suggested to the buyers. Once the account is recharged, you would be
                                            automatically online again ready to take orders.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>



                        <div class="card">
                            <h5 class="accordion-header card-header" id="headingFive">
                                <button class=" btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" data-toggle="collapse" data-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">
                                    What is the vision for HumBhiOnline?
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </h5>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample" data-parent="#accordionExample">
                                <div class="accordion-body card-body">
                                    <ul>
                                        <li>Starting with local communities in Bangalore and Pune and expanding to Local
                                            communities all
                                            over India with people support.
                                        </li>
                                        <li>This is a movement. It needs people support. It needs emotional connect
                                            within local
                                            communities.

                                        </li>
                                        <li>No one needs to be left behind while Bharat becomes a developed nation.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="accordion-header card-header" id="headingSix">
                                <button class=" btn btn-link  collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" data-toggle="collapse" data-target="#collapseSix"
                                    aria-expanded="false" aria-controls="collapseSix">
                                    How can I help with the HumBhiOnline movement?
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </h5>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#accordionExample" data-parent="#accordionExample">
                                <div class="accordion-body card-body">
                                    <ul>
                                        <li>You can help a small seller in your community who may not be tech savvy with
                                            his onboarding
                                            efforts.
                                        </li>
                                        <li>You can buy from your local sellers thus supporting your local community.
                                        </li>
                                        <li>Tell others about how this movement is in the direction of Athmanirbhar
                                            Bharat,
                                        </li>
                                        <li>Send mail to <a
                                                href="mailto:support@humbhionline.in">support@humbhionline.in</a> with
                                            suggestion on improvements and features to be
                                            added that would help your local community.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class=" card-header" id="headingSeven">
                                <button class=" btn-block btn btn-link collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseSeven" data-toggle="collapse"
                                    data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Ah! you want to get Cheap marketing ? It helps you and HumBhiOnline! How does it
                                    help me?
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </h5>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                data-bs-parent="#accordionExample" data-parent="#accordionExample">
                                <div class="accordion-body card-body">
                                    <p>The Intention of this platform is to make wealth for all. Ofcourse including the
                                        platform. Without money,
                                        one cannot do any good too. HumBhiOnline’s commitment is in providing a world
                                        class platform at a
                                        price that covers our running costs. We want a marginal profit that would be
                                        enough
                                        for us to keep it
                                        going, hiring, etc.</p>

                                    <span>"This platform is created post my retirement. So I am not in this
                                        to make money for myself. I have enough for that.
                                        This is my way contributing to the country
                                        through the skills I acquired during
                                        my active work life in supply chain and information technology"
                                        <p class="text-right">- Venky (Proprietor HumBhiOnline)</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class=" card-header" id="heading9">
                                <button class=" btn-block btn btn-link collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse9" data-toggle="collapse"
                                    data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                    So what's the difference between the Android and the mobile-web version?
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </h5>
                            <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                                data-bs-parent="#accordionExample" data-parent="#accordionExample">
                                <div class="accordion-body card-body">
                                    <p>There are two main differences:
                                    <ol>
                                        <li>In-App Push Notifcation in the browser works only if browser is active
                                            whereas in Android application, it works even when the application is not
                                            active. </li>
                                        <li>Automatic UPI payment confirmation happens if the the payer uses the Android
                                            Application.
                                            If the payer uses the mobile web version, the receiver has to manually
                                            confirm the receipt of the payment
                                            after checking with his/her NPCI/Bank messages. </li>
                                    </ol>
                                    </p>
                                    <b>Therefore we highly recommend using the HumBhiOnline Android application for
                                        smoother experience</b>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class=" card-header" id="heading10">
                                <button class=" btn-block btn btn-link collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse10" data-toggle="collapse"
                                    data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                    What is U16: Risk Threshold Exceeded!! I am not able to receive payments from buyers.
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </button>
                            </h5>
                            <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                                data-bs-parent="#accordionExample" data-parent="#accordionExample">
                                <div class="accordion-body card-body">
                                    <p>UPI payments needs the sellers to be registered as a merchant.
                                    <ol>
                                        <li>If you are a Bhim user, you can go to profile and say register as merchant</li>
                                        <li>Alternatively you can download the business version of any upi app. for e.g. PayTm for business. GPay for business... and register as merchant.</li>
                                    </ol>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section id="about-us" class="my-lg-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h2>Meet Our Team</h2>
                    <p>The Team that believes “Lokah Samastah Sukhino Bhavanthu”</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <img src="/dashboard/images/venky.jpg" class="img-thumbnail img-fluid mb-3 mb-lg-0" alt="">
                </div>
                <div class="col-lg-8">
                    <h4 class="mb-0">Venky Mahadevan</h4>
                    <p>Co-founder & Primary Volunteer</p>
                    <p>
                        {{venkyText}}
                    </p>
                    <h5 class="mb-0">{{venkyQuote}}</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <img src="/dashboard/images/prashant.jpg" class="img-thumbnail img-fluid mb-3 mb-lg-0" alt="">
                </div>
                <div class="col-lg-8">
                    <h4 class="mb-0">Prashant Thakar</h4>
                    <p>Co-founder & Ui/Ux Volunteer</p>
                    <p>
                        {{prashantText}}
                    </p>
                    <h5 class="mb-0">{{prashantQuote}}</h5>
                </div>
            </div>
        </div>
    </section>
    <hr v-if="!isAndroidApp" />
    <section class="section-download d-flex align-items-center" v-if="!isAndroidApp">
        <div class="container">
            <div class="row mb-lg-0 mb-4">
                <div class="col-lg-5">
                    <h2>Download our App now !</h2>
                    <p>A refreshingly Indian market place that is inclusive in its approach to all round community
                        growth, “Lokah
                        Samastah Sukhino Bhavanthu”.</p>
                    <a href="https://play.google.com/store/apps/details?id=in.humbhionline">
                        <img src="/dashboard/images/google-play-button.gif" class="play-btn" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center">
        <a class="navbar-brand" href="#">
            <img src="/dashboard/images/MandiLogoWhite.svg" class="logo-img" alt=""><span>HumBhi</span>Online
        </a>
        <ul class="list-unstyled mb-0 p-0 footer-link">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#why">Why choose</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Testiminial</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#pricing" tabindex="-1" aria-disabled="true">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="/screenshots" tabindex="-1" aria-disabled="true">How To</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="hideMenu()" href="/dashboard#about-us" tabindex="-1"
                    aria-disabled="true">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#faq" tabindex="-1" aria-disabled="true">FAQ</a>
            </li>

        </ul>
        <p class="mb-0">&copy; HumBhiOnline 2020</p>
    </footer>
</div>
