<link rel="stylesheet" href="/fragments/css/mandi.css">
<script type="text/javascript">
    $(function(){
        registerServiceWorker();
    });
</script>
<style>
    img {
        width :160pt;
        height :284pt;
    }
    carousel-item {
        height:500pt;
    }
    
    .btn-carousel{
        position: fixed;
        top:200pt;
        right:10;
    }
    .carousel-item {
        padding-left:15%;
        padding-right:15%;
    }
</style>

<div id="demo" class="carousel" data-ride="carousel" data-interval="false">
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="btn btn-carousel">
            <i  class="fas fa-chevron-left "></i>
            Prev
        </span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="btn btn-carousel">
            Next
            <i  class="fas fa-chevron-right "></i>
        </span>
    </a>
    <div class="carousel-inner container">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <img src="/screenshots/images/humbhionline.in_login(Moto G4).png" ></img>
                </div>
                <div class="col-lg-6 col-12">
                    You need to register with Hum Bhi Online using your mobile number
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <img src="/screenshots/images/humbhionline.in_login(Moto G4) (1).png" ></img>
                </div>
                <div class="col-lg-6 col-12">Enter phone number and hit submit</div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <img src="/screenshots/images/humbhionline.in_login_index_otp_phone_number=1234567890(Moto G4).png"></img>
                </div>
                <div class="col-lg-6 col-12">Otp is being received in your mobile</div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_login_index_otp_phone_number=1234567890(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">In the android application, otp is automatically read and continued. If you use the mobile  web version, You need to enter the otp received and click Validate Mobile</div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard_html_terms(Moto G4).png"></img> </div>
                <div class="col-lg-6 col-12">Read the Terms of Service
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard_html_terms(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">Accept the terms of Service
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard_html_terms(Moto G4) (2).png"></img> </div>
                <div class="col-lg-6 col-12">Click Close
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_users_html_profile(Moto G4).png"></img> </div>
                <div class="col-lg-6 col-12">Enter your name and Address
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_users_html_profile(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">Set a password. You can use this to login later instead of the otp
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_users_html_profile(Moto G4) (2).png"></img> </div>
                <div class="col-lg-6 col-12">Choose if you want to be a seller on the platform. If you want to just purchase from your vendors, you can click done and start shopping
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_users_html_profile(Moto G4) (3).png"></img> </div>
                <div class="col-lg-6 col-12">If you wish to be a seller on the platform, you need to complete KYC using either the self service based AadharEKyc or manual verification process. Using Aadhar EKyc is faster and more convinient. You will be up and selling quickly using this route. If you choose to use the manual verification process, it could take time as hum bhi online would need to schedule an agent for a vist, take documents id and address proof, then Humbhionline would review the documentation work and approve you to be a seller.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/resident.uidai.gov.in_offline-kyc(Moto G4).png"></img> </div>
                <div class="col-lg-6 col-12">If you choose to go the EKyC route, you can go the government website and download the eKyc document.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/resident.uidai.gov.in_offline-kyc(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">Enter your aadhar number, the security code on the screen, and request for OTP
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/resident.uidai.gov.in_offline-kyc(Moto G4) (2).png"></img> </div>
                <div class="col-lg-6 col-12">Wait for OTP
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/resident.uidai.gov.in_offline-kyc(Moto G4) (3).png"></img> </div>
                <div class="col-lg-6 col-12">Enter a secret code and the otp received on the mobile registered with Aadhar and click download
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_users_html_profile(Moto G4) (4).png"></img> </div>
                <div class="col-lg-6 col-12">select the downloaded zip file and share the secret code on this screen
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_users_html_profile(Moto G4) (5).png"></img> </div>
                <div class="col-lg-6 col-12">Your KYC is complete
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_users_html_profile(Moto G4) (6).png"></img> </div>
                <div class="col-lg-6 col-12">Click Done
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard(Moto G4).png"></img> </div>
                <div class="col-lg-6 col-12">Go to the Sales Menu
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">Click on Facilities
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell(Moto G4).png"></img> </div>
                <div class="col-lg-6 col-12">Create a New Facility by clicking on the button
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">Your home address, that was verified during KYC gets defaulted. You can change it if required.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell(Moto G4) (2).png"></img> </div>
                <div class="col-lg-6 col-12">If you provide delivery, you can say so.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell(Moto G4) (3).png"></img> </div>
                <div class="col-lg-6 col-12">And configure the area around your facility you provide delivery for. If you charge for deliveries and have a minimum charges upto a certain distance, you can configure so.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell(Moto G4) (4).png"></img> </div>
                <div class="col-lg-6 col-12">Click on Submit. If you are at the facility being configured, let us know so that we can use the location from your mobile phone
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell(Moto G4) (5).png"></img> </div>
                <div class="col-lg-6 col-12">Next you can specify what products you stock here.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell_html_facility_id=21&includeMenu=N(Moto G4).png"></img></div>
                <div class="col-lg-6 col-12">You can add "Local Delivery" as a product to account for rate per km beyond your minumum charges configured at the facility.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell_html_facility_id=21&includeMenu=N(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell_html_facility_id=21&includeMenu=N(Moto G4) (2).png"></img> </div>
                <div class="col-lg-6 col-12">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell_html_facility_id=21&includeMenu=N(Moto G4) (3).png"></img> </div>
                <div class="col-lg-6 col-12">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell_html_facility_id=21&includeMenu=N(Moto G4) (4).png"></img> </div>
                <div class="col-lg-6 col-12">Add an item e.g Potato, mention how its packaged, and the price you wish to sell. If you are adding an item for the first time, you can also add the HSN/SAC code against it incase you know. Note that HSN/SAC codes will keep getting rationalized/corrected at the platform level from time to time.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell_html_facility_id=21&includeMenu=N(Moto G4) (5).png"></img> </div>
                <div class="col-lg-6 col-12">Add another item e.g Coconut Oil
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell_html_facility_id=21&includeMenu=N(Moto G4) (6).png"></img> </div>
                <div class="col-lg-6 col-12">You can associate images against the product
                </div>
            </div>
        </div>
        <div id="potato" class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/potato.jpeg"></img> </div>
                <div class="col-lg-6 col-12">Like this potato image
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell_html_facility_id=21&includeMenu=N(Moto G4) (7).png"></img> </div>
                <div class="col-lg-6 col-12">Against your product catalog
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell_html_facility_id=21&includeMenu=N(Moto G4) (8).png" </img> </div>
                <div class="col-lg-6 col-12">You can see all products being sold from the facility here. Here you can turn a product on or off to indicate if you would like to take orders for the product or not. Note; That "Local Delivery" Remains unpublished as your are not a courier company. For courier companies, "Local Delivery"></img> would be on as they would take transport orders for Local Delivery
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/banner.png"></img> </div>
                <div class="col-lg-6 col-12">You can attach a banner on your facility.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell(Moto G4) (6).png"></img> </div>
                <div class="col-lg-6 col-12">Your Facility is currently off. You will need to turn it on so that you can take orders for the facility. Using these two switches, at facility and at product level, you can control what you product or facility you would like to take orders for
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_sell(Moto G4) (7).png"></img> </div>
                <div class="col-lg-6 col-12">The facility can be turned on to accept order for the facility
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard(Moto G4) (2).png"></img> </div>
                <div class="col-lg-6 col-12">You can go to Home and put in your items and check if they are getting listed correctly.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard(Moto G4) (3).png"></img> </div>
                <div class="col-lg-6 col-12">Check if all your products are getting listed correctly
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard(Moto G4) (4).png"></img> </div>
                <div class="col-lg-6 col-12">Check if by searching for your facility name, all your products stocked at the facility are getting listed.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=sales(Moto G4).png"></img> </div>
                <div class="col-lg-6 col-12">When an order is placed on you, you will be notified of the same so that you can get it procesed. You can see all your current sales orders waiting on you under menu Sale->Current Orders. Click on Pack when you have packed the order.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=sales(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">Click on the ship button to indicate that your delivery boy has left the shop with the order for delivery
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-12">Click Print icon to download invoice that would be generated like
                    <a target="_blank" href="/screenshots/images/packlist0000000000000000115.pdf">this</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=sales(Moto G4) (2).png"></img> </div>
                <div class="col-lg-6 col-12">You can click on the deliver button once the order is delivered.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=sales(Moto G4) (3).png"></img> </div>
                <div class="col-lg-6 col-12">If you receive payment for this order in any way other than UPI, you may click on the Received button to complete the payment transaction.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=sales(Moto G4) (4).png"></img> </div>
                <div class="col-lg-6 col-12">Once payment is settled and marked DELIVERED, this order would go out of the current orders list but my be seen in the history menu under sales or purchases as the case may be.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=sales(Moto G4) (5).png"></img> </div>
                <div class="col-lg-6 col-12">Order has gone out of the Current orders list
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard(Moto G4) (5).png"></img> </div>
                <div class="col-lg-6 col-12">Now, Lets see how you can make purchases on Hum bhi online. On home screen, search for the product you wish to purchase.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard(Moto G4) (6).png"></img> </div>
                <div class="col-lg-6 col-12">Increment the quantity against the searched item as needed and click on CHECKOUT at the bottom of the page.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_buy(Moto G4).png"></img> </div>
                <div class="col-lg-6 col-12">You can check your cart contents here , choose to continue shopping with more sellers or place all orders you have created so far
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=purchases(Moto G4).png"></img> </div>
                <div class="col-lg-6 col-12">You can see your purchase here. You can pay at any time upto delivery.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard__search=Delivery&order_id=117(Moto G4).png"></img> </div>
                <div class="col-lg-6 col-12">If your seller doesnot support delivery, you can either go yourself for pickup or can organize a courier pickup
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_dashboard__search=Delivery&order_id=117(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">Against your preferred Delivery person, click the incrment button. The quantity being incremented is the distance the courier has to travel beyond his minimum distance to make the delivery.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_buy(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">Click CHECKOUT and place orders just as you would do for product orders.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=purchases(Moto G4) (1).png"></img> </div>
                <div class="col-lg-6 col-12">Courier order bookings are shown with reference to the product order to be picked up.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=sales(Moto G4) (6).png"></img> </div>
                <div class="col-lg-6 col-12">If you are a courier boy, you would see the same order under your sales order like this. You can do a Pickup and then Deliver against this order.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=purchases(Moto G4) (3).png"></img> </div>
                <div class="col-lg-6 col-12">Once the courier has picked up your products from the seller, you would see both your purchases (product and courier orders) as SHIPPED
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-12">
                    <a href="/screenshots/images/packlist0000000000000000118.pdf" target="_blank" >Invoice</a> for this courier order can be downloaded by clicking the print icon.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/Screenshot_2021-01-20-16-34-37-427_android.jpg"></img> </div>
                <div class="col-lg-6 col-12">To make payments, you can click the Pay button and choose from one of your preferred UPI application to complete the transaction.
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/Screenshot_2021-01-20-16-35-18-687_in.org.npci.upiapp.jpg"></img> </div>
                <div class="col-lg-6 col-12">The complete payment information would come prefilled. you can verify the name and amount and click confirm to complete the payment
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-6 col-12"><img src="/screenshots/images/humbhionline.in_orders_type=purchases(Moto G4) (4).png"></img> </div>
                <div class="col-lg-6 col-12">Both the orders would go out of the current orders view into history view
                </div>
            </div>
        </div>
    </div>
</div>
