<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/fragments/js/util.js" ></script>
<link href="/fragments/css/mandi.css" rel="stylesheet"></link>


<script type="text/javascript">
    var login = null;
    function onOtpReceipt(otp){
        if (login){
            login.onOtpReceipt(otp);
        }
    }

    $(function(){
        var searchParams = (new URL(window.location)).searchParams;
        var redirect_to = searchParams.get("_redirect_to");
        var phoneNumber = searchParams.get("phone_number");

        if (!redirect_to) {
            redirect_to = "/index"
        }

        login = new Vue({
            el : "#app",
            data : {
                Android : undefined , //TODO Uncomment this . typeof Android == "undefined" ? undefined : Android,
                params: { "SignUp": { "PhoneNumber": "" } , "OtpRequested" : "N"},
                Otp : "",
                message : "",
                http: axios.create({
                    baseURL: "/",
                    timeout: 30000,
                    headers: { 'Content-Type': 'application/json' },
                    withCredentials: false,
                }),
            },
            created : function(){
                let self  = this;
                if (phoneNumber){
                    self.params.SignUp.PhoneNumber = phoneNumber;
                }
                self.signIn();
            },
            methods : {
                waitForOtp : function(){
                    if (this.Android){
                        this.Android.waitForOtp();
                    }else {
                        this.showApp();
                    }
                },
                onOtpReceipt: function(otp){
                    this.Otp = otp;
                    this.verifyPhoneOtp(null);
                },
                verifyPhoneOtp: function (event) {
                    if (event){
                        event.preventDefault();
                    }
                    var self = this;
                    this.http.post("/sign_ups/validateOtp/" + this.params.SignUp.Id, { "Otp": self.Otp }).then(function (response) {
                        if (response.data.SignUp.Validated === 'Y') {
                            self.params.SignUp = response.data.SignUp;
                            Lockr.set("SignUp",self.params.SignUp);
                        } else {
                            showErrorMessage( "Otp doesnot match" );
                        }
                        self.hideUnHideOtpFields().then(function (home) {
                            if (home) {
                                window.location.replace(home);
                            }
                        })
                    });
                },
                resendOtp: function (event) {
                    if (event){
                        event.preventDefault();
                    }
                    var self = this;
                    this.http.get("/sign_ups/sendOtp/" + this.params.SignUp.Id, { "data": {} }).then(function (response) {
                        showErrorMessage(response.data.SWFHttpResponse.Message);
                    });
                },
                resetPhoneNumber: function (event) {
                    if (event){
                        event.preventDefault();
                    }
                    var self = this;
                    self.params.SignUp.PhoneNumber = "";
                    self.params.SignUp.Validated = "N";

                    Lockr.rm("SignUp");
                    Lockr.rm("User");
                    /*
                    let user = Lockr.get("User");
                    if (user){
                        user.PhoneNumber = "" ;
                        Lockr.set("User",user);
                    }*/
                    window.location.href = window.location.protocol +"//"+location.host + location.pathname;
                },
                hideUnHideOtpFields: function () {
                    let self = this;
                    return new Promise(function (resolve, reject) {
                        if (self.params.SignUp && self.params.SignUp.Validated !== 'Y') {
                            self.waitForOtp();
                        }else {
                            var user = self.params.SignUp.User;
                            if (user) {
                                setConfirmUnload(false);
                                loadLocation(true).then(function(){
                                   resolve(redirect_to);
                                });
                            } else {
                                resolve(null);
                            }
                        }
                    });
                },
                showApp : function(){
                    $("#root").show();
                },
                hideApp : function(){
                    $("#root").hide();

                },
                signIn: function () {
                    var self = this;
                    self.message = "" ;
                    self.hideApp();
                    var signUp = Lockr.get("SignUp");
                    if (signUp) {
                        self.params.SignUp = signUp;
                    }
                    if (self.params.SignUp.PhoneNumber) {
                        self.params.OtpRequested = "Y";
                        self.http.post("/sign_ups/register", self.params).then(function (response) {
                            if (response.data.SignUp) {
                                self.params.SignUp = response.data.SignUp;
                                self.hideUnHideOtpFields().then(function (home) {
                                    if (home) {
                                        window.location.replace(home);
                                    }else {
                                        self.showApp();
                                    }
                                });
                            }else {
                                self.message = "Unexpected Response : " + response.data;
                            }
                        }).catch(function (err) {
                            showError(err);
                            self.showApp();
                        });
                    }else {
                        self.showApp();
                    }
                },
                signUp: function (event) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;

                    Lockr.set("SignUp", self.params.SignUp);
                    setConfirmUnload(false);
                    self.signIn();
                },
                login_via_password: function (event){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    var url = "/login" + ((self.params.SignUp.PhoneNumber && self.params.SignUp.PhoneNumber.length >= 10) ? "?phone_number=" + self.params.SignUp.PhoneNumber : "");
                    window.location.replace( url );
                }
            },

        });

    });

</script>
<link rel="stylesheet" href="/fragments/css/mandi.css">
</link>
<style>
    html,
    body {
        height: 100%;
    }
</style>
<div id="root" class="v-fill align-items-center" style="display : none;">
    <p id="msg" class="mb-0 invisible"></p>
    <div id="app"  class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 col-sm-2">
                <div class="logo-holder mb-5">
                    <img src="/resources/web_manifest/drawing.svg" alt="HumBhi Online">
                    <div class="text-center font-weight-bold"  style="color: red;font-size: large;">
                        HumBhi Online
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" id="GetPhone" v-if="(!params.SignUp.PhoneNumber || params.SignUp.Validated !== 'Y' ) && params.OtpRequested === 'N'">
            <div class="col-10 col-sm-4">
                <form @submit.prevent="signUp()">
                    <div class="form-group">
                        <label for="PhoneNumber" class="text-center d-block">Mobile Number</label>
                        <input class="form-control" type="tel" id="PhoneNumber" placeholder="Mobile Number" v-model="params.SignUp.PhoneNumber" />
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-primary btn-block" type="submit" id="btnSignUp">Request OTP</button>
                        <a href="#" class="small" @click="login_via_password($event)">{{ "Login with password?"}}</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center" id="divPhoneOtp" v-else-if="params.OtpRequested === 'Y'">
            <p class="mb-0">
                OTP has sent on your Mobile Number
            </p>
            <p id="OtpNumber" class="login-number mt-2 mb-4 py-2">{{params.SignUp.PhoneNumber}}</p>
            <div class="row justify-content-center">
                <div class="col-10 col-sm-4">
                    <form @submit.prevent="verifyPhoneOtp()">
                        <div class="form-group">
                            <label for="PhoneOtp" class="text-left d-block mb-0">Enter your OTP</label>
                            <input id="PhoneOtp" type="number" class="form-control" placeholder="OTP" v-model="Otp" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary" id="btnVerifyPhoneOtp">Validate Mobile</button>
                            <p class="text-right mb-0 mt-1">
                                <a id="btnReset" href="#" v-on:click="resetPhoneNumber($event)" class="small">Reset Mobile</a> /
                                <a id="btnResendPhoneOtp" href="#"  v-on:click="resendOtp($event)" class="small" >Resend OTP</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p id="msg" class="mb-0" v-if="message && message.length > 0"> {{message}}</p>
    </div>
</div>
