<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/fragments/js/util.js" ></script>
<link href="/fragments/css/mandi.css" rel="stylesheet"></link>


<script type="text/javascript">
    var login = null;

    $(function(){
        var searchParams = (new URL(window.location)).searchParams;
        var redirect_to = searchParams.get("_redirect_to");
        if (!redirect_to) {
            redirect_to = "/index"
        }

        login = new Vue({
            el : "#app",
            data : {
                Android : undefined , //typeof Android == "undefined" ? undefined : Android,
                params: { "User": { "PhoneNumber": "" , "Password":"" } },
                message : "",
                phoneNumberEntered : false,
            },
            created : function(){
                let self  = this;
                self.signIn();
            },
            methods : {
                http: function(withCredentials){
                    return axios.create({
                    baseURL: "/",
                    timeout: 30000,
                    headers: { 'Content-Type': 'application/json' , "KeepAlive" :"Y"},
                    withCredentials: withCredentials,
                    })
                },
                login: function (event) {
                    if (event){
                        event.preventDefault();
                    }
                    var self = this;
                    self.http(false).post("/login", self.params).then(function (response) {
                        self.http(true).get("/users/current", {data :{}}).then(function (response){
                            if (response.data.User.SignUps[0].Validated === 'Y') {
                                Lockr.set("SignUp",response.data.User.SignUps[0]);
                                Lockr.set("User",response.data.User);
                                loadLocation().then(function(){
                                    let home = redirect_to;
                                    if (this.Android){
                                        window.location.replace(home);
                                    }else {
                                        Notification.requestPermission(function(status) {
                                            console.log('Notification permission status:', status);
                                            window.location.replace(home);
                                        });
                                    }
                                });
                            } else {
                                self.message = "Password doesnot match." ;
                            }
                        });
                    }).catch(function(err){
                        self.showApp();
                        if (err.response && err.response.data.SWFHttpResponse){
                            self.message = err.response.data.SWFHttpResponse.Error
                        }else {
                            console.log(err);
                        }
                        //self.message = err.response.S
                    });
                },
                resetPhoneNumber: function () {
                    var self = this;
                    self.params.User.PhoneNumber = "";
                    Lockr.rm("User");
                    Lockr.rm("SignUp");
                    window.location.reload();
                },
                showApp : function(){
                    $("#root").show();
                },
                hideApp : function(){
                    $("#root").hide();
                },
                signIn: function () {
                    var self = this;
                    self.message = "" ;
                    self.hideApp();
                    self.params.User = Lockr.get("User") || self.params.User;
                    if (!blank(self.params.User.PhoneNumber)) {
                        if (!blank(self.params.User.Password)){
                            self.login();
                        }else {
                            self.showApp();
                            if (Lockr.get("SignUp") ){
                                self.login_via_otp(null);
                            }else{
                                self.checkPhoneNumberEntered();
                            }
                        }
                    }else if (Lockr.get("SignUp") ){
                        self.login_via_otp(null);
                    }else {
                        self.showApp();
                    }
                },
                signUp: function (event) {
                    if (event) {
                        event.preventDefault();
                    }
                    let self = this;
                    Lockr.set("User", self.params.User);
                    setConfirmUnload(false);
                    self.signIn();
                },
                login_via_otp: function(event){
                    if (event){
                        event.preventDefault();
                    }
                    let self = this;
                    if (self.phoneNumberEntered && !blank(self.params.User.PhoneNumber)) {
                        window.location.href = ("/login/index_otp?phone_number="+self.params.User.PhoneNumber);
                    }else {
                        window.location.href = ("/login/index_otp");
                    }
                },
                checkPhoneNumberEntered: function(event){
                    let self = this;
                    if (!blank(self.params.User.PhoneNumber)){
                        self.phoneNumberEntered = true;
                    }else {
                        self.phoneNumberEntered = false;
                    }
                    return !blank(self.params.User.PhoneNumber) && !blank(self.params.User.Password)
                }
            },

        });

    });

</script>
<link rel="stylesheet" href="/fragments/css/mandi.css">
</link>
<style>
    html,
    body {
        height: 100%;
    }
</style>
<div id="root" class="v-fill align-items-center" style="display : none;">
    <div id="app"  class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 col-sm-2">
                <div class="logo-holder mb-5">
                    <img src="/resources/web_manifest/drawing.svg" alt="HumBhi Online">
                    <div class="text-center font-weight-bold"  style="color: red;font-size: large;">
                        HumBhi Online
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" id="GetPhone" >
            <div class="col-10 col-sm-4">
                <form @submit.prevent="signUp()">
                    <div class="form-group mb-2" v-if="!phoneNumberEntered">
                        <label for="PhoneNumber" class="mb-0 d-block">Mobile Number</label>
                        <input class="form-control" type="tel" id="PhoneNumber" placeholder="Mobile Number" v-model="params.User.PhoneNumber" />
                    </div>
                    <div class="form-group mb-2" v-else>
                        <label for="PhonePassword" class="mb-0 d-block" >Password</label>
                        <input id="PhonePassword" class="form-control" type="password" placeholder="Password" v-model="params.User.Password" />
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-block btn-primary" @click="checkPhoneNumberEntered($event)" type="submit" id="btnSignUp">Submit</button>
                        <a href="#" class="mt-2 d-block" @click="login_via_otp($event)">{{ phoneNumberEntered? "Forgot password ?" :"Create New Account ?"}}</a>
                    </div>
                </form>
            </div>
        </div>
        <p id="msg" class="mb-0" v-if="message && message.length > 0"> {{message}}</p>
    </div>
</div>
