<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js"></script>

<link href="/fragments/css/mandi.css" rel="stylesheet">
<script type="text/javascript" src="/fragments/js/util.js" ></script>
<script type="text/javascript">
    var profile = null;

    $(function () {
        $("#header").load("/fragments/html/header");
        new Vue({
            el: '#edit',
            data: {
                User: { VirtualPaymentAddress: ""  ,  DateOfBirth: "" , City : { Name : "" } , PinCode : { PinCode : "" } },
                errors: [],
                userPhoneBeingEdited: false,
                userEmailBeingEdited: false,
                userAddressBeingEdited : false,
                current : {
                    Cities : [] ,
                    PinCodes : [],
                    lookupselectionIndex : -1,
                }
            },
            created: function () {
                self = this;
                self.User = {};
                api().url("/users/show/" + Lockr.get("User").Id).get().then(function (response) {
                    Lockr.set("User", response.User);
                    self.User = response.User;
                    if (!self.User.City){
                        self.User.City = {} ;
                    }
                    if (!self.User.PinCode){
                        self.User.PinCode = {} ;
                    }
                    if (!self.User.UserPhones) {
                        self.User.UserPhones = [];
                    }
                    self.checkUserPhones();
                    if (!self.User.UserEmails) {
                        self.User.UserEmails = [];
                    }
                    //self.vmprofile.User.UserEmails.push({ "Email": "" , Validated : "N"});
                    self.checkUserEmails();
                    self.userAddressBeingEdited =  false; //!self.User.Verified || self.User.Verified === 'N' ;
                    self.showApp();
                });
            },
            methods: {
                isKeyTriggerable: function (e) {
                    return  (e && e.target.value.length > 3);
                },
                onCityChange: function (e) {
                    e && e.preventDefault();
                    if (!this.isKeyTriggerable(e)) {
                        return;
                    }
                    let self = this;
                    new Autocomplete("cities", e.target).search().then(function (response) {
                        if (!response) {
                            return
                        }
                        self.current.Cities = response.Cities;
                        if (self.current.Cities.length === 1) {
                            self.onCitySelect(null, self.current.Cities[0]);
                        } else {
                            self.loadLookupEntries(e.target);
                        }
                    });
                },
                onCitySelect: function (e, item) {
                    e && e.preventDefault();
                    let self = this;
                    self.User.City = item;
                    self.User.State = item.State;
                    self.User.Country = item.State.Country;
                    self.current.Cities = [];
                },
                onPinCodeChange: function (e) {
                    e && e.preventDefault();
                    if (!this.isKeyTriggerable(e)) {
                        return;
                    }

                    let self = this;
                    new Autocomplete("pin_codes", e.target).search("PIN_CODE").then(function (response) {
                        if (!response) {
                            return
                        }
                        self.current.PinCodes = response.PinCodes;
                        if (response.PinCodes.length === 1) {
                            self.onPinCodeSelect(null, self.current.PinCodes[0]);
                        } else {
                            self.loadLookupEntries(e.target);
                        }
                    });
                },
                onPinCodeSelect:function (e, item) {
                    e && e.preventDefault();
                    let self = this;
                    self.User.PinCode = item;
                    self.current.PinCodes = [];
                },
                getParentDiv: function (element) {
                    var div = element;
                    while (div && div.tagName !== 'DIV') {
                        div = div.parentElement;
                    }
                    return div;
                },
                loadLookupEntries: function (element) {
                    var div = this.getParentDiv(element);
                    if (div) {
                        div.appendChild(this.$refs['lookupEntries']);
                    }
                },

                navigate : function(e,index,length){
                    e && e.preventDefault();
                    let self = this;
                    this.current.lookupselectionIndex = (index % length);
                    let anchors = this.$refs['lookupEntries'].getElementsByTagName("a");
                    anchors[this.current.lookupselectionIndex].focus();
                },
                saveUser: function (e) {
                    e.preventDefault();
                    self = this;
                    self.errors = [];
                    if (!self.User.LongName) {
                        self.errors.push("Let us know your full name.");
                    }

                    if (self.errors.length === 0) {
                        api().url("/users/save").parameters({ "User": self.User }).post().then(function (response) {
                            self.User = response.Users[0];
                            Lockr.set("User", self.User);
                            self.userAddressBeingEdited = false;
                        });
                    }
                },
                doAadharKyc: function (e) {
                    if (e){
                        e.preventDefault();
                    }
                    var files = $("#aadharzipfile")[0].files;
                    if (!files.length) {
                        return;
                    }
                    var aadharzipfile = files[0];
                    var password = $("#aadharzippassword").val();

                    let self = this;
                    this.createDataFile(aadharzipfile, function (datafile) {
                        let formData = new FormData();
                        formData.append('zipfile', datafile);
                        formData.append('password', password);
                        api().url("/users/doAadharKyc").parameters(formData).headers({ "Content-Type": "multipart-formdata" }).post().then(function (response) {
                            console.log(response);
                            self.User = response.User;
                            Lockr.set("User",self.User);
                        });
                    });
                },
                createDataFile: function (file, callback) {
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        callback(e.target.result);
                    }
                    reader.readAsDataURL(file);
                },

                verifyPhone: function (userPhone) {
                    self = this;
                    self.errors = [];
                    api().url("/user_phones/validateOtp/" + userPhone.Id).parameters({ "Otp": userPhone.Otp }).post().then(function (response) {
                        if (response.UserPhone.Validated === 'Y') {
                            index = self.User.UserPhones.findIndex(function (currentValue) {
                                return currentValue.Id === userPhone.Id;
                            });
                            self.User.UserPhones.splice(index, 1, response.UserPhone);
                            self.checkUserPhones();
                        } else {
                            self.errors.push("Otp doesnot match");
                        }

                    });
                },

                makePrimaryPhone: function (userPhone) {
                    self = this;
                    self.errors = [];
                    if (!userPhone.Validated || userPhone.Validated !== 'Y') {
                        self.errors.push("Only validated phone numbers can be made as primary phone number.");
                    }
                    if (self.errors.length === 0) {
                        api().url("/users/save").parameters({ "User": { "Id": self.User.Id, "PhoneNumber": userPhone.PhoneNumber } }).post().then(function (response) {
                            self.User = response.Users[0];
                            self.checkUserPhones();
                            self.checkUserEmails();
                        }).catch(function (err) {
                            self.errors.push(err.response.data.SWFHttpResponse.Error)
                        });
                    }
                },
                destroyPhone: function (userPhone) {
                    let self = this;
                    api().url("/user_phones/destroy/" + userPhone.Id).get().then(function (response) {
                        index = self.User.UserPhones.findIndex(function (currentValue) {
                            return currentValue.Id === userPhone.Id;
                        });
                        self.User.UserPhones.splice(index, 1);
                        self.checkUserPhones();
                    });

                },
                checkUserPhones: function () {
                    let self = this;
                    let allPhonesValidated = self.User.UserPhones.filter(user => user.Validated && user.Validated === 'N').length ? false : true;
                    self.userPhoneBeingEdited = !allPhonesValidated
                    if (allPhonesValidated) {
                        if (self.User.UserPhones.filter(p => p.PhoneNumber === "").length === 0) {
                            self.User.UserPhones.push({ "PhoneNumber": "" });
                        }
                    }
                },
                addPhone: function (userPhone) {
                    self = this;
                    api().url("/user_phones/save").parameters({ "UserPhone": { "PhoneNumber": userPhone.PhoneNumber, "UserId": self.User.Id } }).post().then(function (response) {
                        index = self.User.UserPhones.findIndex(function (currentValue) {
                            return !currentValue.Id;
                        });
                        self.User.UserPhones.splice(index, 1, response.UserPhones[0]);
                        self.checkUserPhones();
                    });
                },
                viewAddPhone: function () {
                    this.userPhoneBeingEdited = true;
                },
                verifyEmail: function (userEmail) {
                    self = this;
                    self.errors = [];
                    api().url("/user_emails/validateOtp/" + userEmail.Id).parameters({ "Otp": userEmail.Otp }).post().then(function (response) {
                        if (response.UserEmail.Validated === 'Y') {
                            index = self.User.UserEmails.findIndex(function (currentValue) {
                                return currentValue.Id === userEmail.Id;
                            });
                            self.User.UserEmails.splice(index, 1, response.UserEmail);
                            self.checkUserEmails();
                        } else {
                            self.errors.push("Otp doesnot match");
                        }
                    });
                },
                makePrimaryEmail: function (userEmail) {
                    self = this;
                    self.errors = [];
                    if (!userEmail.Validated || userEmail.Validated !== 'Y') {
                        self.errors.push("Only validated emails can be made as primary email.");
                    }
                    if (self.errors.length === 0) {
                        api().url("/users/save").parameters({ "User": { "Id": self.User.Id, "Email": userEmail.Email } }).post().then(function (response) {
                            self.User = response.Users[0];
                            self.checkUserEmails();
                            self.checkUserPhones();
                        });
                    }
                },
                destroyEmail: function (userEmail) {
                    self = this;
                    api().url("/user_emails/destroy/" + userEmail.Id).get().then(function (response) {
                        index = self.User.UserEmails.findIndex(function (currentValue) {
                            return currentValue.Id === userEmail.Id;
                        });
                        self.User.UserEmails.splice(index, 1);
                        self.checkUserEmails();
                    });
                },
                checkUserEmails: function () {
                    let self = this;
                    let allEmailsValidated = self.User.UserEmails.filter(user => user.Validated && user.Validated === 'N').length ? false : true;
                    self.userEmailBeingEdited = !allEmailsValidated
                },
                addEmail: function (userEmail) {
                    self = this;
                    api().url("/user_emails/save").parameters({ "UserEmail": { "Email": userEmail.Email, "UserId": self.User.Id } }).post().then(function (response) {
                        index = self.User.UserEmails.findIndex(function (currentValue) {
                            return !currentValue.Id;
                        });
                        self.User.UserEmails.splice(index, 1, response.UserEmails[0]);
                        self.checkUserEmails();
                    });
                },
                viewAddEmail: function () {
                    let self = this;
                    if (!self.userEmailBeingEdited) {
                        self.User.UserEmails.push({"Email" : "" , Validated:"N"});
                        this.userEmailBeingEdited = true;
                    }
                },
                editAddress: function(event){
                    let self = this;
                    if (event){
                        event.preventDefault();
                    }
                    self.userAddressBeingEdited = true;
                },
                cancelEditAddress: function(event){
                    let self = this;
                    if (event){
                        event.preventDefault();
                    }
                    self.userAddressBeingEdited = false;
                },
                verify : function(event){
                    let self = this;
                    api().url("/users/verify/" + self.User.Id).get().then(function(response){
                       self.User = response.User;
                       Lockr.set("User",self.User);
                    });
                },

                showApp: function () {
                    $("#root").show();
                }
            }
        });
    });
</script>
<div id="root" style="display:none;" >

    <div id="header">
    </div>
    <div id="edit" class="app-body" v-if="User.Id">
        <div class="container-fluid">
            <div class="row">
                <div class="col-7" v-if="User.BalanceOrderLineCount <= 0">
                     Zero Balance
                </div>
                <div class="col-7" v-else-if="User.BalanceOrderLineCount <= 10">
                     Low Balance ({{User.BalanceOrderLineCount}})
                </div>
                <div class="col-7" v-else>
                     Balance ({{User.BalanceOrderLineCount}})
                </div>
                <div class="col-5 d-flex flex-row justify-content-end">
                    <a class="btn btn-primary" href="/dashboard?search=HBO Subscription">
                        <i class="fas fa-rupee-sign">Recharge</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h2 class="my-3 mt-4">Profile Information</h2>
                    <p v-if="errors && errors.length > 0" v-for="(error,index) in errors">{{ error }}</p>
                </div>
            </div>

            <div id="lookupEntries" ref="lookupEntries" class="below">
                <div v-for="(city,index) in current.Cities" v-if="current.Cities.length > 0">
                    <a href="#" v-on:click="onCitySelect($event,city)"  v-on:keyup.enter="onCitySelect($event,city)" v-on:keyup.space="onCitySelect($event,city)"
                    v-on:keyup.up="navigate($event,index-1,current.Cities.length)" v-on:keyup.down="navigate($event,index+1,current.Cities.length)">{{city.Name}} - {{city.State.Name}}</a>
                </div>
                <div v-for="(pincode,index) in current.PinCodes" v-if="current.PinCodes.length > 0">
                    <a href="#"
                    v-on:click="onPinCodeSelect($event,pincode)" v-on:keyup.space="onPinCodeSelect($event,pincode)" v-on:keyup.enter="onPinCodeSelect($event,pincode)"
                    v-on:keyup.up="navigate($event,index-1,current.PinCodes.length)" v-on:keyup.down="navigate($event,index+1,current.PinCodes.length)" >{{pincode.PinCode}} </a>
                </div>
            </div>

            <div class="border-top border-bottom py-3 kyc-block"  >


                <div class="row">
                    <div class="col-4">
                        <label for="name" class="d-block text-muted">Address</label>
                    </div>
                    <div class="col d-flex flex-row justify-content-end">
                        <i class="fas fa-check" v-if="User.Verified && User.Verified === 'Y'">Verified</i>
                        <a href="#" class="fas fa-edit" v-if="!userAddressBeingEdited" @click="editAddress($event)">Edit</a>
                        <a href="#" class="fas fa-undo" @click="cancelEditAddress($event)" v-else>Cancel</a>

                    </div>
                </div>

                <div class="row form-group" v-if="!User.Verified || User.Verified === 'N'">
                    <div class="col">
                        <div class="row no-gutters">
                            <div class="col-4">
                                <input type="file" class="file-upload" id="aadharzipfile" />
                                <label class="btn btn-primary" for="aadharzipfile">Aadhar e-Kyc</label>
                            </div>
                            <div class="col">
                                <input id="aadharzippassword" class="form-control" type="password"
                                    placeholder="Password" />
                            </div>
                            <div class="col-4 text-right">
                                <a href="#" class="btn btn-primary" role="button" title="Upload"
                                    v-on:click="doAadharKyc($event)">
                                    <i class="fas fa-upload">Upload</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group" >
                    <div class="col-9" v-if="userAddressBeingEdited">
                        <input class="form-control" id="name" v-model="User.LongName" placeholder="Full Name."  />
                    </div>
                    <div class="col-9" v-else>
                        <label>{{User.LongName}}</label>
                    </div>
                    <div class="col-3 d-flex flex-row justify-content-end" v-if="!User.Verified || User.Verified === 'N'">
                         <a href="#" class="btn btn-primary" @click="verify($event)">Verify</a>
                    </div>

                    <div class="col-9" v-if="userAddressBeingEdited ">
                        <input class="form-control" id="a1" v-model="User.AddressLine1" placeholder="House Number"  />
                    </div>
                    <div class="col-9" v-else>
                        <label>{{User.AddressLine1}}</label>
                    </div>

                    <div class="col-9" v-if="userAddressBeingEdited">
                        <input class="form-control" id="a2" v-model="User.AddressLine2" placeholder="Building Name"  />
                    </div>
                    <div class="col-9" v-else>
                        <label>{{User.AddressLine2}}</label>
                    </div>
                    <div class="col-9" v-if="userAddressBeingEdited">
                        <input class="form-control" id="a3" v-model="User.AddressLine3" placeholder="Locality"  />
                    </div>
                    <div class="col-9" v-else>
                        <label>{{User.AddressLine3}}</label>
                    </div>
                    <div class="col-9" v-if="userAddressBeingEdited">
                        <input class="form-control" id="a4" v-model="User.AddressLine4" placeholder="Locality"   />
                    </div>
                    <div class="col-9" v-else>
                        <label>{{User.AddressLine4}}</label>
                    </div>
                    <div class="col-9" v-if="userAddressBeingEdited">
                        <input id="city" class="form-control" placeholder="City Name" v-model="User.City.Name"
                        v-on:input="onCityChange($event)" v-on:keyup.down="navigate($event,0,current.Cities.length)" v-if="User.City"  />
                    </div>
                    <div class="col-9" v-else>
                        <label>{{User.City.Name}}-{{User.State.Name}}</label>
                    </div>

                    <div class="col-9" v-if="userAddressBeingEdited">
                        <input id="pincode" class="form-control" placeholder="Pin Code"
                        v-model="User.PinCode.PinCode" v-on:input="onPinCodeChange($event)"
                        v-on:keyup.down="navigate($event,0,current.PinCodes.length)" v-if="User.PinCode"  />
                    </div>
                    <div class="col-9" v-else>
                        <label>{{User.PinCode.PinCode}}</label>
                    </div>

                    <div class="col-9">
                        <label>VPA:</label>
                    </div>
                    <div class="col-12" >
                        <input class="form-control" id="vpa" v-model="User.VirtualPaymentAddress" placeholder="UPI/Payment Address" />
                    </div>
                    <div class="col-12" >
                        <input class="form-control" id="bankname" v-model="User.NameAsInBankAccount" placeholder="Name As In Bank" />
                    </div>
                    <div class="col-12 d-flex justify-content-end" >
                        <a href="#/" class="btn btn-primary" role="button" v-on:click="saveUser($event)" >
                            Save
                        </a>
                    </div>
                    <div class="col-12 small" >
                        <p>** Your virtual payment Address would be used to receive payments into your bank account. Please enter this correctly.
                        Entering incorrectly can cause money to reach some one else's account. **</p>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <label class="d-block text-muted">Mobile Number</label>
                    {{User.PhoneNumber}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <label class="d-block text-muted">Email Address</label>
                    {{User.Email ? User.Email : 'Email not registered'}}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-4">
                    <h2>Mobile(s)</h2>
                </div>
                <div class="col d-flex flex-row justify-content-end">
                    <button class="btn btn-primary" v-if="!userPhoneBeingEdited" v-on:click="viewAddPhone()">Add New
                        Mobile</button>
                </div>
                <div class="col-12">
                    <div v-if="userPhoneBeingEdited">
                        <div v-for="(userPhone,index) in User.UserPhones">
                            <div v-if="userPhone.Id && userPhone.Validated && userPhone.Validated === 'N'">
                                <p class="text-muted mb-1">OTP sent to {{userPhone.PhoneNumber}}</p>
                                <div class="row no-gutters">
                                    <div class="col-8">
                                        <input v-bind:id="'otp-'+index" class="form-control" v-model="userPhone.Otp"
                                            placeholder="Otp" />
                                    </div>
                                    <div class="col-4 verify-phone">
                                        <a class="btn btn-primary" href="#" role="button"
                                            v-on:click="verifyPhone(userPhone)">
                                            Verify
                                        </a>
                                        <i class="fas fa-times" v-on:click="destroyPhone(userPhone)"></i>
                                    </div>
                                </div>
                            </div>
                            <div v-if="!userPhone.Id">
                                <p class="text-muted mb-1">
                                    Enter Your Other Mobile No.
                                </p>
                                <div class="row no-gutters">
                                    <div class="col-8 pr-2">
                                        <input v-bind:id="'phone-'+index" class="form-control form-control-sm"
                                            v-model="userPhone.PhoneNumber" placeholder="Mobile number" />
                                    </div>
                                    <div class="col-4 d-flex flex-row justify-content-end">
                                        <a class="btn btn-sm btn-primary" href="#" role="button"
                                            v-on:click="addPhone(userPhone)">
                                            Get OTP
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-list user-list">
                <div class="row py-2 border-top"
                    v-if="userPhone.Id && userPhone.Validated && userPhone.Validated === 'Y'"
                    v-for="(userPhone,index) in User.UserPhones">
                    <div class="col-4">
                        {{userPhone.PhoneNumber}}
                    </div>
                    <div class="col-8 text-right text-success" v-if="userPhone.PhoneNumber === User.PhoneNumber">
                        <small class="text-success">
                            Default
                        </small>
                    </div>
                    <div class="col-8 text-right"
                        v-if="(userPhone.Validated && userPhone.Validated === 'Y') && userPhone.PhoneNumber !== User.PhoneNumber">
                        <a href="#" role="button" v-on:click="makePrimaryPhone(userPhone)">
                            Make as Default
                        </a>
                        <i class="fas fa-trash-alt" v-on:click="destroyPhone(userPhone)"></i>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-4">
                    <h2>Emails(s)</h2>
                </div>
                <div class="col d-flex flex-row justify-content-end">
                    <button class="btn btn-primary" v-if="!userEmailBeingEdited" v-on:click="viewAddEmail()">Add New
                        Email</button>
                </div>
                <div class="col-12">
                    <div v-if="userEmailBeingEdited">
                        <div v-for="(userEmail,index) in User.UserEmails">
                            <div v-if="userEmail.Id && userEmail.Validated && userEmail.Validated === 'N'">
                                <p class="text-muted mb-1">OTP sent to {{userEmail.Email}}</p>
                                <div class="row no-gutters">
                                    <div class="col-8">
                                        <input v-bind:id="'email-otp-'+index" class="form-control"
                                            v-model="userEmail.Otp" placeholder="Otp" />
                                    </div>
                                    <div class="col-4 verify-email">
                                        <a class="btn btn-primary" href="#" role="button"
                                            v-on:click="verifyEmail(userEmail)">
                                            Verify
                                        </a>
                                        <i class="fas fa-times" v-on:click="destroyEmail(userEmail)"></i>
                                    </div>
                                </div>
                            </div>
                            <div v-if="!userEmail.Id">
                                <p class="text-muted mb-1">
                                    Enter Your Other Email.
                                </p>
                                <div class="row no-gutters">
                                    <div class="col-8 pr-2">
                                        <input v-bind:id="'email-'+index" class="form-control form-control-sm"
                                            v-model="userEmail.Email" placeholder="Email Id" />
                                    </div>
                                    <div class="col-4">
                                        <a class="btn btn-sm btn-primary" href="#" role="button"
                                            v-on:click="addEmail(userEmail)">
                                            Get OTP
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-list user-list">
                <div class="row py-2 border-top"
                    v-if="userEmail.Id && userEmail.Validated && userEmail.Validated === 'Y'"
                    v-for="(userEmail,index) in User.UserEmails">
                    <div class="col-4">
                        {{userEmail.Email}}
                    </div>
                    <div class="col-8 text-right" v-if="userEmail.Email === User.Email">
                        <small class="text-success">
                            Default
                        </small>
                    </div>
                    <div class="col-8 text-right"
                        v-if="(userEmail.Validated && userEmail.Validated === 'Y') && userEmail.Email !== User.Email">
                        <a href="#" role="button" v-on:click="makePrimaryEmail(userEmail)">
                            Make as Default
                        </a>
                        <i class="fas fa-trash-alt" v-on:click="destroyEmail(userEmail)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
