<script type="text/javascript" src="/resources/scripts/node_modules/lockr/lockr.min.js" defer></script>
<script type="text/javascript" src="/resources/scripts/node_modules/axios/dist/axios.min.js" defer></script>
<script type="text/javascript" src="/resources/scripts/node_modules/vue/dist/vue.js" defer></script>
<script type="text/javascript" src="/resources/scripts/swf/js/entity_helper.js" defer></script>

<link rel="preload" as="style" href="/fragments/css/mandi.css" 
    onload="this.onload=null;this.rel='stylesheet'" />
<script type="text/javascript" src="/fragments/js/util.js" defer></script>
<script type="text/javascript">

    $(function () {
        var searchParams = (new URL(window.location)).searchParams;
        var user_id = searchParams.get("id");

        new Vue({
            el: '#profile',
            data: {
                Lockr: Lockr,
                User: { VirtualPaymentAddress: "", DateOfBirth: "", City: { Name: "" }, PinCode: { PinCode: "" } },

                userPhoneBeingEdited: false,
                userEmailBeingEdited: false,
                userAddressBeingEdited: false,
                userPasswordBeingEdited: false,
                userVpaBeingEdited: false,
                kycSelectedFileName: "",
                Password1 : "",
                Password2 : "",
                current: {
                    Cities: [],
                    PinCodes: [],
                    lookupselectionIndex: -1,
                },
                Steps : [ "Preference", "Password","Address" ],
                NumStepsComplete: 0
            },
            created: function () {
                self = this;
                self.User = { Id: user_id || Lockr.get("User").Id };
                self.fixUserAttributes();
                showSpinner();
                api().url("/users/show/" + self.User.Id).get().then(function (response) {
                    self.User = response.User;
                    self.fixUserAttributes();
                    self.showApp();
                }).finally(function(){
                    hideSpinner();
                });
            },
            methods: {
                enableNextStep: function(event,showMessage){
                    event && event.preventDefault();
                    let self = this;
                    if (!self.User.Seller){
                        self.NumStepsComplete = 0;
                        return ;
                    }else {
                        if (self.User.PasswordSet !== 'Y'){
                            self.NumStepsComplete = 1;
                            self.editPassword(null);
                        }else {
                            if (!self.User.AddressLine1 || !self.User.City || !self.User.City.Name) {
                                self.User.LongName = "";
                            }
                            if (self.User.LongName.length <= 0 ){
                                self.NumStepsComplete = 2;
                                if (self.User.Seller === 'Y' ){
                                    showMessage && showErrorMessage("Please enter your name and address or upload your EKyc information");
                                }else {
                                    showMessage && showErrorMessage("Let us know your name and address.");
                                }
                            }else {
                                self.NumStepsComplete = 3;
                            }
                        }
                    }
                    return true;
                },
                isStepEnabled: function(step){
                    let self = this;
                    return self.Steps.indexOf(step) <= self.NumStepsComplete;
                },
                fixUserAttributes: function () {
                    let self = this;
                    self.Password1 = "" ;
                    self.Password2 = "" ;
                    if (!self.User.City) {
                        self.User.City = {};
                    }
                    if (!self.User.PinCode) {
                        self.User.PinCode = {};
                    }
                    if (!self.User.UserPhones) {
                        self.User.UserPhones = [];
                    }
                    self.checkUserPhones();
                    if (!self.User.UserEmails) {
                        self.User.UserEmails = [];
                    }
                    //self.vmprofile.User.UserEmails.push({ "Email": "" , Validated : "N"});
                    self.checkUserEmails();
                    self.userAddressBeingEdited = false;
                    self.userVpaBeingEdited = false;
                    self.userPasswordBeingEdited = false;
                    if (!user_id || Lockr.get("User").Id === user_id) {
                        Lockr.set("User", self.User);
                    }

                    self.enableNextStep(null,false);
                },
                isKeyTriggerable: function (e) {
                    return (e && e.target.value.length > 1);
                },
                onCityChange: function (e) {
                    e && e.preventDefault();
                    if (!this.isKeyTriggerable(e)) {
                        return;
                    }
                    let self = this;
                    new Autocomplete("cities", e.target).search().then(function (response) {
                        if (!response) {
                            return
                        }
                        self.current.Cities = response.Cities;
                        self.loadLookupEntries(e.target);
                        Vue.set(self.current, "Cities", self.current.Cities);
                    });
                },
                onCitySelect: function (e, item) {
                    e && e.preventDefault();
                    let self = this;
                    self.hideKeyboard().then(function(){
                        self.User.City = item;
                        self.User.State = item.State;
                        self.User.Country = item.State.Country;
                        self.current.Cities = [];
                    });
                },
                onPinCodeChange: function (e) {
                    e && e.preventDefault();
                    if (!this.isKeyTriggerable(e)) {
                        return;
                    }

                    let self = this;
                    new Autocomplete("pin_codes", e.target).search("PIN_CODE").then(function (response) {
                        if (!response) {
                            return
                        }
                        self.current.PinCodes = response.PinCodes;
                        self.loadLookupEntries(e.target);
                    });
                },
                onPinCodeSelect: function (e, item) {
                    e && e.preventDefault();
                    let self = this;
                    self.hideKeyboard().then(function(){
                        self.User.PinCode = item;
                        if (self.User.PinCode.City && self.User.PinCode.City.Id){
                            self.User.City = self.User.PinCode.City;
                        }
                        self.current.PinCodes = [];
                    });
                },
                getParentDiv: function (element) {
                    var div = element;
                    while (div && div.tagName !== 'DIV') {
                        div = div.parentElement;
                    }
                    return div;
                },
                loadLookupEntries: function (element) {
                    var div = this.getParentDiv(element);
                    if (div) {
                        div.appendChild(this.$refs['lookupEntries']);
                    }
                },

                navigate: function (e, index, length) {
                    e && e.preventDefault();
                    let self = this;
                    this.current.lookupselectionIndex = (index % length);
                    let anchors = this.$refs['lookupEntries'].getElementsByTagName("a");
                    anchors[this.current.lookupselectionIndex].focus();
                },
                saveUser: function (e) {
                    e && e.preventDefault();
                    self = this;
                    showSpinner();
                    api().url("/users/save").parameters({ "User": self.User }).post().then(function (response) {
                        self.User = response.Users[0];
                        self.fixUserAttributes();
                    }).catch(function (err) {
                        showError(err);
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                onAadharKycFileChange: function (e) {
                    e.preventDefault();
                    let self = this;
                    self.kycSelectedFileName = e.target.files[0].name;
                },
                doAadharKyc: function (e) {
                    if (e) {
                        e.preventDefault();
                    }
                    var files = $("#aadharzipfile")[0].files;
                    if (!files.length) {
                        return;
                    }
                    var aadharzipfile = files[0];
                    var password = $("#aadharzippassword").val();

                    let self = this;
                    this.createDataFile(aadharzipfile, function (datafile) {
                        let formData = new FormData();
                        formData.append('zipfile', datafile);
                        formData.append('password', password);
                        formData.append('id',self.User.Id);
                        showSpinner();
                        api().url("/users/doAadharKyc").parameters(formData).headers({ "Content-Type": "multipart-formdata", "Accept": "application/json" }).post().then(function (response) {
                            console.log(response);
                            self.User = response.User;
                            self.fixUserAttributes();
                        }).catch(function (err) {
                            self.kycSelectedFileName = "";
                            showError(err);
                        }).finally(function(){
                            hideSpinner();
                        });
                    });
                },
                createDataFile: function (file, callback) {
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        callback(e.target.result);
                    }
                    reader.readAsDataURL(file);
                },

                verifyPhone: function (userPhone) {
                    self = this;
                    showSpinner();
                    api().url("/user_phones/validateOtp/" + userPhone.Id).parameters({ "Otp": userPhone.Otp }).post().then(function (response) {
                        if (response.UserPhone.Validated === 'Y') {
                            index = self.User.UserPhones.findIndex(function (currentValue) {
                                return currentValue.Id === userPhone.Id;
                            });
                            self.User.UserPhones.splice(index, 1, response.UserPhone);
                            self.checkUserPhones();
                        } else {
                            showErrorMessage("Otp doesnot match");
                        }

                    }).finally(function(){
                        hideSpinner();
                    });
                },

                makePrimaryPhone: function (userPhone) {
                    self = this;
                    if (!userPhone.Validated || userPhone.Validated !== 'Y') {
                        showErrorMessage("Only validated phone numbers can be made as primary phone number.");
                    } else {
                        showSpinner();
                        api().url("/users/save").parameters({ "User": { "Id": self.User.Id, "PhoneNumber": userPhone.PhoneNumber } }).post().then(function (response) {
                            self.User = response.Users[0];
                            self.fixUserAttributes();
                        }).catch(function (err) {
                            showError(err);
                        }).finally(function(){
                            hideSpinner();
                        });
                    }
                },
                destroyPhone: function (userPhone) {
                    let self = this;
                    api().url("/user_phones/destroy/" + userPhone.Id).get().then(function (response) {
                        index = self.User.UserPhones.findIndex(function (currentValue) {
                            return currentValue.Id === userPhone.Id;
                        });
                        self.User.UserPhones.splice(index, 1);
                        self.checkUserPhones();
                    }).catch(function (err) {
                        showError(err);
                    });

                },
                checkUserPhones: function () {
                    let self = this;
                    let allPhonesValidated = self.User.UserPhones.filter(user => user.Validated && user.Validated === 'N').length ? false : true;
                    self.userPhoneBeingEdited = !allPhonesValidated
                    if (allPhonesValidated) {
                        if (self.User.UserPhones.filter(p => p.PhoneNumber === "").length === 0) {
                            self.User.UserPhones.push({ "PhoneNumber": "" });
                        }
                    }
                },
                addPhone: function (userPhone) {
                    self = this;
                    showSpinner();
                    api().url("/user_phones/save").parameters({ "UserPhone": { "PhoneNumber": userPhone.PhoneNumber, "UserId": self.User.Id } }).post().then(function (response) {
                        index = self.User.UserPhones.findIndex(function (currentValue) {
                            return !currentValue.Id;
                        });
                        self.User.UserPhones.splice(index, 1, response.UserPhones[0]);
                        self.checkUserPhones();
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                viewAddPhone: function (status) {
                    this.userPhoneBeingEdited = status;
                },
                viewAddVPA: function (ev,status) {
                    ev.preventDefault();
                    this.userVpaBeingEdited = status;
                },
                verifyEmail: function (userEmail) {
                    self = this;
                    showSpinner();
                    api().url("/user_emails/validateOtp/" + userEmail.Id).parameters({ "Otp": userEmail.Otp }).post().then(function (response) {
                        if (response.UserEmail.Validated === 'Y') {
                            index = self.User.UserEmails.findIndex(function (currentValue) {
                                return currentValue.Id === userEmail.Id;
                            });
                            self.User.UserEmails.splice(index, 1, response.UserEmail);
                            self.checkUserEmails();
                        } else {
                            showErrorMessage("Otp doesnot match");
                        }
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                makePrimaryEmail: function (userEmail) {
                    self = this;
                    if (!userEmail.Validated || userEmail.Validated !== 'Y') {
                        showErrorMessage("Only validated emails can be made as primary email.");
                    } else {
                        showSpinner();
                        api().url("/users/save").parameters({ "User": { "Id": self.User.Id, "Email": userEmail.Email } }).post().then(function (response) {
                            self.User = response.Users[0];
                            self.fixUserAttributes();
                        }).catch(function (err) {
                            showError(err);
                        }).finally(function(){
                            hideSpinner();
                        });
                    }
                },
                destroyEmail: function (userEmail) {
                    self = this;
                    showSpinner();
                    api().url("/user_emails/destroy/" + userEmail.Id).get().then(function (response) {
                        index = self.User.UserEmails.findIndex(function (currentValue) {
                            return currentValue.Id === userEmail.Id;
                        });
                        self.User.UserEmails.splice(index, 1);
                        self.checkUserEmails();
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                checkUserEmails: function () {
                    let self = this;
                    let allEmailsValidated = self.User.UserEmails.filter(user => user.Validated && user.Validated === 'N').length ? false : true;
                    self.userEmailBeingEdited = !allEmailsValidated
                },
                addEmail: function (userEmail) {
                    self = this;
                    showSpinner();
                    api().url("/user_emails/save").parameters({ "UserEmail": { "Email": userEmail.Email, "UserId": self.User.Id } }).post().then(function (response) {
                        index = self.User.UserEmails.findIndex(function (currentValue) {
                            return !currentValue.Id;
                        });
                        self.User.UserEmails.splice(index, 1, response.UserEmails[0]);
                        self.checkUserEmails();
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                viewAddEmail: function (status) {
                    let self = this;
                    if (!self.userEmailBeingEdited && status) {
                        self.User.UserEmails.push({ "Email": "", Validated: "N" });
                        this.userEmailBeingEdited = status;
                    } else {
                        self.User.UserEmails.pop();
                        this.userEmailBeingEdited = status;
                    }
                },
                editAddress: function (event) {
                    let self = this;
                    if (event) {
                        event.preventDefault();
                    }
                    self.userAddressBeingEdited = true;
                },
                cancelEditAddress: function (event) {
                    let self = this;
                    if (event) {
                        event.preventDefault();
                    }
                    self.userAddressBeingEdited = false;
                },
                editPassword: function (event) {
                    let self = this;
                    if (event) {
                        event.preventDefault();
                    }
                    self.userPasswordBeingEdited = true;
                },
                cancelEditPassword: function (event) {
                    let self = this;
                    if (event) {
                        event.preventDefault();
                    }
                    self.userPasswordBeingEdited = false;
                },
                verify: function (event) {
                    event && event.preventDefault();
                    let self = this;
                    showSpinner();
                    api().url("/users/verify/" + self.User.Id).get().then(function (response) {
                        self.User = response.User;
                        self.fixUserAttributes();
                    }).finally(function(){
                        hideSpinner();
                    });
                },
                mystores: function(event){
                    let self = this; 
                    event && event.preventDefault();
                    window.location.replace("/sell");
                },
                isMyProfile: function(event){
                    let self = this;
                    return Lockr.get("User").Id == self.User.Id;
                },
                close: function (event) {
                    let self = this;
                    event && event.preventDefault();
                    if (!self.isMyProfile()) {
                        window.location.replace("/users/pendingKyc");
                    }else {
                        window.history.back();
                    }
                },
                showApp: function () {
                    let self = this;
                    $("#header").load("/fragments/html/header", {}, function () {
                        fixMenu();
                        $("#pageTitle").html(self.User.LongName.length > 0 ? "Manage Profile" : "Let us know you a bit.");
                        self.enableNextStep(null);
                        $("#root").show();
                    });
                },
                removeList: function (e) {
                    let elem = e.target;
                    let self = this;
                    self.hideKeyboard().then(function(){
                        self.current.Cities = [];
                        self.current.PinCodes = [];
                        $(".lookups-list").removeClass("offsetTop");
                    });
                },
                hideKeyboard: function(){
                    return new Promise(function(resolve,reject){
                        //let dummy = $("#dummy");
                        let dummy = $(document.documentElement);
                        setTimeout(function(){
                            dummy.focus();
                            setTimeout(function(){
                                resolve();
                            },50);
                        },50);
                    });
                },
                savePassword: function(event){
                    event && event.preventDefault();
                    let self = this;
                    if (self.chk_passsword_equals()){
                        self.User.Password = self.Password1;
                        self.saveUser(event)
                    }
                },
                chk_passsword_equals : function(){
                    return this.Password1.length >= 6 && this.Password1 === this.Password2   ;
                }
            }
        });
    });
</script>
<div id="root" style="display:none;">
    <!-- Header fragrament -->
    <div id="header">
    </div>
    <!-- body content -->
    <div id="profile" class="app-body" v-if="User.Id">
        <div class="container">
            <!-- Seller Flag -->
            <div v-if="isStepEnabled('Seller')">
                <div class="row">
                    <div class="col">
                        <h6 class="mt-3">Want to Sell on HumBhiOnline?</h6>
                    </div>
                </div>
                <div class="content-box">
                    <div class="form-row">
                        <div class="col">
                            <div class="col border py-1">
                                <!--
                                <input value="N" class="form-check-input align-middle" type="checkbox" id="seller"
                                    v-model="User.Seller" @change="saveUser($event)" true-value="Y" false-value="N">
                                <label class="form-check-label align-middle" for="seller">Do you wish to Sell?</label>
                                @change="saveUser($event)"
                                -->
                                <div class="align-middle mr-1">
                                    <small>
                                        Do you wish be a seller on HumBhiOnline?
                                    </small>
                                </div>
                                <div class="form-check-inline align-middle mr-1">
                                    <input class="form-check-input mb-0" type="radio" v-model="User.Seller"
                                        name="seller_n" id="seller_n" value="N" @change="saveUser($event)">
                                    <label class="form-check-label small" for="seller_n">No, Not right now</label>
                                </div>
                                <div class="form-check-inline align-middle mr-1">
                                    <input class="form-check-input mb-0" type="radio" v-model="User.Seller"
                                        name="seller_y" id="seller_y" value="Y" @change="saveUser($event)">
                                    <label class="form-check-label small" for="seller_y">Yes, I would like to sell</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Payment Option -->
                <div class="row" >
                    <div class="col">
                        <h6 class="mt-4 d-inline-block">UPI (Current A/c)</h6>
                        <p class="text-note text-muted mb-3" >Your virtual payment Address would be used to receive payments/refunds into your bank account. Please enter this correctly.<br/><b>Entering incorrectly can cause money to reach some one else's account when you are supposed to receive money.</b></p>
                    </div>
                </div>

                <div class="content-box" >
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-0 text-muted">UPI ID </p>
                            <p class="mb-0">{{User.VirtualPaymentAddress}}</p>
                        </div>
                        <div class="col-12 d-flex justify-content-end align-items-end">
                            <a href="#/" class="btn-close fas fa-edit mb-3" role="button" v-on:click="viewAddVPA($event,true)"
                                v-if="!userVpaBeingEdited">
                            </a>
                        </div>
                        <div class="col-12">
                            <p class="mb-0 text-muted">Name As In Bank</p>
                            <p class="mb-0">{{User.NameAsInBankAccount}}</p>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="userVpaBeingEdited">
                    <div class="col">
                        <div class="content-sub-box">
                            <div class="form-row mb-2">
                                <div class="col">
                                    <!-- <label class="mb-0 text-muted" for="vpa">UPI ID **</label> -->
                                    <input class="form-control form-control-sm" id="vpa"
                                        v-model="User.VirtualPaymentAddress" placeholder="UPI/VPA to your current A/c" />
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col">
                                    <!-- <label class="mb-0 text-muted" for="bankname">Name As In Bank</label> -->
                                    <input class="form-control form-control-sm" id="bankname"
                                        v-model="User.NameAsInBankAccount" placeholder="Name As In Bank" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col text-center">
                                    <button class="btn btn-light btn-sm" type="button"
                                        v-on:click="viewAddVPA($event,false)">Cancel</button>
                                    <button class="btn btn-primary btn-sm" type="submit" v-on:click="saveUser($event)">
                                        {{User.VirtualPaymentAddress || User.NameAsInBankAccount?"Update":"Submit"}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- HBO Balance -->
                <div class="row" v-if="User.Seller === 'Y'">
                    <div class="col">
                        <h6 class="mt-3">HumBhiOnline Subscription</h6>
                    </div>
                </div>
                <div class="content-box" v-if="User.Seller === 'Y'">
                    <div class="row">
                        <div class="col-7  d-flex align-items-center">
                            <small>
                                <span v-if="User.BalanceOrderLineCount <= 0">
                                    Zero Balance
                                </span>
                                <span v-else-if="User.BalanceOrderLineCount <= 10">
                                    Low Balance ({{User.BalanceOrderLineCount}})
                                </span>
                                <span v-else>
                                    Current Balance ({{User.BalanceOrderLineCount}})
                                </span>
                            </small>
                        </div>
                        <div class="col-5 d-flex justify-content-end">
                            <a class="btn btn-primary btn-sm" href="/dashboard?search=HumBhiOnline Subscription">
                                Recharge
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Home Address -->
            <div v-if="isStepEnabled('Address')">
                <!-- Kyc Option -->
                <div id="kyc" v-if="User.Seller === 'Y' && ( !User.Verified || User.Verified === 'N') ">
                    <div class="row" >
                        <div class="col">
                            <h6 class="mt-4 d-inline-block">KYC: (Recommended)</h6>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col">
                            <span class="small" v-if="User.Verified !== 'Y' ">Buyers trust sellers whose kyc is complete.
                                <br>To complete KYC, you need to do one of the following:
                                <ul>
                                    <li>Upload your offline-ekyc aadhar zip file (you can download from the official
                                        uidai
                                        <a href="https://resident.uidai.gov.in/offline-kyc">website</a>). </li>
                                    <li>Send an email to <a
                                            href="mailto:support@humbhionline.in">support@humbhionline.in</a> and
                                        request for a physical Verification appointment.
                                        (this would be chargable @ 50 Rs as we will need to send an agent to verify your
                                        home location.)</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="content-box" >
                        <div class="form-row">
                            <div class="col">
                                <div class="form-row no-gutters">
                                    <div class="col-12">
                                        <input type="file" class="file-upload" id="aadharzipfile" accept="application/zip"
                                            v-on:input="onAadharKycFileChange($event)" />
                                        <label class="w-100 btn btn-sm btn-primary" for="aadharzipfile">
                                            {{ kycSelectedFileName && kycSelectedFileName.length > 0 ? kycSelectedFileName :
                                                "Select Aadhar e-KYC zipfile"}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-row no-gutters" v-if="kycSelectedFileName && kycSelectedFileName.length >0" >
                                    <div class="col-8">
                                        <input id="aadharzippassword" class="form-control form-control-sm" type="password"
                                            placeholder="Zip file password?" />
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="#" class="btn btn-sm btn-block btn-primary" role="button" title="Upload"
                                            v-on:click="doAadharKyc($event)">
                                            Upload
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="mt-3">Address{{ (User.Seller === 'Y' && (!User.Verified || User.Verified === 'N')) ? 
                                                    "(As per KYC)" : "" }}</h6>
                    </div>
                    <div class="col text-right" v-if="User.Verified && User.Verified === 'Y' && User.Seller === 'Y'">
                        <span class="small mt-3 d-inline-block"><i class="fas fa-check mr-2"></i>KYC Complete</span>
                    </div>
                </div>
                <div class="content-box">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="btn-close fas fa-edit" v-if="!userAddressBeingEdited"
                                @click="editAddress($event)"></a>
                            <h6 class="m-0">{{ User.LongName }}&nbsp;</h6>
                            <p class="m-0 text-muted">
                                <span v-if="User.AddressLine1">{{User.AddressLine1}},</span>
                                <span v-if="User.AddressLine2">{{User.AddressLine2}},</span>
                                <span v-if="User.AddressLine3">{{User.AddressLine3}},</span>
                                <span v-if="User.AddressLine4">{{User.AddressLine4}},</span>
                                <span
                                    v-if="User.City && User.State && User.City.Name && User.State.Name">{{User.City.Name}}-{{User.State.Name}},</span>
                                <span v-if="User.PinCode && User.PinCode.PinCode">{{User.PinCode.PinCode}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="show-update" v-if="userAddressBeingEdited">
                    <div class="form-row">
                        <div class="col-12">
                            <h6>Update Your Name and Address</h6>
                        </div>
                        <div class="col-12 mb-2">
                            <input class="form-control form-control-sm" id="name" v-model="User.LongName"
                                placeholder="Full Name" />
                        </div>
                        <div class="col-6 mb-2">
                            <input class="form-control form-control-sm" id="a1" v-model="User.AddressLine1"
                                placeholder="House Number" />
                        </div>
                        <div class="col-6 mb-2">
                            <input class="form-control form-control-sm" id="a2" v-model="User.AddressLine2"
                                placeholder="Building Name" />
                        </div>
                        <div class="col-6 mb-2">
                            <input class="form-control form-control-sm" id="a3" v-model="User.AddressLine3"
                                placeholder="Locality" />
                        </div>
                        <div class="col-6 mb-2">
                            <input class="form-control form-control-sm" id="a4" v-model="User.AddressLine4"
                                placeholder="Locality" />
                        </div>
                        <div class="col-6 mb-2">
                            <input id="city" class="form-control form-control-sm" placeholder="City Name"
                                v-model="User.City.Name" v-on:input="onCityChange($event)" v-on:focus="removeList($event)"
                                v-on:keyup.down="navigate($event,0,current.Cities.length)" v-if="User.City" />
                        </div>
                        <div class="col-6 mb-2">
                            <input id="pincode" class="form-control form-control-sm" placeholder="Pin Code"
                                v-model="User.PinCode.PinCode" v-on:input="onPinCodeChange($event)" v-on:focus="removeList($event)"
                                v-on:keyup.down="navigate($event,0,current.PinCodes.length)" v-if="User.PinCode" />
                        </div>
                        <div class="col-12 text-right">
                            <a href="#/" class="btn btn-sm btn-light mr-2" @click="cancelEditAddress($event)">Cancel</a>
                            <a href="#/" v-if="!User.Verified || User.Verified === 'Y' || Lockr.get('User').Staff === 'N'"
                                class="btn btn-sm btn-primary" @click="saveUser($event)">Submit</a>
                            <a href="#" v-if="!User.Verified || User.Verified === 'N' && Lockr.get('User').Staff === 'Y'"
                                class="btn btn-sm btn-primary" @click="verify($event)">Verify</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Set Password -->
            <div v-if="isStepEnabled('Password')">
                <div class="row">
                    <div class="col">
                        <h6 class="mt-4 d-inline-block">Set Password</h6>
                    </div>
                </div>
                <div class="content-box">
                    <div class="row">
                        <div class="col" v-if="!userPasswordBeingEdited">
                            <a href="#" class="btn-close fas fa-edit" @click="editPassword($event)"></a>
                            <p class="m-0 text-muted">
                                <span v-if="User.PasswordSet === 'Y'">******</span>
                                <span v-else>Not Set</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="show-update" v-if="userPasswordBeingEdited">
                    <form action="#" @submit.prevent="savePassword($event)" method="post">
                        <div class="col-12">
                            Set Password (min 6 characters)
                        </div>
                        <div class="form-row">
                            <div class="col-12 mb-2">
                                <input class="form-control form-control-sm" id="password" v-model="Password1"
                                    placeholder="Enter New Password" type="password" autocomplete="new-password" />
                            </div>
                            <div class="col-12 mb-2">
                                <input class="form-control form-control-sm" id="password2" v-model="Password2"
                                    placeholder="Enter Password Again" type="password" autocomplete="new-password" />
                            </div>
                            <div class="col-12 text-right">
                                <a href="#/" class="btn btn-sm btn-light mr-2" @click="cancelEditPassword($event)">Cancel</a>
                                <button :disabled="!chk_passsword_equals()"
                                    class="btn btn-sm btn-primary" type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Mobile Update -->
            <div v-if="NumStepsComplete >= 3">
                <div class="row">
                    <div class="col">
                        <h6 class="mt-3 d-inline-block">Mobile Number</h6>
                    </div>
                    <div class="col d-flex justify-content-end align-items-end">
                        <button class="btn btn-sm btn-outline-primary mb-1" v-if="!userPhoneBeingEdited"
                            v-on:click="viewAddPhone(true)">+ New
                            Mobile</button>
                    </div>
                </div>
                <div class="content-box">
                    <div class="data-list user-list" v-if="User.UserPhones.length !== 0">
                        <div class="form-row" v-if="userPhone.Id && userPhone.Validated && userPhone.Validated === 'Y'"
                            v-for="(userPhone,index) in User.UserPhones">
                            <div class="col-8">
                                {{userPhone.PhoneNumber}}
                            </div>
                            <div class="col-4 text-right text-success" v-if="userPhone.PhoneNumber === User.PhoneNumber">
                                <small class="text-success">
                                    Default
                                </small>
                            </div>
                            <div class="col-4 text-right"
                                v-if="(userPhone.Validated && userPhone.Validated === 'Y') && userPhone.PhoneNumber !== User.PhoneNumber">
                                <small>
                                    <a href="#" role="button" v-on:click="makePrimaryPhone(userPhone)">
                                        Make as Default
                                    </a>
                                    <i class="ml-1 fas fa-trash-alt"
                                            v-on:click="destroyPhone(userPhone)"></i>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted" v-if="User.UserPhones.length === 0">Mobile is not registered.</div>
                </div>
                <div class="row" v-if="userPhoneBeingEdited">
                    <div class="col">
                        <div class="content-sub-box">
                            <div v-for="(userPhone,index) in User.UserPhones">
                                <a class="btn-close fa fa-times" v-on:click="destroyPhone(userPhone)"></a>
                                <div v-if="userPhone.Id && userPhone.Validated && userPhone.Validated === 'N'">
                                    <p class="text-muted mb-1">OTP sent to {{userPhone.PhoneNumber}}</p>
                                    <div class="form-row">
                                        <div class="col">
                                            <input v-bind:id="'otp-'+index" class="form-control form-control-sm"
                                                v-model="userPhone.Otp" placeholder="Otp" />
                                        </div>
                                        <div class="col-3 verify-phone">
                                            <a class="btn btn-block btn-sm btn-primary" href="#" role="button"
                                                v-on:click="verifyPhone(userPhone)">
                                                Verify
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="!userPhone.Id">
                                    <a class="btn-close fa fa-times" v-on:click="viewAddPhone(false)"></a>
                                    <p class="text-muted mb-1">
                                        Enter Your Other Mobile No.
                                    </p>
                                    <div class="form-row">
                                        <div class="col">
                                            <input v-bind:id="'phone-'+index" class="form-control form-control-sm"
                                                v-model="userPhone.PhoneNumber" placeholder="Mobile number" />
                                        </div>
                                        <div class="col-4">
                                            <a class="btn btn-block btn-sm btn-primary" href="#" role="button"
                                                v-on:click="addPhone(userPhone)">
                                                Get OTP
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Email Update -->
            <!-- Emails not going out.!! Airtel to Fix
            <div class="row">
                <div class="col">
                    <h6 class="mt-4 d-inline-block">Email</h6>
                </div>
                <div class="col d-flex justify-content-end align-items-end">
                    <button class="btn mb-1 btn-sm btn-outline-primary" v-if="!userEmailBeingEdited"
                        v-on:click="viewAddEmail(true)">+ New
                        Email</button>
                </div>
            </div>
            <div class="content-box">
                <div class="data-list user-list" v-if="User.UserEmails.length !== 0">
                    <div class="form-row" v-if="userEmail.Id && userEmail.Validated && userEmail.Validated === 'Y'"
                        v-for="(userEmail,index) in User.UserEmails">
                        <div class="col-7 text-truncate">
                            {{userEmail.Email}}
                        </div>
                        <div class="col-5 text-right" v-if="userEmail.Email === User.Email">
                            <small class="text-success">
                                Default
                            </small>
                        </div>
                        <div class="col-5 text-right"
                            v-if="(userEmail.Validated && userEmail.Validated === 'Y') && userEmail.Email !== User.Email">
                            <small>
                                <a href="#" role="button" v-on:click="makePrimaryEmail(userEmail)">
                                    Make as Default
                                </a>
                                <i class="ml-1 fas fa-trash-alt" v-on:click="destroyEmail(userEmail)"></i>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="text-muted"
                    v-if="User.UserEmails.length === 0 || (User.UserEmails.length === 1 &&  User.UserEmails[0].Validated === 'N')">
                    Email Address is not registered.</div>
            </div>
            <div class="row" v-if="userEmailBeingEdited">
                <div class="col">
                    <div class="content-sub-box">
                        <div v-for="(userEmail,index) in User.UserEmails">
                            <div v-if="userEmail.Id && (userEmail.Validated && userEmail.Validated === 'N')">
                                <a class="btn-close fas fa-times" v-on:click="destroyEmail(userEmail)"></a>
                                <p class="text-muted mb-1">OTP sent to {{userEmail.Email}}</p>
                                <div class="form-row">
                                    <div class="col">
                                        <input v-bind:id="'email-otp-'+index" class="form-control form-control-sm"
                                            v-model="userEmail.Otp" placeholder="Otp" />
                                    </div>
                                    <div class="col-3 verify-email">
                                        <a class="btn btn-block btn-sm btn-primary" href="#" role="button"
                                            v-on:click="verifyEmail(userEmail)">
                                            Verify
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div v-if="!userEmail.Id">
                                <a class="btn-close fa fa-times" v-on:click="viewAddEmail(false)"></a>
                                <p class="text-muted mb-1">Enter Your Other Email.</p>
                                <div class="form-row no-gutters">
                                    <div class="col pr-2">
                                        <input v-bind:id="'email-'+index" class="form-control form-control-sm"
                                            v-model="userEmail.Email" placeholder="Email Id" />
                                    </div>
                                    <div class="col-4">
                                        <a class="btn btn-block btn-sm btn-primary" href="#" role="button"
                                            v-on:click="addEmail(userEmail)">
                                            Get OTP
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            Airtel
            -->



            <div class="content-box mt-4">
                <div class="row">
                    <div class="col d-flex flex-row justify-content-end">
                        <button class="btn btn-block btn-primary btn-sm" @click="NumStepsComplete >=3 ? close($event) : enableNextStep($event,true)">
                            {{ NumStepsComplete >= 3 ? "Close" : "Next"}}</button>
                    </div>
                    <div class="col d-flex flex-row justify-content-end" v-if="NumStepsComplete >=3 && User.Seller === 'Y' && isMyProfile()">
                        <button class="btn btn-block btn-primary btn-sm" @click="mystores($event)">My Stores</button>
                    </div>
                </div>
            </div>



            <div class="mb-3"></div>
            <div id="lookupEntries" ref="lookupEntries" class="lookups-list">
                <a href="#" class="text-truncate" v-for="(city,index) in current.Cities"
                    v-if="current.Cities.length > 0" v-on:click="onCitySelect($event,city)"
                    v-on:keyup.enter="onCitySelect($event,city)" v-on:keyup.space="onCitySelect($event,city)"
                    v-on:keyup.up="navigate($event,index-1,current.Cities.length)"
                    v-on:keyup.down="navigate($event,index+1,current.Cities.length)">{{city.Name}} -
                    {{city.State.Name}}</a>
                <a href="#" class="text-truncate" v-for="(pincode,index) in current.PinCodes"
                    v-if="current.PinCodes.length > 0" v-on:click="onPinCodeSelect($event,pincode)"
                    v-on:keyup.space="onPinCodeSelect($event,pincode)"
                    v-on:keyup.enter="onPinCodeSelect($event,pincode)"
                    v-on:keyup.up="navigate($event,index-1,current.PinCodes.length)"
                    v-on:keyup.down="navigate($event,index+1,current.PinCodes.length)">{{pincode.PinCode}} </a>
            </div>
        </div>
        <div class="pop-overlay" v-if="userAddressBeingEdited || userPasswordBeingEdited"></div>
    </div>
</div>
