<div class="container mr-4">
    <div class="row">
        <div class="col-12">
            <p> fill up
            Name,
            Address,
            Alternate Phone number.
            Email</p>
        </div>
        <div class="col-12">
            <label for="seller">Do you have product to sell?</label>
            <input type="checkbox" id="seller" value=""></input>
        </div>
        <div class="">
            If seller, ask for upi for getting digital payments if he has one. (not mandatory if he only does cod)
        </div>
        <div class="">
            Add Product to Sell.
            Company ? (Mandi or seller's)
            Item Name,
            GST Code,
            Sku Code (Upc code if available or same as Item name)
            Package UOM
            MRP
            Minimum Order Quantity.
            Multiple Order Quantity.
            Upload Image of Product to be handled.
            GST Rate
            Dimensions.(l,w,h,weight)
            TrackInventory(true/false)
            Qty In Inventory.



            Must be able to upload via xls

        </div>
    </div>
</div>
