<link rel="stylesheet" href="/fragments/css/mandi.css">
<script type="application/javascript">
function logout(ev){
    Lockr.rm("SignUp");
    Lockr.rm("User");
    return true;
}

function size(obj) {
    var size = 0, key;
    var numLines = 0;
    for (key in obj) {
        if (obj.hasOwnProperty(key)) {
            size++;
            numLines += obj[key].OrderLines.length;
        }
    }
    return size + "(" + numLines + ")";
};


$(function(){
    let count = size(Lockr.get("facilityOrders"));
    //console.log(count);
    if (count){
        $("#orderCount").text(count);
    }
    let appmenu = $('#appmenu');
    $(window).on('click', function(event){
        let clickOver = $(event.target);
        if (appmenu.attr('aria-expanded') == 'true' &&  clickOver.attr("id") !== 'appmenu' ){
            // Click on navbar toggler button
            appmenu.click();
        }
    });

    subscribe(function (subscription) {
        if (subscription) {
            api().url("/devices/save").parameters({ 'Device': { 'DeviceId': subscription, 'UserId': Lockr.get("User").Id } }).post()
            .then(function (response) {
                console.log("Subscription made on the server");
            });
        }
    });

})
</script>
<style>
    .subscript {
        position: absolute;
        margin-left: 15px;
        font-size: 10px;
        color: rgb(0,0,105);
    }
</style>



<div class="fixed-top app-header">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button id="appmenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand m-logo" href="/buy">
              <span class="subscript" id="orderCount"></span>
              <img  src="/resources/web_manifest/64x64.png" alt=""><img>
          </a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                <li class="nav-item">
                    <a class="fas fa-user-circle nav-link" href="/users/html/profile"> Profile</a>
                </li>

                <li class="nav-item dropdown-submenu">
                    <a class="fas fa-coins nav-link dropdown-toggle" href="" id="navbarSellingMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sales</a>
                    <ul class="dropdown-menu mt-1 ml-auto mr-auto">
                        <li class="dropdown-item">
                            <a class="fas fa-coins nav-link" href="/sell">
                                Products
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="fas fa-list nav-link" href="/orders?type=sales">
                                Orders
                            </a>
                        </li>
                    </ul>
                </li>

              <li class="nav-item">
                <a class="fas fa-list nav-link" href="/orders?type=purchases"> Purchases</a>
              </li>
              <li class="nav-item">
                  <a class="fas fa-power-off nav-link" onclick="logout(event)" href="/logout" > Logout</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>

</div>
<div class="fixed-bottom app-footer">
    <div class="row">
    </div>
</div>
